extends /layouts/main_layout
block vars
	- var title = "Страницы не существует";
block content
	.Container.Main_container
		.NoResults.NoResults-404
			.NoResults_img
				img(src="/img/404_new.png", alt="404")
			.NoResults_text страница не найдена
			a(href="/").BtnBlue.BtnBlue-frontpage Перейти на главную