extends /layouts/main_layout
block vars
	- var title = "Статья 2";
	- var mainModifiers = "Main-infoPages Main-article";
block content
	.Container.Main_container
		.Main_columns
			.Main_sidebar
				include /includes/blocks/ArticleMenu
			.Main_content
				.Article
					h1.Article_title Заголовок. Текст заголовка. Текст...
					.Article_text
						p Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи.
					ul.Statistics.Article_statistics
						li.Statistics_item
							a(href="javascript:;").Like
								include /includes/svg/SvgIco/icon_heart
								span.Like_count 0
						li.Statistics_item
							include /includes/svg/SvgIco/eye
							.Statistics_number 2626
					a(href="javascript:;", data-src="#LeaveNote").BtnOrange.OpenPopupLink.Article_leaveNote Оставить заметку
block page_bottom
	include /includes/blocks/LeaveNote
	script(src="/js/article.js")