extends /layouts/main_layout
block vars
	- var title = "Sony Corporation";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companyPage";
block content
	.Container.Container-company.Main_container
		.Company
			.MobileHeader.hidden-smPlus
				a(href="#").BtnBack.MobileHeader_btnBack
					include /includes/svg/SvgIco/arrow_left
				.MobileHeader_titleWrapper
					h1.MobileHeader_title.MobileHeader_title-company #{title}
				a(href="#ContactPopupMenu").PopupMenuLink.MobileHeader_phoneIcon
					include /includes/svg/contacts/phone
			.CompanyInfo.CompanyInfo-company.Company_info.hidden-smPlus
				.CompanyInfo_logo
					img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyInfo_logoImg
				.CompanyInfo_wrapper
					.CompanyInfo_nameWrapper
						h4.CompanyInfo_name Sony Corporation
						.Bookmark.Bookmark-company
							a(href="#CompanyPopupNotification", title="Сохранить в закладки").Bookmark_icon
								include /includes/svg/SvgIco/bookmark
					.Rating.Rating-companyHeader
						span.Rating_icon
							include /includes/svg/SvgIco/icon_star
						span.Rating_number 7,5
						span.Rating_max / 10
						span.Rating_label (55 отзывов)
			.Company_left.hidden-xs
				.CompanyPhoto
					img(src="/img/company_photo.jpg", alt="Company photo").CompanyPhoto_img
					.Rating.Rating-company.Rating-center.CompanyPhoto_rating
						span.Rating_icon
							include /includes/svg/SvgIco/icon_star
						span.Rating_number 7,5
						span.Rating_max / 10
						span.Rating_label (55 отзывов)
					//- a(href="#").BtnBlue.BtnBlue-company Написать сообщение
					.Control
						a(href="javascript:;").BtnOutline.BtnOutline-blue.BtnOutline-company.Control_btn Управление
						ul.Control_menu
							li.Control_item
								a(href="#").Control_link
									include /includes/svg/SvgIco/settings
									.
										Настройки
							li.Control_item
								a(href="#").Control_link
									include /includes/svg/SvgIco/stat
									.
										Статистика
			.Company_right
				h1.Company_title.hidden-xs Sony Corporation
				include /includes/blocks/MenuSectionCompany
				include /includes/blocks/Contacts
	include /includes/blocks/ContactPopupMenu
	include /includes/blocks/WriteMessagePopup
	include /includes/blocks/CallPopup
	include /includes/blocks/RequestCallPopup
	include /includes/blocks/CallWaitingPopup
	include /includes/blocks/CompanyPopupNotification
	include /includes/blocks/BookmarkSettingsPopup
block page_bottom
	script(src="/js/company.js")