extends /layouts/main_layout
block vars
	- var title = "Sony Corporation";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companyPage";
block content
	.Container.Container-company.Main_container
		.Company
			.MobileHeader.MobileHeader-company.hidden-smPlus
				a(href="#").BtnBack.MobileHeader_btnBack
					include /includes/svg/SvgIco/arrow_left
				.MobileHeader_titleWrapper
					h1.MobileHeader_title #{title}
				//- a(href="#PopupShare", data-action="openMobilePopup", data-mobile-popup-title="Sony Corporation").DotsIcon.MobileHeader_dotsIcon
				//- 	include /includes/svg/SvgIco/dots
				a(href="#ExtraMenuPopup", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
					include /includes/svg/SvgIco/dots
			.CompanyInfo.CompanyInfo-company.Company_info.hidden-smPlus
				.CompanyInfo_logo
					img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyInfo_logoImg
				.CompanyInfo_wrapper
					//- h4.CompanyInfo_name Sony Corporation / Сони Электроникс Корпораи ещё чего-то там
					.CompanyInfo_nameWrapper
						h4.CompanyInfo_name Sony Corporation
						.Bookmark.Bookmark-active.Bookmark-company#MobileCompanyBookmark
							a(href="#CompanyPopupNotification", title="Сохранить в закладки").Bookmark_icon
								include /includes/svg/SvgIco/bookmark
					.Rating.Rating-companyHeader.Rating-dropdown
						a(href="javascript:;").Rating_wrapperLink
							span.Rating_icon
								include /includes/svg/SvgIco/icon_star
							span.Rating_number 7,5
							span.Rating_max / 10
							span.Rating_label (55 отзывов)
						.Rating_dropdown
							a(href="javascript:;").Rating_closeDropdown.hidden-smPlus
								include /includes/svg/icon_close
							include /includes/blocks/AdvantagesRatingCompany
						.Overlay.Overlay-rating
			.Company_btnWrapper
				a(href="#WriteMessagePopup", data-action="openMobilePopup").BtnBlue.BtnBlue-companyHeader.hidden-smPlus.Company_btn Написать
				a(href="#CallPopup", data-action="openMobilePopup").BtnBlue.BtnBlue-companyHeader.hidden-smPlus.Company_btn Позвонить
				a(href="#ExtraMenuPopup", data-action="openMobilePopup").BtnGrey.BtnGrey-dots.hidden-smPlus.Company_btn
					include /includes/svg/SvgIco/dots
			.Company_left.hidden-xs
				.CompanyPhoto.Company_photo
					img(src="/img/company_photo.jpg", alt="Company photo").CompanyPhoto_img
					.Rating.Rating-company.Rating-center.CompanyPhoto_rating
						span.Rating_icon
							include /includes/svg/SvgIco/icon_star
						span.Rating_number 7,5
						span.Rating_max / 10
						span.Rating_label (55 отзывов)
					a(href="#").BtnBlue.BtnBlue-company.hidden Написать сообщение
					.ContextMenu
						a(href="javascript:;", data-action="openContextMenu").BtnOutline.BtnOutline-blue.BtnOutline-company Управление
						ul.ContextMenu_menu
							li.ContextMenu_item
								a(href="#").ContextMenu_link
									include /includes/svg/SvgIco/settings
									.
										Настройки
							li.ContextMenu_item
								a(href="#").ContextMenu_link
									include /includes/svg/SvgIco/stat
									.
										Статистика
				include /includes/blocks/StatIcons-company
			.Company_right
				h1.Company_title.hidden-xs Sony Corporation
				include /includes/blocks/MenuSectionCompany
				.RatingSection.RatingSection-noBorderTop.Company_ratingSection
					.RatingSection_header
						h3.RatingSection_title Рейтинг#[span.hidden-xs  и отзывы]
						.DropdownSelect.DropdownSelect-companyProfile.RatingSection_dropdownSelect.hidden-smPlus
							select(name="categories").DropdownSelect_select
								option(value="all") по всем категориям
								option(value="employment") трудоустройство
								option(value="document_preparation") изготовление документов
					.RatingSection_ratingWrapper
						.Rating.Rating-company.RatingSection_rating
							span.Rating_icon
								include /includes/svg/SvgIco/icon_star
							span.Rating_number 7,5
							span.Rating_max / 10
							span.Rating_label 55 отзывов
						.DropdownSelect.DropdownSelect-companyProfile.RatingSection_dropdownSelect.hidden-xs
							select(name="categories").DropdownSelect_select
								option(value="all") по всем категориям
								option(value="employment") трудоустройство
								option(value="document_preparation") изготовление документов
					.ExtendedRatings.RatingSection_extendedRatings
						.ExtendedRating.ExtendedRatings_item
							.ExtendedRating_markAndNumber
								.ExtendedRating_mark 8,2
								.ExtendedRating_ratingsNumber.hidden-smPlus 45 оценок
							.ExtendedRating_wrapper
								.ExtendedRating_label качество обслуживания и поддержки
								.ExtendedRating_line
									.ExtendedRating_lineFill(data-mark="8.2")
							.ExtendedRating_ratingsNumber.hidden-xs 45 оценок
						.ExtendedRating.ExtendedRatings_item
							.ExtendedRating_markAndNumber
								.ExtendedRating_mark 8,7
								.ExtendedRating_ratingsNumber.hidden-smPlus 36 оценок
							.ExtendedRating_wrapper
								.ExtendedRating_label достоверность информации о работе
								.ExtendedRating_line
									.ExtendedRating_lineFill(data-mark="8.7")
							.ExtendedRating_ratingsNumber.hidden-xs 36 оценок
						.ExtendedRating.ExtendedRatings_item
							.ExtendedRating_markAndNumber
								.ExtendedRating_mark 6,2
								.ExtendedRating_ratingsNumber.hidden-smPlus 47 оценок
							.ExtendedRating_wrapper
								.ExtendedRating_label достоверность информации о жилье
								.ExtendedRating_line
									.ExtendedRating_lineFill(data-mark="6.2")
							.ExtendedRating_ratingsNumber.hidden-xs 47 оценок
						.ExtendedRating.ExtendedRatings_item
							.ExtendedRating_markAndNumber
								.ExtendedRating_mark 6,5
								.ExtendedRating_ratingsNumber.hidden-smPlus 53 оценок
							.ExtendedRating_wrapper
								.ExtendedRating_label соблюдение сроков изготовления документов
								.ExtendedRating_line
									.ExtendedRating_lineFill(data-mark="6.5")
							.ExtendedRating_ratingsNumber.hidden-xs 53 оценок
						.ExtendedRating.ExtendedRatings_item
							.ExtendedRating_markAndNumber
								.ExtendedRating_mark 9,2
								.ExtendedRating_ratingsNumber.hidden-smPlus 55 оценок
							.ExtendedRating_wrapper
								.ExtendedRating_label качество полученных документов или услуг
								.ExtendedRating_line
									.ExtendedRating_lineFill(data-mark="9.2")
							.ExtendedRating_ratingsNumber.hidden-xs 55 оценок
					a(href="#").BtnBlue.BtnBlue-testimonial.RatingSection_testimonialBtn Оставить отзыв
					.RatingSection_reviewsNumber 55 отзывов
				.Remark.Company_remark.hidden#Remark
					a(href="javascript:;", data-action="hideBlockWithCookie").Remark_close
						include /includes/svg/icon_close_remark
					h3.Remark_title Здесь только реальные отзывы, которым вы действительно можете доверять! #[a(href="#").ArrowLink.ArrowLink-remark.Remark_arrowLink.hidden-smPlus Подробнее]
					.Remark_text.hidden-xs INFOZA – первый и единственный портал, который публикует только те отзывы, которые прошли тщательную проверку и обязательно были документально подтверждены! Благодаря этому, только у нас вы можете узнать всю правду о любой компании! #[a(href="#").ArrowLink Подробнее]
	include /includes/blocks/WriteMessagePopup
	include /includes/blocks/CallPopup
	include /includes/blocks/RequestCallPopup
	include /includes/blocks/CallWaitingPopup
	include /includes/blocks/ExtraMenuPopup
	include /includes/blocks/ComplaintPopup
	include /includes/blocks/ChangeInfoPopup
	include /includes/blocks/CompanyPopupNotification
	include /includes/blocks/BookmarkSettingsPopup
	include /includes/blocks/LinkCopiedNotification
	include /includes/blocks/PopupShare