extends /layouts/main_layout
block vars
	- var title = "Sony Corporation - Физическое лицо";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companyPage";
block content
	.Container.Container-company.Main_container
		.Company
			.MobileHeader.hidden-smPlus
				a(href="#").BtnBack.MobileHeader_btnBack
					include /includes/svg/SvgIco/arrow_left
				h1.MobileHeader_title Sony Corporation
			.CompanyInfo.CompanyInfo-company.Company_info.hidden-smPlus
				.CompanyInfo_logo
					img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyInfo_logoImg
				.CompanyInfo_wrapper
					h4.CompanyInfo_name Sony Corporation / Сони Электроникс Корпораи ещё чего-то там
					.Rating.Rating-companyHeader
						span.Rating_icon
							include /includes/svg/SvgIco/icon_star
						span.Rating_number 7,5
						span.Rating_max / 10
						span.Rating_label (55 отзывов)
			a(href="#").BtnBlue.BtnBlue-company.hidden-smPlus Написать сообщение
			.Company_left.hidden-xs
				.CompanyPhoto.Company_photo
					img(src="/img/company_photo.jpg", alt="Company photo").CompanyPhoto_img
					.Rating.Rating-company.Rating-center.CompanyPhoto_rating
						span.Rating_icon
							include /includes/svg/SvgIco/icon_star
						span.Rating_number 7,5
						span.Rating_max / 10
						span.Rating_label (55 отзывов)
					a(href="#").BtnBlue.BtnBlue-company.hidden Написать сообщение
					a(href="#").BtnBlue.BtnBlue-company Свяжитесь с нами
				include /includes/blocks/StatIcons-company
			.Company_right
				h1.Company_title.hidden-xs Sony Corporation
				include /includes/blocks/MenuSectionCompany
				.Notice.Notice-fraud.Company_notice.Company_notice-fraud
					h3.Notice_title Этот работодатель занимается мошенничеством!
					h3.Notice_text.hidden-xs Предоставлены все необходимые доказательства и другие подтверждающие факты
				.Characteristics.Characteristics-dossiers.Company_characteristics.Company_characteristics-dossier
					h3.Characteristics_title Сведения о владельце
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name ФИО физического лица
						.Characteristic_value Иванов Иван Иванович
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Форма регистрации
						.Characteristic_value Физическое лицо предприниматель
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Статус физического лица
						.Characteristic_value.Characteristic_value-status.Medium.Green2
							include /includes/svg/SvgIco/success
							.
								Не пребывает в процессе прекращения #[span.Characteristic_date.Characteristic_date-status (на 16.06.2020)]
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Дата регистрации
						.Characteristic_value 23.11.2016 #[span.Characteristic_date (3 года 7 месяцев)]
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Номер регистрации
						.Characteristic_value 9876543210
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Пребывает на учёте
						a(href="#").Characteristic_value ГОЛОВНЕ УПРАВЛІННЯ ДПС У РІВНЕНСЬКІЙ ОБЛАСТІ #[br]УПРАВЛІННЯ У М. РІВНОМУ #[br]ДПІ У М. РІВНОМУ (М.РІВНЕ)
					.Characteristic.Characteristic-dossier.Characteristic-activities.Characteristics_item
						.Characteristic_name Виды деятельности
						.Characteristic_value
							dl.Activities
								dt.Activities_name Основной
								dd.Activities_desc 63.99 Прочие виды информационных услуг, не упомянутые ни в одной из перечисленных категорий
								dt.Activities_name Другие:
								dd.Activities_desc
									ul.Activities_list
										li.Activities_listItem 78.10 Деятельность агентств по трудоустройству
										li.Activities_listItem 78.20 Деятельность агентств по временному трудоустройству
										li.Activities_listItem 78.30 Деятельность прочих организаций по работе с персоналом
									ul(hidden).Activities_list.Activities_list-additional
										li.Activities_listItem 78.10 Деятельность агентств по трудоустройству
										li.Activities_listItem 78.20 Деятельность агентств по временному трудоустройству
										li.Activities_listItem 78.30 Деятельность прочих организаций по работе с персоналом
								a(href="javascript:;").ToggleLink.ToggleLink-company.Activities_toggleLink показать все
				.Characteristics.Characteristics-dossiers.Characteristics-noBorder.Company_characteristics.Company_characteristics-dossier.Company_characteristics-dossierLock
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Адрес владельца
						.Characteristic_value 33016, Рівненська обл., місто Київ, ВУЛИЦЯ ЕВГЕНА#[br.hidden-xs]КОНОВАЛЬЦЯ, будинок #[noindex #[a(href="#AuthContextBlock", data-action="openContextBlock").MaskedInfo.hidden-xs 18,] #[a(href="#AuthMobilePopup", data-action="openMobilePopup").MaskedInfo.hidden-smPlus 18,]] квартира #[noindex #[a(href="#AuthContextBlock", data-action="openContextBlock").MaskedInfo.hidden-xs 88] #[a(href="#AuthMobilePopup", data-action="openMobilePopup").MaskedInfo.hidden-smPlus 88]]
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Телефон владельца
						//- .Characteristic_value +38 098 765 43 21
						.Characteristic_value +38 096 78 #[noindex #[a(href="#AuthContextBlock", data-action="openContextBlock").MaskedInfo.hidden-xs 5 43 21] #[a(href="#AuthMobilePopup", data-action="openMobilePopup").MaskedInfo.hidden-smPlus 5 43 21]]
				.Notice.Notice-lock Чтобы получить доступ ко всем данным, пожалуйста, #[a(href="javascript:;", data-src="#LoginPopup").OpenPopupLink.Link.hidden-xs авторизуйтесь] #[a(href="/login.html").Link.hidden-smPlus авторизуйтесь] или #[a(href="javascript:;", data-src="#RegistrationPopup").OpenPopupLink.Link.hidden-xs зарегистрируйтесь] #[a(href="/register.html").Link.hidden-smPlus зарегистрируйтесь]
	.ContextBlock.ContextBlock-company#AuthContextBlock.hidden
		.ContextBlock_content Чтобы получить доступ ко всем данным пожалуйста #[a(href="javascript:;", data-src="#LoginPopup").OpenPopupLink.Link.hidden-xs авторизуйтесь] #[a(href="/login.html").Link.hidden-smPlus авторизуйтесь] или #[a(href="javascript:;", data-src="#RegistrationPopup").OpenPopupLink.Link.hidden-xs зарегистрируйтесь] #[a(href="/register.html").Link.hidden-smPlus зарегистрируйтесь]
	.MobilePopup.MobilePopup-auth#AuthMobilePopup
		.Overlay
		.MobilePopup_wrapper
			.MobilePopup_header.MobilePopup_header-center
				.MobilePopup_icon
					include /includes/svg/large_lock
				a(href="javascript:;", data-action="closeMobilePopup").MobilePopup_close
					include /includes/svg/icon_close
			.MobilePopup_text.MobilePopup_text-smallIndent Полный доступ ко всем данным имеют только зарегистрированные пользователи
			.MobilePopup_btnWrapper
				a(href="/login.html").BtnBlue.BtnBlue-mobilePopupLogin.MobilePopup_btn Вход
				a(href="/register.html").BtnGrey.BtnGrey-mobilePopup.MobilePopup_btn Регистрация
block page_bottom
	script(src="/js/company.js")