extends /layouts/main_layout_profile
block vars
	- var title = "Досье компаний";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companiesDossiers";
block content
	.MobileHeader.MobileHeader-companiesDossiers.hidden-smPlus
		a(href="#PopupMenu").SelectionLink.PopupMenuLink.hidden-smPlus Работодатели
		a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
			include /includes/svg/SvgIco/dots
	.Container.Main_container
		.Main_columns
			.Main_left
				.Banner.Banner-companies.Main_banner
					button(type="button" data-action="closeBanner").Banner_closeBtn
					.Banner_label Компании
					h2.Banner_title Узнайте правду обо #[br.hidden-smPlus]всех работодателях!
					.Banner_text
						p В этом разделе исключительно подтвержденные текстовые, аудио и видео #[br.hidden-xs]отзывы. Поэтому, здесь полностью исключена  накрутка и вы всегда #[br.hidden-xs]можете быть уверенными в каждом написанном слове.
					.Banner_actions
						button(type="button" data-action="closeBanner").BtnBlue.BtnBlue-banner.Banner_btn Понятно
						a(href="/reviews.html").Banner_link Подробнее
				.MenuSection.MenuSection-companiesDossiers.Main_menuSection.hidden
					.CategoryMenu.CategoryMenu-companiesDossiers
						ul.CategoryMenu_menu
							li.CategoryMenu_item
								a(href="/basic_company_settings.html").CategoryMenu_link.active Работодатели
							li.CategoryMenu_item
								a(href="/profile_company_settings.html").CategoryMenu_link Вакансии
				.Companies.Companies-dossiers
					.Companies_header
						.Companies_headerLeft(hidden)
							ul.CategoriesList.CategoriesList-bordered.Companies_categories.hidden-xs
								li.CategoriesList_item
									a(href="javascript:;").CategoriesList_link.CategoriesList_link-active Работодатели
								li.CategoriesList_item
									a(href="javascript:;").CategoriesList_link Вакансии
						.Companies_headerRight
							a(href="javascript:;", data-src="#CompanyAdding").BtnBlue.BtnBlue-company.BtnBlue-addCompany.OpenPopupLink.hidden-xs Добавить компанию
					form(action="", name="companies_search").Filter.Companies_searchForm
						.Search.Search-companies.Search-companiesDossiers
							.Search_item
								input(type="text", name="search_query", placeholder="Введите ваш запрос").Search_text
								a(href="javascript:;").Search_closeBtn.hidden.hidden
									include /includes/svg/SvgIco/close
							button(type="submit").Search_icon.hidden-smPlus
								include /includes/svg/SvgIco/search
					.NoResults.NoResults-companies(hidden)
						.NoResults_icon
							include /includes/svg/not_found
						.NoResults_text По вашему запросу ничего не найдено
						a(href="javascript:;", data-src="#CompanyAdding").BtnBlue.BtnBlue-company.BtnBlue-addCompany.OpenPopupLink Добавить компанию
						.NoResults_linkWrapper
							a(href="/companies_dossiers.html").NoResults_link Вернуться
					.Companies_items
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.Rating-dropdown.hidden-smPlus
											a(href="javascript:;").Rating_wrapperLink
												span.Rating_icon
													include /includes/svg/SvgIco/icon_star
												span.Rating_number 7,3
												span.Rating_max / 10
												span.Rating_label (55 отзывов)
											.Rating_dropdown
												a(href="javascript:;").Rating_closeDropdown.hidden-smPlus
													include /includes/svg/icon_close
												include /includes/blocks/AdvantagesRating
											.Overlay.Overlay-rating
								.CompanyBlock_activity трудоустройство и визовая поддержка
								//- .CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 0.0
										span.Rating_max / 10
										span.Rating_label (0 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
					.SectionDescription.SectionDescription-companies.Main_sectionDescription
						h2 Работодатели
						p Infoza – это уникальный сервис для всех, кто интересуется работой за рубежом. На сайте можно узнать все про агентства по трудоустройству за границей: их надежность, безопасность, гарантии официального оформления.
						h3 Как выбрать агентства по трудоустройству за границей
						p На сегодняшний день все больше жителей Украины выезжает на заработки в страны ЕС. Это объясняется тем, что зарубежный рынок труда испытывает дефицит рабочих кадров. А наши соотечественники с радостью удовлетворяют его, так как на родине им не предоставляется аналогичных возможностей хорошо заработать.
						p Согласно отзывам работа в Польше является наиболее популярным направлением. Связано это с множеством факторов: близкое географическое положение, выгодный обмен злотых в гривны, схожий менталитет и много предложений о вакансиях с высокой оплатой. Однако при ознакомлении с объявлениями работодателей, все соискатели сталкиваются с одной проблемой: как понять, что компания надежна?
						p В этом деле одних обещаний от нанимателей мало, так как они не гарантируют легальное оформление, стабильные выплаты по установленной ставке, страхование и прочие обязательные нюансы, без которых ехать на заработки небезопасно. Найти проверенные агентства по трудоустройству за границей можно благодаря нашему уникальному сервису.
						h3 На площадке Инфоза общаются единомышленники, которых интересует трудовая миграция. Все пользователи, объединенные одной целью, делятся:
						ul
							li собственным опытом поездок;
							li реальными фактами о компании, в которой работали;
							li вопросами, касательно всех сопутствующих поездке нюансов;
							li секретами поиска надежного работодателя;
							li как успешно пройти собеседование;
							li как понять, что наниматель добросовестный;
							li деталями оформления документов и многими другими полезными данными.
						p На странице вы найдете агентства по трудоустройству в Польше, которые предлагают свои услуги посредников, а также фирмы, ищущие рабочих кадров. Все они представлены с реальными комментариями от клиентов, поэтому такой рейтинг поможет познакомиться с ними поближе.
						p Благодаря этому честному резюме вы сможете почитать свежие отзывы о работе в Польше, ознакомиться с действительными условиями работы и проживания, понять, безопасно ли сотрудничать с той или иной компанией. А черный список агентств по трудоустройству за границей убережет вас от неприятного опыта, сложных ситуаций и опасностей при поездке на заработки. Поэтому не теряйте время зря, и получайте достоверную информацию о работе с первых уст.
			.Aside.Main_aside
				.Application#Application.hidden.hidden-xs
					a(href="javascript:;").Application_close
						include /includes/svg/SvgIco/close
					h3.Application_title В приложении удобнее
					.Application_text Проверяйте компании в любое время благодаря бесплатному приложению!
					.Application_links
						a(href="https://play.google.com/store/apps/details?id=application.infoza&hl=ru", target="_blank").Application_link
							img(src="/img/google_play_transparent.png", alt="Google Play")
						a(href="#", target="_blank").Application_link.hidden
							img(src="/img/apple_store_grey.png", alt="App Store")
				.CompanyReviews.hidden-smMinus
					h3.CompanyReviews_title Новые отзывы
					.CompanyReviews_items
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
	.PopupMenu.PopupMenu-paddingTop.PopupMenu-paddingLeft#PopupMenu
		.PopupMenu_overlay
		.PopupMenu_wrapper
			ul.PopupMenu_menu
				li.PopupMenu_item
					a(href="/companies_dossiers.html").PopupMenu_link.active Работодатели
				li.PopupMenu_item
					a(href="/vacancy_dummy.html").PopupMenu_link Вакансии
	include /includes/blocks/CompanyAdding
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	script(src="/js/companies_dossiers.js")