extends /layouts/main_layout
block vars
	- var title = "Sony Corporation";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companyPage";
block content
	.Container.Container-company.Main_container
		.Company
			.MobileHeader.hidden-smPlus
				a(href="#").BtnBack.MobileHeader_btnBack
					include /includes/svg/SvgIco/arrow_left
				.MobileHeader_titleWrapper
					h1.MobileHeader_title.MobileHeader_title-company Sony Corporation
				a(href="#ContactPopupMenu").PopupMenuLink.MobileHeader_phoneIcon
					include /includes/svg/contacts/phone
			.CompanyInfo.CompanyInfo-company.Company_info.hidden-smPlus
				.CompanyInfo_logo
					img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyInfo_logoImg
				.CompanyInfo_wrapper
					.CompanyInfo_nameWrapper
						h4.CompanyInfo_name Sony Corporation
						.Bookmark.Bookmark-company
							a(href="#CompanyPopupNotification", title="Сохранить в закладки").Bookmark_icon
								include /includes/svg/SvgIco/bookmark
					.Rating.Rating-companyHeader
						span.Rating_icon
							include /includes/svg/SvgIco/icon_star
						span.Rating_number 7,5
						span.Rating_max / 10
						span.Rating_label (55 отзывов)
			.Company_left.hidden-xs
				.CompanyPhoto
					img(src="/img/company_photo.jpg", alt="Company photo").CompanyPhoto_img
					.Rating.Rating-company.Rating-center.CompanyPhoto_rating
						span.Rating_icon
							include /includes/svg/SvgIco/icon_star
						span.Rating_number 7,5
						span.Rating_max / 10
						span.Rating_label (55 отзывов)
					a(href="#").BtnBlue.BtnBlue-company Написать сообщение
				include /includes/blocks/StatIcons-company
			.Company_right
				h1.Company_title.hidden-xs Sony Corporation
				include /includes/blocks/MenuSectionCompany
				.Characteristics.Characteristics-dossiers.Company_characteristics.Company_characteristics-dossier
					h3.Characteristics_title Анкета
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Название по-украински
						.Characteristic_value ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "РОБОТА ЗА КОРДОНОМ ВІД АНДРІЯ МАРИСЮКА"
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Код ЕГРПОУ
						.Characteristic_value 42927728
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Дата регистрации
						.Characteristic_value 03.04.2019 #[span.Characteristic_date (1 год 2 месяца)]
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Уполномоченное лицо
						.Characteristic_value
							a(href="javascript:;").Characteristic_link МАРИСЮК АНДРІЙ МИКОЛАЙОВИЧ
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Статус юридического лица
						.Characteristic_value.Characteristic_value-status.Green2.Medium
							include /includes/svg/SvgIco/success
							.
								Не пребывает в процессе прекращения #[span.Characteristic_date.Characteristic_date-status (на 16.06.2020)]
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Конечный бенефициарный собственник (контролёр)
						a(href="#").Characteristic_value МАРИСЮК АНДРИЙ МИКОЛАЙОВИЧ
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Адрес собственника
						.Characteristic_value Рівненська обл., місто Рівне, ВУЛИЦЯ ЄВГЕНА КОНОВАЛЬЦЯ, будинок 100, квартира 100
				.Characteristics.Characteristics-dossiers.Company_characteristics.Company_characteristics-dossier
					h3.Characteristics_title Перечень учредителей юридического лица
					h4.Characteristics_subTitle МАРИСЮК АНДРИЙ МИКОЛАЙОВИЧ
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Адрес учредителя
						.Characteristic_value Рівненська обл., місто Рівне, ВУЛИЦЯ ЄВГЕНА КОНОВАЛЬЦЯ, будинок 100, квартира 100
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Телефон
						.Characteristic_value +38 099 022 02 01
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Взнос в уставный фонд
						.Characteristic_value 100,00 грн
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Доля (%)
						.Characteristic_value 100,00%
				.Characteristics.Characteristics-dossiers.Company_characteristics.Company_characteristics-dossier
					h4.Characteristics_subTitle МАРИСЮК АНДРИЙ МИКОЛАЙОВИЧ
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Адрес учредителя
						.Characteristic_value Рівненська обл., місто Рівне, ВУЛИЦЯ ЄВГЕНА КОНОВАЛЬЦЯ, будинок 100, квартира 100
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Телефон
						.Characteristic_value +38 099 022 02 01
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Взнос в уставный фонд
						.Characteristic_value 100,00 грн
					.Characteristic.Characteristic-dossier.Characteristics_item
						.Characteristic_name Доля (%)
						.Characteristic_value 100,00%
	include /includes/blocks/ContactPopupMenu
	include /includes/blocks/WriteMessagePopup
	include /includes/blocks/CallPopup
	include /includes/blocks/RequestCallPopup
	include /includes/blocks/CallWaitingPopup
	include /includes/blocks/CompanyPopupNotification
	include /includes/blocks/BookmarkSettingsPopup
block page_bottom
	script(src="/js/company.js")