extends /layouts/main_layout_profile
block vars
	- var title = "Досье компаний";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companiesDossiers";
block content
	.MobileHeader.MobileHeader-companiesDossiers.hidden-smPlus
		a(href="#PopupMenu").SelectionLink.PopupMenuLink.hidden-smPlus Работодатели
		a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
			include /includes/svg/SvgIco/dots
	.Container.Main_container
		.Main_columns
			.Main_left
				.MenuSection.MenuSection-companiesDossiers.Main_menuSection.hidden
					.CategoryMenu.CategoryMenu-companiesDossiers
						ul.CategoryMenu_menu
							li.CategoryMenu_item
								a(href="/basic_company_settings.html").CategoryMenu_link.active Работодатели
							li.CategoryMenu_item
								a(href="/profile_company_settings.html").CategoryMenu_link Вакансии
				.Companies.Companies-dossiers
					.Companies_header
						.Companies_headerLeft(hidden)
							ul.CategoriesList.CategoriesList-bordered.Companies_categories.hidden-xs
								li.CategoriesList_item
									a(href="javascript:;").CategoriesList_link.CategoriesList_link-active Работодатели
								li.CategoriesList_item
									a(href="javascript:;").CategoriesList_link Вакансии
						.Companies_headerRight
							a(href="javascript:;", data-src="#CompanyAdding").BtnBlue.BtnBlue-company.BtnBlue-addCompany.OpenPopupLink.hidden-xs Добавить компанию
					form(action="", name="companies_search").Filter.Companies_searchForm
						.Search.Search-companies.Search-companiesDossiers
							.Search_item
								input(type="text", name="search_query", placeholder="Введите ваш запрос").Search_text
								a(href="javascript:;").Search_closeBtn.hidden.hidden
									include /includes/svg/SvgIco/close
							button(type="submit").Search_icon.hidden-smPlus
								include /includes/svg/SvgIco/search
					.NoResults.NoResults-companies(hidden)
						.NoResults_icon
							include /includes/svg/not_found
						.NoResults_text По вашему запросу ничего не найдено
						a(href="javascript:;", data-src="#CompanyAdding").BtnBlue.BtnBlue-company.BtnBlue-addCompany.OpenPopupLink Добавить компанию
						.NoResults_linkWrapper
							a(href="/companies_dossiers.html").NoResults_link Вернуться
					.Companies_items
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.Rating-dropdown.hidden-smPlus
											a(href="javascript:;").Rating_wrapperLink
												span.Rating_icon
													include /includes/svg/SvgIco/icon_star
												span.Rating_number 7,3
												span.Rating_max / 10
												span.Rating_label (55 отзывов)
											.Rating_dropdown
												a(href="javascript:;").Rating_closeDropdown.hidden-smPlus
													include /includes/svg/icon_close
												include /includes/blocks/AdvantagesRating
											.Overlay.Overlay-rating
								.CompanyBlock_activity трудоустройство и визовая поддержка
								//- .CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 0.0
										span.Rating_max / 10
										span.Rating_label (0 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											include /includes/blocks/AdvantagesRating
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
			.Aside.Main_aside
				.Application#Application.hidden.hidden-xs
					a(href="javascript:;").Application_close
						include /includes/svg/SvgIco/close
					h3.Application_title В приложении удобнее
					.Application_text Проверяйте компании в любое время благодаря бесплатному приложению!
					.Application_links
						a(href="https://play.google.com/store/apps/details?id=application.infoza&hl=ru", target="_blank").Application_link
							img(src="/img/google_play_transparent.png", alt="Google Play")
						a(href="#", target="_blank").Application_link.hidden
							img(src="/img/apple_store_grey.png", alt="App Store")
				.CompanyReviews.hidden-smMinus
					h3.CompanyReviews_title Новые отзывы
					.CompanyReviews_items
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
	.PopupMenu.PopupMenu-paddingTop.PopupMenu-paddingLeft#PopupMenu
		.PopupMenu_overlay
		.PopupMenu_wrapper
			ul.PopupMenu_menu
				li.PopupMenu_item
					a(href="/companies_dossiers.html").PopupMenu_link.active Работодатели
				li.PopupMenu_item
					a(href="/vacancy_dummy.html").PopupMenu_link Вакансии
	//- include /includes/blocks/CompanyAdding
	.CompanyAdding.CompanyAdding-default#CompanyAdding(style="display: none;")
		.MobileHeader.hidden-smPlus
			a(href="javascript:;", data-fancybox-close).BtnBack.BtnBack-noBack.MobileHeader_btnBack
				include /includes/svg/SvgIco/arrow_left
			h2.MobileHeader_title Кого вы хотите добавить?
		h2.CompanyAdding_title.hidden-xs Кого вы хотите добавить?
		.CompanyAdding_main
			form(action="#").CompanySettings.CompanySettings-addingCompany.CompanySettings-addingCompanyDefault
				.ProfileTypes.CompanyAdding_profileTypes
					a(href="javascript:;" data-value="agency").ProfileType.ProfileTypes_item
						.ProfileType_icon
							include /includes/svg/SvgIco/profile_types/agency
						.ProfileType_title Агенцию
					a(href="javascript:;" data-value="flp").ProfileType.ProfileType-flp.ProfileTypes_item
						.ProfileType_icon
							include /includes/svg/SvgIco/profile_types/flp
						.ProfileType_title ФЛП
				input(type="hidden" name="profile_type")
				.CompanySettings_fields(hidden)
					.CompanySettings_field.CompanySettings_field-agencyName
						label(for="company_name").CompanySettings_label Название
						.CompanySettings_fieldContent
							input(type="text", name="company_name", id="company_name", value="Sony Corporation", minlength="2", maxlength="45", required).CompanySettings_formText.CompanySettings_formText-fullWidth
						a(href="javascript:;").CompanyInfo.CompanySettings_autoComplete.hidden
							.CompanyInfo_logo
								img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyInfo_logoImg
							.CompanyInfo_wrapper
								h4.CompanyInfo_name Sony Corporation
								.Rating.Rating-companyInfo
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,5
									span.Rating_max / 10
					.CompanySettings_field.CompanySettings_field-fio
						label(for="fio").CompanySettings_label Фамилия Имя Отчество
						.CompanySettings_fieldContent
							input(type="text", name="fio", id="fio", minlength="2", maxlength="45", required).CompanySettings_formText.CompanySettings_formText-fullWidth
					.CompanySettings_field
						label.CompanySettings_label Страна
						.CompanySettings_fieldContent
							.DropdownSelect.DropdownSelect-companySettings.DropdownSelect-companyAdding.CompanySettings_dropdownSelect.CompanySettings_dropdownSelect-fullWidth
								select(name="country_id").DropdownSelect_select
									option(value="none") Выберите
									option(value="uk") Украина
									option(value="ru") Россия
									option(value="by") Беларусь
									option(value="kz") Казахстан
					.CompanySettings_field.CompanySettings_field-rightIndent
						label(for="company_website").CompanySettings_label Веб-сайт
						.CompanySettings_fieldContent
							.CompanySettings_fieldItem
								input(type="text", name="company_website", id="company_website").CompanySettings_formText.CompanySettings_formText-rightIndent.CompanySettings_formText-fullWidth
								a(href="javascript:;").CompanySettings_removeFieldItem
					.CompanySettings_field.CompanySettings_field-rightIndent
						label(for="company_phone").CompanySettings_label Телефон
						.CompanySettings_fieldContent
							.CompanySettings_fieldItem
								input(type="text", name="company_phone", id="company_phone").CompanySettings_formText.CompanySettings_formText-rightIndent.CompanySettings_formText-fullWidth
								a(href="javascript:;").CompanySettings_removeFieldItem
				.CompanySettings_actions
					button(type="submit", hidden).BtnBlue.BtnBlue-addCompanyPopup.CompanySettings_addButton Добавить
					a(href="javascript:;", data-fancybox-close).CompanySettings_link.CompanySettings_link-cancel.hidden-xs Отмена
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	script(src="/js/companies_dossiers.js")