extends /layouts/main_layout
block vars
	- var title = "Компании";
	- var mainModifiers = "Main-companiesSearch";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.Companies.Companies-search
					ul.Companies_categories
						li.Companies_category
							a(href="javascript:;").Companies_categoryLink.Companies_categoryLink-active Работодатели
						li.Companies_category
							a(href="javascript:;").Companies_categoryLink Вакансии
					form(action="", name="companies_search").Filter.Companies_searchForm
						.Search.Search-companies.Search-companiesSearch
							.Search_item
								input(type="text", name="search_query", placeholder="Введите ваш запрос").Search_text
								a(href="javascript:;").Search_closeBtn.hidden
									include /includes/svg/SvgIco/close
					.NoResults.NoResults-companies.hidden
						.NoResults_icon
							include /includes/svg/not_found
						.NoResults_text По вашему запросу ничего не найдено
						a(href="javascript:;", data-src="#CompanyAdding").BtnBlue.BtnBlue-company.BtnBlue-addCompany.OpenPopupLink Добавить компанию
					.Companies_items
						.CompanyBlock.CompanyBlock-search.Companies_item
							.CompanyBlock_logo
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								h3.CompanyBlock_name
									a(href="/company.html") Sony Corporation
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_footer
									.Rating.Rating-companyBlock.Rating-dropdown
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-search.Companies_item
							.CompanyBlock_logo
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								h3.CompanyBlock_name
									a(href="/company.html") Sony Corporation
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибукой 7 мая 1946 г. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_footer
									.Rating.Rating-companyBlock.Rating-dropdown
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-search.Companies_item
							.CompanyBlock_logo
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								h3.CompanyBlock_name
									a(href="/company.html") Sony Corporation
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибукой 7 мая 1946 г. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_footer
									.Rating.Rating-companyBlock.Rating-dropdown
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-search.Companies_item
							.CompanyBlock_logo
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								h3.CompanyBlock_name
									a(href="/company.html") Sony Corporation
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибукой 7 мая 1946 г. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_footer
									.Rating.Rating-companyBlock.Rating-dropdown
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-search.Companies_item
							.CompanyBlock_logo
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								h3.CompanyBlock_name
									a(href="/company.html") Sony Corporation
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибукой 7 мая 1946 г. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_footer
									.Rating.Rating-companyBlock.Rating-dropdown
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-search.Companies_item
							.CompanyBlock_logo
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								h3.CompanyBlock_name
									a(href="/company.html") Sony Corporation
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибукой 7 мая 1946 г. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_footer
									.Rating.Rating-companyBlock.Rating-dropdown
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
			.Aside.Main_aside
				.Application
					a(href="javascript:;").Application_close
						include /includes/svg/SvgIco/close
					h3.Application_title В приложении удобнее
					.Application_text Проверяйте компании в любое время благодаря бесплатному приложению!
					.Application_links
						a(href="https://play.google.com/store/apps/details?id=application.infoza&hl=ru", target="_blank").Application_link
							img(src="/img/google_play_transparent.png", alt="Google Play")
						a(href="#", target="_blank").Application_link
							img(src="/img/apple_store_grey.png", alt="App Store")
				.CompanyReviews.hidden-smMinus
					h3.CompanyReviews_title Новые отзывы
					.CompanyReviews_items
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/SvgIco/icon_star
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/SvgIco/icon_star
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/SvgIco/icon_star
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/SvgIco/icon_star
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/SvgIco/icon_star
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
block page_bottom
	include /includes/blocks/CompanyAdding
	script(src="/js/companies_dossiers.js")