extends /layouts/main_layout_profile
block vars
	- var title = "Досье компаний";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companiesDossiers";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.MobileHeader-companiesDossiers.hidden-smPlus
					a(href="#PopupMenu").SelectionLink.PopupMenuLink.hidden-smPlus Работодатели
					h1.MobileHeader_title Досье
					.DotsMenu.DotsMenu-share.MobileHeader_dotsMenu
						a(href="javascript:;").DotsMenu_icon
							include /includes/svg/SvgIco/dots
						.DotsMenu_wrapper
							ul.DotsMenu_menu
								li.DotsMenu_item
									a(href="#PopupShare", data-action="openMobilePopup").DotsMenu_link Поделиться
								li.DotsMenu_item
									a(href="#LinkCopiedNotification", data-action="openMobilePopup").DotsMenu_link.DotsMenu_link-copyURL Копировать
				.MenuSection.MenuSection-companiesDossiers.Main_menuSection.hidden
					.CategoryMenu.CategoryMenu-companiesDossiers
						ul.CategoryMenu_menu
							li.CategoryMenu_item
								a(href="/basic_company_settings.html").CategoryMenu_link.active Работодатели
							li.CategoryMenu_item
								a(href="/profile_company_settings.html").CategoryMenu_link Вакансии
				.Companies.Companies-dossiers
					ul.Companies_categories.hidden-xs
						li.Companies_category
							a(href="javascript:;").Companies_categoryLink.Companies_categoryLink-active Работодатели
						li.Companies_category
							a(href="javascript:;").Companies_categoryLink Вакансии
					form(action="", name="companies_search").Filter.Companies_searchForm
						.Search.Search-companies.Search-companiesDossiers
							.Search_item
								input(type="text", name="search_query", placeholder="Введите ваш запрос").Search_text
								a(href="javascript:;").Search_closeBtn.hidden.hidden
									include /includes/svg/SvgIco/close
							button(type="submit").Search_icon.hidden-smPlus
								include /includes/svg/SvgIco/search
					.NoResults.NoResults-companies
						.NoResults_icon
							include /includes/svg/not_found
						.NoResults_text По вашему запросу ничего не найдено
						a(href="javascript:;", data-src="#CompanyAdding").BtnBlue.BtnBlue-company.BtnBlue-addCompany.OpenPopupLink Добавить компанию
					.Companies_items.hidden
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								//- .CompanyBlock_description Корпорация Sony была основана Акио Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась «Токё цусин когё кабусики-гайся»
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
						.CompanyBlock.CompanyBlock-dossiers.Companies_item
							.CompanyBlock_logo.hidden-xs
								a(href="/company.html", title="Sony Corporation")
									img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_logo.hidden-smPlus
										a(href="/company.html", title="Sony Corporation")
											img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyBlock_logoImg
									.CompanyBlock_headerRight
										h3.CompanyBlock_name
											a(href="/company.html") Sony Corporation
										.Rating.Rating-companyHeader.hidden-smPlus
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
											span.Rating_label (55 отзывов)
								.CompanyBlock_activity трудоустройство и визовая поддержка
								.CompanyBlock_description Корпорация Sony была основана Аки Моритой и Масару Ибуко 7 мая 1946. В самом начале она называлась ТТК
								.CompanyBlock_footer
									.Rating.Rating-companyHeader.Rating-dropdown.hidden-xs
										span.Rating_icon
											include /includes/svg/SvgIco/icon_star
										span.Rating_number 7,3
										span.Rating_max / 10
										span.Rating_label (55 отзывов)
										.Rating_dropdown
											.AdvantagesRating
												ul.AdvantagesRating_list
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 6
														span.AdvantagesRating_text качество обслуживания и поддержки
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 7
														span.AdvantagesRating_text достоверность информации о работе
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 8
														span.AdvantagesRating_text достоверность информации о жилье
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 9
														span.AdvantagesRating_text соблюдение сроков изготовления документов
													li.AdvantagesRating_item
														span.AdvantagesRating_icon
															include /includes/svg/SvgIco/icon_star
														span.AdvantagesRating_number 10
														span.AdvantagesRating_text качество полученных документов или услуг
									.CompanyBlock_country
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Вроцлав
			.Aside.Main_aside
				.Application#Application.hidden.hidden-xs
					a(href="javascript:;").Application_close
						include /includes/svg/SvgIco/close
					h3.Application_title В приложении удобнее
					.Application_text Проверяйте компании в любое время благодаря бесплатному приложению!
					.Application_links
						a(href="https://play.google.com/store/apps/details?id=application.infoza&hl=ru", target="_blank").Application_link
							img(src="/img/google_play_transparent.png", alt="Google Play")
						a(href="#", target="_blank").Application_link.hidden
							img(src="/img/apple_store_grey.png", alt="App Store")
				.CompanyReviews.hidden-smMinus
					h3.CompanyReviews_title Новые отзывы
					.CompanyReviews_items
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
	.PopupMenu.PopupMenu-paddingTop.PopupMenu-paddingLeft#PopupMenu
		.PopupMenu_overlay
		.PopupMenu_wrapper
			ul.PopupMenu_menu
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link.active Работодатели
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Вакансии
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	include /includes/blocks/CompanyAdding
	script(src="/js/companies_dossiers.js")