extends /layouts/main_layout
block vars
	- var title = "Досье";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-dossier";
block content
	.Main_container
		.Container
			.MobileHeader.hidden-smPlus
				a(href="#").BtnBack.MobileHeader_btnBack
					include /includes/svg/SvgIco/arrow_left
				h1.MobileHeader_title Досье
				.DotsMenu.DotsMenu-share.MobileHeader_dotsMenu
					a(href="javascript:;").DotsMenu_icon
						include /includes/svg/SvgIco/dots
					.DotsMenu_wrapper
						ul.DotsMenu_menu
							li.DotsMenu_item
								a(href="#LinkCopiedNotification", data-action="copyURL").DotsMenu_link
									include /includes/svg/SvgIco/copy_reverse
									.
										Копировать
		.DossierSection
			.Container.Container-dossierSection.DossierSection_container
				.DossierSection_left
					h2.DossierSection_title Покажем то, что все скрывают!
					img(src="/img/imac.png", alt="IMac").DossierSection_img.hidden-smPlus
					h3.DossierSection_subTitle Только правда о работе за границей и компаниях по трудоустройству
					.DossierSection_text Досье – раздел, в котором собрана информация о каждой вакансии и о всех компаниях, посредниках и агенциях, которые занимаются трудоустройством. Это раздел идеально создан для тех, кто решил поехать на работу за границу или просто интересуется этой темой.
				.DossierSection_right.hidden-xs
					img(src="/img/imac.png", alt="IMac").DossierSection_img
		.Theses
			.Container.Theses_container
				.Thesis.Theses_item
					.Thesis_number 01
					.Thesis_textWrapper
						h2.Thesis_title Как мне поможет этот раздел?
						.Thesis_text
							p Если бы каждый, перед тем как поехать на работу за границу, смог на свои глаза увидеть работу, которую ему придется выполнять и условия, в которых он будет работать - это бы решило все проблемы с выбором будущей вакансии!
							p Мы это понимаем, и поэтому создали раздел “Досье” в котором будет находится информация про самые разные работы, которые предлагают украинцам, белорусам и россиянам в Польше, Чехии и других странах Евросоюза.
				.Thesis.Theses_item
					.Thesis_number 02
					.Thesis_textWrapper
						h2.Thesis_title Как это работает?
						.Thesis_text
							p На практике все будет работать очень просто. К примеру, вам предложили вакансию на заводе TESCO в Польше, в городе Вроцлав. Разумеется, информации об этой работе, в интернете нет и не будет. Но, она есть на Инфозе!
							p В разделе Досье вам достаточно будет указать название завода (склада или предприятия), и затем выбрать город, улицу и даже цех, если их там будет несколько. После этого вам откроется информация об этой вакансии и вы сможете прочесть отзывы от реальных рабочих, посмотреть рейтинг, изучить плюсы и минусы и, самое главное, посмотреть фото и видео того, как выглядит работа изнутри.
							p То есть, благодаря этому разделу, перед тем как поехать на любую работу за границу - вы сможете на собственные глаза увидеть, как она выглядит на самом деле изнутри и решить для себя - подходит вам такая работа или нет.
				.Thesis.Theses_item
					.Thesis_number 03
					.Thesis_textWrapper
						h2.Thesis_title Кто будет добавлять информацию о работе?
						.Thesis_text
							p INFOZA – это больше, чем просто сообщество. Мы все – большая дружная семья, в которой все помогают друг другу. Поэтому, наполнять этот раздел мы тоже будем все вместе.
							p Много людей, в том числе и тех, которые сейчас читают эту статью, уже работали на одной или нескольких вакансий в разных городах или даже разных странах Евросоюза. Напишите всю правду о том, в чем заключалась ваша работа, в каких условиях вам приходилось трудится, какое было отношение к вам со стороны начальства и другие важные моменты, которые очень помогут другим людям сделать свой выбор.
							p #[span.Semibold Вакансий на работу за границей – десятки тысяч. Нас – миллионы!]
				.Thesis.Theses_item
					.Thesis_number 04
					.Thesis_textWrapper
						h2.Thesis_title Что можно присылать?
						.Thesis_text
							p Если у вас остались фотографии или видео с работы или жилья - поделитесь ими. Они очень пригодятся другим людям, ведь, как известно, лучше один раз увидеть чем сто раз услышать. Особенно, учитывая тот факт, что многие работодатели не разрешают снимать, публиковать и распространять информацию, в которой показана любая работа изнутри.
							.Thesis_imgContainer
								.Thesis_imgBlock.Thesis_imgBlock-arrow
									img(src="/img/thesis_img1.jpg", alt="Thesis image 1").Thesis_img
								.Thesis_imgBlock
									img(src="/img/thesis_img2.jpg", alt="Thesis image 2").Thesis_img
							p Именно поэтому, фотографии и видео из рабочих моментов очень важны. Они могут быть в плохом качестве, сняты с плохого ракурса, но зато они будут, и они очень помогут другим людям понять, подходит ли им эта работа или нет. Не обязательно, чтобы в кадре были другие сотрудники или чтобы процесс был показан до мелких деталей. Нам всем достаточно будет увидеть работу хотя бы в общих чертах, чтобы понять, как там все происходит на самом деле.
				.Thesis.Theses_item
					.Thesis_number 05
					.Thesis_textWrapper
						h2.Thesis_title На работе действует запрет на фото и видео. Как быть?
						.Thesis_text
							p Вы можете прислать нам материалы полностью анонимно, или, наоборот, прислать необработанные фото или видео записи и указать, какие именно фрагменты, объекты или лица размыть или вырезать. Мы сделаем все так, как вы нас попросите и, в случае анонимности, никогда и никому не откроем ваших данных.
				.Thesis.Theses_item
					.Thesis_number 06
					.Thesis_textWrapper
						h2.Thesis_title Куда присылать информацию о работе?
						.Thesis_text
							p Если вы, за последние несколько лет, уже работали где-то за границей - напишите нам на почту #[a(href="mailto:info@infoza.top") info@infoza.top]
							p Расскажите свою историю и, если у вас остались фото или видео - отправьте нам их. Если хотите чтобы мы опубликовали эти материалы анонимно - напишите нам об этом, и мы так и сделаем.
							p Давайте все вместе создадим единую базу, в которой можно будет посмотреть всю информацию о любой вакансии за границей. Это доброе, благое дело, которое не только поможет миллионам людей сразу сделать правильный выбор работы, но и заставит тех работодателей, у которых условия работы хуже, чем в их конкурентов - повысить своим работникам зарплату, чтобы они продолжили там работать.
				.Thesis.Theses_item
					.Thesis_number 07
					.Thesis_textWrapper
						h2.Thesis_title Какое вознаграждение я получу?
						.Thesis_text
							p Мы считаем, что любое доброе дело должно быть вознаграждено. Поэтому, в знак благодарности, каждому, кто пришлет любую информацию мы начислим 1000 баллов рейтинга (чтобы их заработать в обычном режиме, нужно создать тысячу тем или написать тысячу комментариев на портале)
				.Thesis.Theses_item
					.Thesis_number 08
					.Thesis_textWrapper
						h2.Thesis_title О рейтинге. Почему он важнее денег?
						.Thesis_text
							p Самое ценное, что существует в нашем мире - это информация. И, если FaceBook, Instagram и другие площадки уже не дают возможности делиться информацией с широкой аудиторией, то на INFOZA - каждый будет услышан!
							p Благодаря умной ленте каждую вашу тему сразу же увидят десятки тысяч людей, а если у вас будет высокий рейтинг - система дополнительно покажет созданную вами информацию даже тем людям, которым она не подходит по интересам, но может оказаться полезной.
							p Высокий рейтинг на портале INFOZA - это возможность общаться с огромным количеством людей и делится с ними своей информацией. Это то, что гораздо ценнее денег, и то, что можно конвертировать в дополнительный заработок. Поэтому, проявляйте активность, увеличивайте рейтинг, а с ним и свою популярность. Подробнее о рейтинге и его начислении описано в личном кабинете в разделе Мои приглашения.
				.Thesis.Theses_item
					.Thesis_number 09
					.Thesis_textWrapper
						h2.Thesis_title Обмана больше не будет!
						.Thesis_text
							p Раздел Досье - это не только информация о каждой вакансии, но и о всех компаниях, посредниках и агенциях, которые занимаются трудоустройством.
				.Thesis.Theses_item
					.Thesis_number 10
					.Thesis_textWrapper
						h2.Thesis_title Я смогу найти информацию о любой компании?
						.Thesis_text
							p Именно так! Благодаря сложному алгоритму, вы, даже не имея полных данных, сможете найти детальную информацию про любую компанию или человека и узнать всё о его деятельности.
							p Мы разработали умный поиск, который даже по одному номеру телефону, фамилии, названии или другой, даже незначительной информации, определит компанию, владельца или агенцию и покажет на неё полное досье.
							.Thesis_imgWrap
								img(src="/img/dossier_search_img.jpg", alt="Dossier search")
							p Вы сможете проследить деятельность компании за все время, посмотреть телефоны и другие способы связи, которые она использует или когда-то использовала. Увидеть рейтинг, комментарии реальных клиентов с фото и даже видео информацией. То есть, вы узнаете всю правду о любой компании, агенции или посреднике и поймете, можно ли им доверять и к ним обращаться.
				.Thesis.Theses_item
					.Thesis_number 11
					.Thesis_textWrapper
						h2.Thesis_title Кто будет добавлять информацию о компаниях, агенциях и посредниках?
						.Thesis_text
							p Собрать всю информацию о каждой агенции, посреднике или компании, которая занимается трудоустройством, мы сможем только все вместе!
				.Thesis.Theses_item
					.Thesis_number 12
					.Thesis_textWrapper
						h2.Thesis_title Как поделится своим опытом?
						.Thesis_text
							p Напишите нам на почту: #[a(href="mailto:info@infoza.com") info@infoza.com] и расскажите свою историю (как положительную так и отрицательную) о том, как вы обращались в ту или иную компанию по трудоустройству. Какими услугами пользовались, как все прошло и остались ли вы довольны их работой. Поделитесь своим опытом, независимо от того, удачно все прошло у вас или нет. Фото и видео материалы также будут очень полезными, если у вас они остались.
				.Thesis.Theses_item
					.Thesis_number 13
					.Thesis_textWrapper
						h2.Thesis_title Какое вознаграждение я получу?
						.Thesis_text
							p За ваш рассказ, в знак благодарности, мы начислим 100 баллов рейтинга (чтобы их заработать в обычном режиме, нужно создать сто тем или написать 100 комментариев на портале).
				.Thesis.Theses_item
					.Thesis_number 14
					.Thesis_textWrapper
						h2.Thesis_title Пора изменять то, что не менялось годами!
						.Thesis_text
							p Владельцы бизнесов привыкли, что любой негативный комментарий за деньги можно удалить. Но, только не здесь. INFOZA - полностью независимый портал! Мы не нуждаемся в финансировании, поэтому в нашей базе будет только независимая и честная информация, которую нельзя будет удалить или исправить. И абсолютно каждый может прислать нам такую информацию о любой компании, посреднике, работодателе или агенции по трудоустройству и она будет опубликована!
							p Только так мы отделим честных людей в сфере трудоустройства от тех, которые привыкли обманывать людей. Благодаря этому, мы поможем миллионам людей сохранить свое время, нервы и деньги!
				.Thesis.Theses_item
					.Thesis_number 15
					.Thesis_textWrapper
						h2.Thesis_title Когда добавлять информацию можно будет в автоматическом режиме?
						.Thesis_text
							p 15 апреля состоится официальный запуск раздела Досье, в котором уже будет находится информация о сотнях разных вакансиях и компаниях, которые работают в сфере трудоустройства. После официального открытия раздела Досье, вы сможете искать, просматривать, создавать и добавлять информацию о любой работе, компании, посреднике или работодателе в полностью автоматическом режиме.
							p До этого момента (до 15 апреля) вся информация в разделе Досье будет добавляться вручную. Поэтому, если вы работали за границей или обращались за трудоустройством - поделитесь с нами вашим опытом!
							p #[span.Semibold Присоединяйтесь к порталу INFOZA, приглашайте друзей, увеличивайте свой рейтинг и изменяйте мир к лучшему!]
	include /includes/blocks/LinkCopiedNotification