extends /layouts/dummy_new_layout
block vars
	- var title = "Infoza - Найбільша спільнота заробітчан!";
	- var wrapperModifiers = "Wrapper-blurred";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				include /includes/blocks/MenuSection
				.QuestionsSection.Main_questionsSection
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Обновляется ли биометрия во время пребывания на печати
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Открыл визу, пришла децизия
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Чи можна лишитись в Польщі після закінчення безвізу, якщо подати на карту
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Можна залишитись працювати після воєводської візи?
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Як залишитись в Польщі після студентської візи?
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Коли можна подати документи на карту побиту?
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Ще немає штампа, я зараз легально в Польщі?
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Мне аннулируют печать если я поеду в Украину?
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Можно ли работать на печати
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") При открытии визы дело по карте не аннулируют?
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										include /includes/svg/SvgIco/answer
										span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
			.Aside.Main_aside
				include /includes/blocks/TopicCreationBlock
				include /includes/blocks/PopularTopics