extends /layouts/main_layout
block vars
	- var title = "Главная страница";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				//- include /includes/blocks/MenuSection
				.Banner.Banner-communication.Main_banner
					button(type="button" data-action="closeBanner").Banner_closeBtn
					.Banner_label Общение
					h2.Banner_title Всё, что вы хотели узнать о работе за границей 
					.Banner_text
						p Добро пожаловать в Infoza – крупнейшую социальную сеть о работе за #[br.hidden-xs]границей. Здесь люди общаются между собой, отвечают на вопросы, #[br.hidden-xs]делятся опытом и #[br.hidden-smPlus]помогают друг другу
					button(type="button" data-action="closeBanner").BtnBlue.BtnBlue-banner.Banner_btn Понятно
				h1.PageTitle.Main_pageTitle Работа в Польше и за границей - форум
				//- .QuestionsSection.Main_questionsSection.Loader
				.QuestionsSection.Main_questionsSection
					.QuestionBlock.QuestionBlock-frontPage.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.UserPhoto-frontPage.QuestionBlock_userPhoto
									a(href="/topic_details.html")
										img(src="/img/konstantin_konstantinovich.png", alt="Константин Константинович").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Константин Константинович
										.QuestionBlock_dateWrapper
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 969
									.QuestionBlock_dateWrapper
										.QuestionBlock_label.hidden Вопрос
										.QuestionBlock_date 36 минут назад
							.QuestionBlock_headerRight.hidden-xs
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Обязательная обсервация
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like.hidden-smMinus
											include /includes/svg/SvgIco/like
											span.Like_count 423
										a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 369
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count.hidden-xs Warszawa
					.QuestionBlock.QuestionBlock-frontPage.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.UserPhoto-frontPage.QuestionBlock_userPhoto
									a(href="/topic_details.html")
										img(src="/img/ivan.png", alt="Иван").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван
										.UserIcons.QuestionBlock_userIcons
											ul.UserIcons_list
												li.UserIcons_item.UserIcons_item-check
													include /includes/svg/user_icons/check
												li.UserIcons_item.UserIcons_item-cup
													include /includes/svg/user_icons/cup
												li.UserIcons_item.UserIcons_item-lightning
													include /includes/svg/user_icons/lightning
												li.UserIcons_item.UserIcons_item-shield
													include /includes/svg/user_icons/shield
										.QuestionBlock_dateWrapper
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 969
									.QuestionBlock_dateWrapper
										.QuestionBlock_label.hidden Совет
										.QuestionBlock_date 36 минут назад
							.QuestionBlock_headerRight.hidden-xs
								.QuestionBlock_label Совет
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Рабочая вакансия
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like.hidden-smMinus
											include /includes/svg/SvgIco/like
											span.Like_count 423
										a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 369
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count.hidden-xs Warszawa
					.QuestionBlock.QuestionBlock-frontPage.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.UserPhoto-frontPage.QuestionBlock_userPhoto
									a(href="/topic_details.html")
										img(src="/img/sergey2.png", alt="Сергей").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Сергей
										.UserIcons.QuestionBlock_userIcons
											ul.UserIcons_list
												li.UserIcons_item.UserIcons_item-check
													include /includes/svg/user_icons/check
												li.UserIcons_item.UserIcons_item-cup
													include /includes/svg/user_icons/cup
												li.UserIcons_item.UserIcons_item-lightning
													include /includes/svg/user_icons/lightning
												li.UserIcons_item.UserIcons_item-shield
													include /includes/svg/user_icons/shield
										.QuestionBlock_dateWrapper
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 969
									.QuestionBlock_dateWrapper
										.QuestionBlock_label.hidden Вопрос
										.QuestionBlock_date 36 минут назад
							.QuestionBlock_headerRight.hidden-xs
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Виїзд з Києва до Варшави
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like.hidden-smMinus
											include /includes/svg/SvgIco/like
											span.Like_count 423
										a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 369
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count.hidden-xs Warszawa
				.SectionDescription.SectionDescription-homePage.Main_sectionDescription
					h2 Общение
					p Infoza – сервис для общения единомышленников, интересующихся трудовой миграцией. Форум о работе в Польше и за границей является хорошей базой знаний. Здесь можно обсудить любые вопросы по теме.
					h3 Форум о работе в Польше: польза и возможности
					p Часто случается так, что рынок труда на родине не может удовлетворить потребности своих граждан. Именно поэтому многие мужчины, женщины, семейные пары и студенты решаются на трудовые поездки за рубеж. Среди наиболее распространенных причин, по которым люди стремятся найти место занятости в другой стране, являются:
					ul
						li желание познакомиться с другой страной, культурой;
						li освоить новую профессию, получить полезные навыки;
						li освоиться в стране для дальнейшего проживания на постоянной основе;
						li выучить иностранный язык;
						li найти высокооплачиваемое место труда.
					p Конечно, основной целью всех соискателей является улучшение своего финансового состояния, обеспечение достойного уровня жизни себе и близким.
					p Работа за границей на форуме Infoza обсуждается как новичками, так и опытными работниками, поэтому здесь можно найти ответы и самому задать вопросы, поделиться опытом и узнать о практике других.
					h3 Наиболее популярными тематиками, интересующими соискателей, являются:
					ol
						li Как найти работу в Польше с официальным трудоустройством, достойной #[br.hidden-xs]оплатой и комфортными условиями труда, проживания.
						li Какие посредники являются надёжными и как избежать возможных неприятностей с мошенничеством.
						li Как понять, что работодатель добросовестный.
						li Секреты получения хорошей работы и успешного прохождения собеседования, стажировки.
						li Что нужно знать о сезонной работе.
						li Какие агентства по трудоустройству за границей на форуме рекомендуются для поиска проверенных вакансий, оформления документов и организации поездки.
						li Как женщине безопасно устроиться на работу в чужой стране без рисков попадания в рабство.
					p Найти информацию об этом и многом другом можно у нас на сайте. Работа за границей – форум Инфоза поможет уберечь себя от сложных ситуаций, ненадежных компаний и понять, как удобно, выгодно и безопасно поехать на заработки в другую страну.
					p Поэтому не тратьте время впустую, переходите на форум о работе в Польше и делитесь своими историями, способами решения проблем, особенностями, с которыми вы столкнулись за границей и т.п. На сайте содержится информация от реальных людей, которые на собственном опыте познакомились с трудовой миграцией. Мы обсуждаем распространенные заблуждения и предостерегаем от ошибок. Все делаем открыто и откровенно, чтобы вы были подготовлены к такому путешествию.
			.Aside.Main_aside
				.Aside_inner
					include /includes/blocks/TopicCreationBlock
					include /includes/blocks/PopularTopics