extends /layouts/main_layout_profile
block vars
	- var title = "Мои сохранения";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-save";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.MobileHeader-noBorder.hidden-smPlus
					a(href="#").BtnBack.MobileHeader_btnBack
						include /includes/svg/SvgIco/arrow_left
					h1.MobileHeader_title #{title}
					a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
						include /includes/svg/SvgIco/dots
				include /includes/blocks/MenuSectionSave
				.NoResults.NoResults-mySave.hidden
					.NoResults_icon
						include /includes/svg/no_save
					.NoResults_text В этом разделе у вас пока нет #[br]сохранений
				.QuestionsSection.QuestionsSection-saved.Main_questionsSection
					.QuestionBlock.QuestionBlock-saved.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									a(href="/topic_details.html")
										img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.QuestionBlock_dateWrapper
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_dateWrapper
										.QuestionBlock_label.hidden Вопрос
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight.hidden-xs
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Карантин для студентів?
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like.hidden-smMinus
											include /includes/svg/SvgIco/like
											span.Like_count 235
										a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
											include /includes/svg/SvgIco/like
											span.Like_count 235
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 12
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 31.8К
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count.hidden-xs Польша
					.QuestionBlock.QuestionBlock-saved.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									a(href="/topic_details.html")
										img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.QuestionBlock_dateWrapper
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_dateWrapper
										.QuestionBlock_label.hidden Вопрос
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight.hidden-xs
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Хто підкаже до якого числа карантин у Польщі
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like.hidden-smMinus
											include /includes/svg/SvgIco/like
											span.Like_count 235
										a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
											include /includes/svg/SvgIco/like
											span.Like_count 235
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 12
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 31.8К
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count.hidden-xs Польша
					.QuestionBlock.QuestionBlock-saved.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									a(href="/topic_details.html")
										img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.QuestionBlock_dateWrapper
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_dateWrapper
										.QuestionBlock_label.hidden Вопрос
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight.hidden-xs
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Чи потрібно повертати запрошення для його ануляції?
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like.hidden-smMinus
											include /includes/svg/SvgIco/like
											span.Like_count 235
										a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
											include /includes/svg/SvgIco/like
											span.Like_count 235
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 12
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 31.8К
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count.hidden-xs Польша
					.QuestionBlock.QuestionBlock-saved.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									a(href="/topic_details.html")
										img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.QuestionBlock_dateWrapper
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_dateWrapper
										.QuestionBlock_label.hidden Вопрос
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight.hidden-xs
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Хто підкаже до якого числа карантин у Польщі
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like.hidden-smMinus
											include /includes/svg/SvgIco/like
											span.Like_count 235
										a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
											include /includes/svg/SvgIco/like
											span.Like_count 235
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 12
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 31.8К
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count.hidden-xs Польша
			.Aside.Main_aside.hidden-xs
				include /includes/blocks/ProfileMenu
	include /includes/blocks/LikePopup
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification