extends /layouts/main_layout_profile
block vars
	- var title = "Мои темы";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.hidden-smPlus
					a(href="#").BtnBack.MobileHeader_btnBack
						include /includes/svg/SvgIco/arrow_left
					h1.MobileHeader_title Мои темы
					.DotsMenu.DotsMenu-share.MobileHeader_dotsMenu
						a(href="javascript:;").DotsMenu_icon
							include /includes/svg/SvgIco/dots
						.DotsMenu_wrapper
							ul.DotsMenu_menu
								li.DotsMenu_item
									a(href="#LinkCopiedNotification", data-action="copyURL").DotsMenu_link
										include /includes/svg/SvgIco/copy_reverse
										.
											Копировать
				.Main_topicsHeader
					include /includes/blocks/TopicsHeader
				.Main_topicsFilter
					include /includes/blocks/TopicsFilter
				.QuestionsSection
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									a(href="/topic_details.html")
										img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.UserIcons.QuestionBlock_userIcons
											ul.UserIcons_list
												li.UserIcons_item.UserIcons_item-check
													include /includes/svg/user_icons/check
												li.UserIcons_item.UserIcons_item-cup
													include /includes/svg/user_icons/cup
												li.UserIcons_item.UserIcons_item-lightning
													include /includes/svg/user_icons/lightning
												li.UserIcons_item.UserIcons_item-shield
													include /includes/svg/user_icons/shield
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like.hidden-smMinus
											include /includes/svg/SvgIco/like
											span.Like_count 423
										a(href="javascript:;", data-src="#LikePopup").OpenPopupLink.Like.hidden-md
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									a(href="/topic_details.html").StatIcon_link
										img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.UserIcons.QuestionBlock_userIcons
											ul.UserIcons_list
												li.UserIcons_item.UserIcons_item-check
													include /includes/svg/user_icons/check
												li.UserIcons_item.UserIcons_item-cup
													include /includes/svg/user_icons/cup
												li.UserIcons_item.UserIcons_item-lightning
													include /includes/svg/user_icons/lightning
												li.UserIcons_item.UserIcons_item-shield
													include /includes/svg/user_icons/shield
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									a(href="/topic_details.html").StatIcon_link
										img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.UserIcons.QuestionBlock_userIcons
											ul.UserIcons_list
												li.UserIcons_item.UserIcons_item-check
													include /includes/svg/user_icons/check
												li.UserIcons_item.UserIcons_item-cup
													include /includes/svg/user_icons/cup
												li.UserIcons_item.UserIcons_item-lightning
													include /includes/svg/user_icons/lightning
												li.UserIcons_item.UserIcons_item-shield
													include /includes/svg/user_icons/shield
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
					.QuestionBlock.QuestionsSection_item
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									a(href="/topic_details.html").StatIcon_link
										img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.UserIcons.QuestionBlock_userIcons
											ul.UserIcons_list
												li.UserIcons_item.UserIcons_item-check
													include /includes/svg/user_icons/check
												li.UserIcons_item.UserIcons_item-cup
													include /includes/svg/user_icons/cup
												li.UserIcons_item.UserIcons_item-lightning
													include /includes/svg/user_icons/lightning
												li.UserIcons_item.UserIcons_item-shield
													include /includes/svg/user_icons/shield
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight
								.QuestionBlock_label Вопрос
						h2.QuestionBlock_title
							a(href="/topic_details_authorization.html") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
										a(href="javascript:;").Like
											include /includes/svg/SvgIco/like
											span.Like_count 423
									li.StatIcon.StatIcon-answer.StatIcons_item
										a(href="/topic_details.html").StatIcon_link
											include /includes/svg/SvgIco/answer
											span.StatIcon_count 36
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcon-views.StatIcon-bordered.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
									li.StatIcon.StatIcons_item.StatIcons_item-country
										img(src="/img/icon_pl.png", alt="Poland")
										span.StatIcon_count Warszawa
			.Aside.Main_aside
				.SidebarMenu.SidebarMenu-profileMenu#SidebarMenu.hidden-smMinus
					h3.SidebarMenu_title Профиль
					ul.SidebarMenu_menu
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Мои темы
						li.SidebarMenu_item
							a(href="/profile_invite.html").SidebarMenu_link Мои приглашения
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Уведомления
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Настройки
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Выход
				.TopicCreationBlock
					h3.TopicCreationBlock_title Нужен ответ?
					.TopicCreationBlock_text Просто создайте тему и вам ответят
					a(href="#").BtnBlue.BtnBlue-light.BtnBlue-topicCreation Cоздать
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	script(src="/js/topics_filter.js")