extends /layouts/main_layout
block vars
	- var title = "Новости";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-infoPages Main-newsFeed";
block content
	.MobileHeader.hidden-smPlus
		h1.MobileHeader_title #{title}
		a(href="#PopupShare", data-action="openMobilePopup", data-mobile-popup-title="Новости").DotsIcon.MobileHeader_dotsIcon
			include /includes/svg/SvgIco/dots
	.Container.Main_container
		.Main_columns
			.Main_sidebar
				.SidebarMenu#SidebarMenu.hidden-smMinus
					ul.SidebarMenu_menu
						li.SidebarMenu_item.SidebarMenu_item-hasSubMenu
							a(href="#").SidebarMenu_link Категории
							ul.SidebarMenu_subMenu
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Список объектов
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink JSON-схема
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Товары для дома
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Компьютерная техника
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Одежда, обувь и аксессуары
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Спорт и отдых
				a(href="#PopupMenu").SelectionLink.PopupMenuLink.hidden-md Категории
			.Main_content
				.NewsFeed
					.Article.NewsFeed_article.Article-twoCol
						.Article_col
							.Article_imgWrap
								img(src="/img/news_item.jpg", alt="Lorem ipsum dolor sit amet").Article_img
						.Article_col.Article_col-right
							h1.Article_title Lorem ipsum dolor sit amet, consectetur adipiscing
							.Article_text
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.StatIcons.StatIcons-newsFeed.Article_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
					.NewsBlocks.NewsFeed_blocks
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block1.jpg", alt="Duis aute irure dolor").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block2.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block3.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block4.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block5.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block6.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block7.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block8.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block9.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
	.PopupMenu#PopupMenu
		.PopupMenu_overlay
		.PopupMenu_wrapper
			ul.PopupMenu_menu
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link.active Список объектов
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link JSON-схема
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Товары для дома
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Компьютерная техника
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Одежда, обувь и аксессуары
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Спорт и отдых
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification