extends /layouts/main_layout
block vars
	- var title = "Новости";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-infoPages Main-newsFeed";
block content
	.MobileHeader.MobileHeader-feed.hidden-smPlus
		a(href="/").SiteName.SiteName-feed.MobileHeader_siteName infoza
		h1.MobileHeader_title #{title}
		a(href="#PopupShare", data-action="openMobilePopup", data-mobile-popup-title="Новости").DotsIcon.MobileHeader_dotsIcon
			include /includes/svg/SvgIco/dots
	.Container.Main_container
		.Main_columns
			.Main_sidebar
				.SidebarMenu#SidebarMenu.hidden-smMinus
					ul.SidebarMenu_menu
						li.SidebarMenu_item.SidebarMenu_item-hasSubMenu
							a(href="#").SidebarMenu_link Категории
							ul.SidebarMenu_subMenu
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Список объектов
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink JSON-схема
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Товары для дома
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Компьютерная техника
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Одежда, обувь и аксессуары
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Спорт и отдых
				a(href="#PopupMenu").SelectionLink.PopupMenuLink.hidden-md Категории
			.Main_content
				.Banner.Banner-news.Main_banner
					button(type="button" data-action="closeBanner").Banner_closeBtn
					.Banner_label Новости
					h2.Banner_title Последние новости о работе за границей и не только
					.Banner_text
						p Крупнейшая социальная сеть о работе за границей Infoza – это общение, вакансии, информация о работодателях. Здесь можно найти актуальную информацию, если интересует работа в Польше: новости, обсуждения, советы. Если нужна работа в Германии для украинцев, новости помогут ориентироваться в предложениях по трудоустройству.
					button(type="button" data-action="closeBanner").BtnBlue.BtnBlue-banner.Banner_btn Понятно
				.NewsFeed
					.Article.NewsFeed_article.Article-twoCol
						.Article_col
							.Article_imgWrap
								img(src="/img/news_item.jpg", alt="Lorem ipsum dolor sit amet").Article_img
						.Article_col.Article_col-right
							h1.Article_title Lorem ipsum dolor sit amet, consectetur adipiscing
							.Article_text
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.StatIcons.StatIcons-newsFeed.Article_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
					.NewsBlocks.NewsFeed_blocks
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block1.jpg", alt="Duis aute irure dolor").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block2.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block3.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block4.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block5.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block6.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block7.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block8.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor in velit reprehenderit in volup
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
						.NewsBlock.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="#")
									img(src="/img/news_block9.jpg", alt="Duis aute irure dolor in velit reprehenderit in volup").NewsBlock_img
							h3.NewsBlock_title
								a(href="#").NewsBlock_titleLink Duis aute irure dolor
							.NewsBlock_text Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod
							.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
								.StatIcons_left
									ul.StatIcons_list
										li.StatIcon.StatIcons_item
											a(href="javascript:;").Like.Like-news
												include /includes/svg/SvgIco/like
												span.Like_count 423
								.StatIcons_right
									ul.StatIcons_list
										li.StatIcon.StatIcon-bordered.StatIcons_item
											span.Date Сегодня в 7:05
										li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
											include /includes/svg/SvgIco/eye
											span.StatIcon_count 110
					.SectionDescription.SectionDescription-news.Main_sectionDescription
						h2 Новости
						p Крупнейшая социальная сеть о работе за границей Infoza – это общение, вакансии, информация о работодателях. Здесь можно найти актуальную информацию, если интересует работа в Польше: новости, обсуждения, советы. Если нужна работа в Германии для украинцев, новости помогут ориентироваться в предложениях по трудоустройству.
						h3 Как новости помогут найти работу в Польше
						p В Infoza работа за границей в новостях освещена со всех сторон: условия, зарплата, оформление документов, законодательные изменения. Мужчины и женщины, семейные пары выезжают на заработки. На страницах популярного сайта можно ознакомиться с информацией, которая касается работы в Чехии, новости освещают все нюансы, важные для украинцев.
						p В новостях можно узнать, специалисты каких направлений наиболее востребованы на европейском рынке - это сварщики, строители, #[br.hidden-smPlus]водители–дальнобойщики. Для женщин можно подобрать должности горничных, сиделок, нянь, посудомоек, швей. О том, где найти свежие вакансии, как оформить визу, искать место самостоятельно или через посреднические агентства сообщается в разделе новости Польши, Украины, работа станет искать проще. Помощь посредников упрощает размещение резюме, поиск работодателя, ускоряет процесс получения документов и выезда за границу. На вопрос, есть ли работа в Германии для украинцев, новости дают ответ, что:
						ul
							li трудоустройство легально, однако по-прежнему много случаев неофициально работающих;
							li всегда востребованы специалисты строительного направления, работники на предприятия (фабрики кондитерской, рыбной, мясной промышленности, заводы бытовой техники);
							li условия проживания, оплата оговариваются с работодателем.
						p Новости Польши о работе не менее интересны потому, что раскрывают основные требования к соискателям, график работы, особенности жизни в разных городах страны, условия труда за границей. Для заработка в летний период очень популяризируют сезонные работы. Для них не нужно профильное образование, достаточно желание и выносливость. Мужчин и женщин из Украины ждут на полях, в теплицах, на фермах, для сбора урожая клубники, черешни, малины, огурцов, помидоров и других ягод, овощей.
						p Популярным информационным разделом для соискателей остается работа в Германии, Чехии для украинцев, новости освещают все вопросы интересующие работников. Здесь описаны главные моменты, важные для тех, кто самостоятельно ищет место: как не попасть впросак с работодателями, #[br.hidden-smPlus]фирмами-посредниками. Работа в Польше - новости по этой теме всегда актуальны, например, о возможности получения визы для продления пребывания в стране. С середины июня будет упрощена процедура, и оформить польскую национальную визу можно в МИД Варшавы в специальном подразделении.
	.PopupMenu#PopupMenu
		.PopupMenu_overlay
		.PopupMenu_wrapper
			ul.PopupMenu_menu
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link.active Список объектов
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link JSON-схема
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Товары для дома
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Компьютерная техника
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Одежда, обувь и аксессуары
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Спорт и отдых
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification