extends /layouts/main_layout
block vars
	- var title = "Новость";
	- var mainModifiers = "Main-infoPages Main-article";
block content
	.Container.Main_container
		include /includes/blocks/TopMenu
		.Main_columns
			.Main_sidebar
				include /includes/blocks/SidebarMenu
			.Main_content
				.Article
					.Article_text
						.Article_imgWrap
							img(src="/img/article_img.jpg", alt="Article image")
						p Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи. Текст статьи.