extends /layouts/main_layout
block vars
	- var title = "Восстановление пароля (с помощью email)";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
block content
	.Container.Main_container
		.MobileHeader.hidden-smPlus
			a(href="#").BtnBack.MobileHeader_btnBack
				include /includes/svg/SvgIco/arrow_left
			h1.MobileHeader_title Восстановление пароля
		.Authorization.Authorization-passwordRecovery
			.Authorization_title.hidden-xs Восстановления пароля
			.Authorization_description Чтобы изменить пароль к учётной #[br.hidden-smPlus]записи – укажите Телефон #[br.hidden-xs]или E-mail, который был закреплён за аккаунтом
			form(action="#").Form.Form-passwordRecovery.Authorization_form.Authorization_form-passwordRecovery
				.Form_success
					include /includes/svg/SvgIco/ok2
					.Form_successText Ссылка на сброс пароля была отправлена
				.Form_linkWrapper
					a(href="/").Form_link.Form_link-large.hidden-xs Перейти на главную
					a(href="/").Form_link.Form_link-large.hidden-smPlus На главную
				.SeparateText.SeparateText-passwordRecovery.Form_separateText
					.SeparateText_inner или
				.Form_actionLinks
					a(href="javascript:;", data-fancybox, data-src="#LoginPopup").OpenPopupLink.Form_link.hidden-xs Вход
					a(href="/login").Form_link.hidden-smPlus Вход
					a(href="javascript:;", data-fancybox, data-src="#RegistrationPopup").OpenPopupLink.Form_link.hidden-xs Регистрация
					a(href="/register").Form_link.hidden-smPlus Регистрация