extends /layouts/main_layout
block vars
	- var title = "Восстановление пароля";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
block content
	.Container.Main_container
		.MobileHeader.hidden-smPlus
			a(href="#").BtnBack.MobileHeader_btnBack
				include /includes/svg/SvgIco/arrow_left
			h1.MobileHeader_title Восстановление пароля
			a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
				include /includes/svg/SvgIco/dots
		.Authorization.Authorization-passwordRecovery
			.Authorization_title.hidden-xs Восстановления пароля
			//- .Authorization_note Чтобы изменить пароль к учётной записи - укажите E-mail адрес, который был закреплён за аккаунтом.
			.Authorization_description Чтобы изменить пароль к учётной #[br.hidden-smPlus]записи – укажите Телефон #[br.hidden-xs]или E-mail, который был закреплён за аккаунтом
			form(action="#").Form.Form-passwordRecovery.Authorization_form.Authorization_form-passwordRecovery
				.FormControl.FormControl-passwordRecovery.Form_item
					input(type="text", name="email_or_phone", id="email_or_phone").FormText.FormText-passwordRecovery.FormControl_text
					//- label(for="email_or_phone").FormControl_label Email
					//- span.FormControl_icon
					//- 	include ./includes/svg/SvgIco/icon_email
				.Form_actions
					button(type="submit").BtnOrange.BtnOrange-passwordRecovery Восстановить пароль
				.Form_actionLinks
					a(href="javascript:;", data-fancybox, data-src="#LoginPopup").OpenPopupLink.Form_link.hidden-xs Вход
					a(href="/login").Form_link.hidden-smPlus Вход
					a(href="javascript:;", data-fancybox, data-src="#RegistrationPopup").OpenPopupLink.Form_link.hidden-xs Регистрация
					a(href="/register").Form_link.hidden-smPlus Регистрация
			//- .Authorization_text У вас уже есть аккаунт на infoza? #[a(href="javascript:;", data-src="#LoginPopup").OpenPopupLink.Semibold Войти]
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	script(src="/js/password_recovery.js")