extends /layouts/main_layout
block vars
	- var title = "Создание нового пароля";
block content
	.Main_container
		.Authorization
			h1.Authorization_title.Authorization_title-passwordCreation Создание нового пароля
			.Authorization_note Чтобы установить новый пароль к учётной записи - ещё раз укажите E-mail адрес и введите желаемый пароль
			form(action="#").Form.Authorization_form
				.FormControl.Form_item
					input(type="email", name="email3", id="email3").FormText.FormControl_text
					label(for="email3").FormControl_label Email
					span.FormControl_icon
						include ./includes/svg/SvgIco/icon_email
				.FormControl.Form_item
					input(type="password", name="password3", id="password3").FormText.FormControl_text
					label(for="password3").FormControl_label Придумайте пароль
					span.FormControl_icon
						include ./includes/svg/SvgIco/icon_password
				.FormControl.Form_item
					input(type="password", name="password_repeat3", id="password_repeat3").FormText.FormControl_text
					label(for="password_repeat3").FormControl_label Повторите пароль
					span.FormControl_icon
						include ./includes/svg/SvgIco/icon_password
				.Form_actions
					button(type="submit").BtnOrange.BtnOrange-large Изменить пароль и войти в аккаунт
			.Authorization_text У вас уже есть аккаунт на infoza? #[a(href="javascript:;", data-src="#LoginPopup").OpenPopupLink.Semibold Войти]