extends /layouts/main_layout
block vars
	- var title = "Восстановление пароля (с помощью телефона)";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
block content
	.Container.Main_container
		.MobileHeader.hidden-smPlus
			a(href="#").BtnBack.MobileHeader_btnBack
				include /includes/svg/SvgIco/arrow_left
			h1.MobileHeader_title Восстановление пароля
			a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
				include /includes/svg/SvgIco/dots
		.Authorization.Authorization-passwordRecovery
			.Authorization_title.hidden-xs Восстановления пароля
			.Authorization_description Восстановление профиля по номеру телефону происходит #[br.hidden-xs]в ручном режиме. Пожалуйста, напишите нам #[br.hidden-smPlus] на почту #[br.hidden-xs]#[a(href="mailto:info@infoza.top") info@infoza.top] или в один #[br.hidden-smPlus]из мессенджеров: #[a(href="viber://chat?number=+380680220201") Viber] или #[br.hidden-xs]#[a(href="tg://resolve?domain=infoza.top") Telegram] #[br.hidden-smPlus]и мы восстановим ваш аккаунт.
			form(action="#").Form.Form-passwordRecovery.Authorization_form.Authorization_form-passwordRecovery
				.SeparateText.SeparateText-passwordRecovery.Form_separateText
					.SeparateText_inner или
				.Form_emailRecovery
					a(href="/password_recovery.html").Form_link.Form_link-large Восстановить с помощью E-mail
				.Form_actionLinks
					a(href="javascript:;", data-fancybox, data-src="#LoginPopup").OpenPopupLink.Form_link.hidden-xs Вход
					a(href="/login").Form_link.hidden-smPlus Вход
					a(href="javascript:;", data-fancybox, data-src="#RegistrationPopup").OpenPopupLink.Form_link.hidden-xs Регистрация
					a(href="/register").Form_link.hidden-smPlus Регистрация
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification