extends /layouts/main_layout
block vars
	- var title = "Pricing";
	//- - var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-dossier";
block content
	.Main_container
		.ShieldSection
			.Container.Container-pricing.ShieldSection_container
				.ShieldSection_left
					h2.ShieldSection_title Защитим ваш #[br.hidden-smPlus]бизнес и повысим доверие клиентов
					img(src="/img/business_protection.png", alt="Business protection").ShieldSection_img.hidden-smPlus
					.ShieldSection_text Каждый предприниматель знает, что бизнес работает до тех пор, пока он вызывает доверие у клиентов. Доверие невероятно сложно заслужить, и очень легко потерять. Благодаря INFOZA вы не только закрепите свою позицию на рынке, но и забудете о любых выходках конкурентов.
				.ShieldSection_right.hidden-xs
					img(src="/img/business_protection.png", alt="Business protection").ShieldSection_img
		.BusinessOportunities
			.Container.Container-pricing.BusinessOportunities_container
				h2.BusinessOportunities_title.hidden-smPlus Наши возможности для вашего бизнеса
				.BusinessOportunities_left
					img(src="/img/business_oportunities.png" alt="Business oportunities").BusinessOportunities_img
				.BusinessOportunities_right
					h2.BusinessOportunities_title.hidden-xs Наши возможности для вашего бизнеса
					h3.BusinessOportunities_subTitle Знаем, что нужно клиентам для того, чтобы выбрать именно ваш бизнес!
					.BusinessOportunities_text
						p Главная ошибка большинства предпринимателей в том, что они думают, что если делать своё дело хорошо – то и говорить о них будут тоже только хорошее. К сожалению, конкуренция в сфере трудоустройства настолько большая, что даже если вы профессионал в своем деле – однажды можете найти множество негативных отзывов о вас и вашей работе. Откуда отзывы? Их напишут или закажут ваши конкуренты, которые делают все гораздо хуже, но при этом очень не хотят терять клиентов. Можно ли как-то этого избежать? Можно! INFOZA была создана именно для этого!
		.Theses.Theses-pricing
			.Container.Container-pricing.Theses_container
				h2.Theses_title Как мы защитим ваш бизнес
				h3.Theses_subTitle 100% защита, которую мы гарантируем
				.Theses_items
					.Thesis.Thesis-pricing.Theses_item
						.Thesis_left
							.Thesis_number 1
							h4.Thesis_title Публикация только #[br.hidden-xs]реальных отзывов о работе
						.Thesis_right
							.Thesis_text
								p Наш отдел контроля работает 24 / 7 и публикует полученные отзывы только в двух случаях: если пользователь пройдет особую верификацию или когда он представит все необходимые доказательства, которые будут подтверждать его слова. Поэтому работая с нами, вы будете уверенными, что все опубликованные отзывы будут реальными, а конкуренты больше не смогут писать о вас неправду.
					.Thesis.Thesis-pricing.Theses_item
						.Thesis_left
							.Thesis_number 2
							h4.Thesis_title Ссылка на страницу вашей компании в INFOZA
						.Thesis_right
							.Thesis_text
								p INFOZA – крупнейший в Украине и СНГ портал о работе за границей, поэтому страница вашей компании на нашем сервисе будет всегда в первых позициях в любой поисковой системе, особенно в Google. Это значит, что когда люди будут искать информацию о вашей компании в интернете – они в первую очередь будут переходить на страницу вашей компании на нашем портале и изучать настоящие отзывы о вас. Поэтому, самое время заняться рейтингом вашей компании.
					.Thesis.Thesis-pricing.Theses_item
						.Thesis_left
							.Thesis_number 3
							h4.Thesis_title Круглосуточная проверка отзывов о вашем бизнесе на других ресурсах
						.Thesis_right
							.Thesis_text
								p Не смотря на то, что INFOZA – лидирующий портал о работе за границей и 90% пользователей будут изучать отзывы о вас только здесь – всегда будут такие люди, которые напишут о вас неправду на других мелких площадках и сайтах. Именно поэтому наш специальный алгоритм будет проверять и круглосуточно искать все отзывы о вашей деятельности на других интернет-ресурсах, в том числе в социальных сетях. Как только кто-либо напишет о вас отзыв – вы об этом узнаете мгновенно, и сразу сможете отреагировать, указав на то, что если этого отзыва нет на странице вашей компании на INFOZA, то и верить ему не стоит.
					.Thesis.Thesis-pricing.Theses_item
						.Thesis_left
							.Thesis_number 4
							h4.Thesis_title Мгновенное уведомление о негативных отзывах
						.Thesis_right
							.Thesis_text
								p В мире не существует ни одной идеальной компании, поэтому, иногда бывает так, что клиенты остаются недовольными. Если такое произойдет и кто-то напишет о вас негативные отзыв вы мгновенно об этом узнаете. Затем, вы сможете его обсудить с автором и разрешить ситуацию, показав остальным пользователям и будущим клиентам что вам можно доверять!
					.Thesis.Thesis-pricing.Theses_item
						.Thesis_left
							.Thesis_number 5
							h4.Thesis_title Честный и справедливый арбитраж
						.Thesis_right
							.Thesis_text
								p Для того, чтобы опубликовать отзыв – каждый пользователь должен предоставить доказательства, которые бы подтверждали его слова или пройти верификацию личности. Если случится, что пользователь докажет сотрудничество с вами, но при этом напишет ложный отзыв или просто преувеличить произошедшую ситуацию – вы всегда сможете обратится в Арбитраж. Наша команда профессионалов внимательно изучит все документы, и представленные доказкательства, и вынесет справедливый вердикт. Если вы сможете договорится или пойдёте на какие-либо уступки, это все отобразиться возле отзыва. А как показала статистика – клиенты гораздо больше доверяют тем компаниям, которые умеют улаживать конфликтные ситуации, нежели тем, у которые совсем нет отрицательных отзывов.
		.TrustSection
			.Container.Container-pricing.TrustSection_container
				.TrustSection_left
					h2.TrustSection_title Как мы повысим доверие вашего бизнеса
					h4.TrustSection_subTitle Всё просто! Больше доверия – больше клиентов
					.TrustBlock.TrustSection_block
						.TrustBlock_iconWrapper
							img(src="/img/trust/Star.svg" alt="Star").TrustBlock_icon
						h4.TrustBlock_title Больше отзывов – больше доверия
						.TrustBlock_text
							p Возможно, у вас уже есть множество клиентов, которые довольны вашей работой или с которыми вы  уже работали раньше. Так же может быть что о вас пишут хорошие отзывы на различных веб-ресурсах или в социальных сетях. В таком случае, наш сall-center свяжется с каждым пользователем, который оставил хороший комментарий о вашей деятельности в интернете и предложит ему перенести его на INFOZA. На качество проверки отзывов это никак не повлияет, но зато вы сможете делегировать это нам и в кратчайшие сроки наполните свой профиль реальными положительными отзывами ваших настоящих клиентов, показав свой уровень и превосходства.
				.TrustSection_right
					.TrustBlock.TrustSection_block
						.TrustBlock_iconWrapper
							img(src="/img/trust/Shield.svg" alt="Shield").TrustBlock_icon
						h4.TrustBlock_title Компании представленной на INFOZA – можно доверять!
						.TrustBlock_text
							p Создайте страницу на INFOZA и клиенты это оценят. Так вы покажите, что вам нечего скрывать. Иногда людям нужно знать, что в случае невыполнения обязательств со стороны работодателя, они смогут куда-то пожаловаться и на их жалобу отреагируют. В 99% случаев этого не происходит, но сам факт, что вы даёте такую возможность, заставляет их выбирать услуги именно вашей компании!
					.TrustBlock.TrustSection_block
						.TrustBlock_iconWrapper
							img(src="/img/trust/Rocket.svg" alt="Rocket").TrustBlock_icon
						h4.TrustBlock_title Профиль на INFOZA – ваше мощное преимущество на других ресурсах
						.TrustBlock_text
							p После создания профиля на INFOZA – вы можете поделиться этим с вашей целевой аудиторией, делая акцент на том, что только вы ведёте честный бизнес и не боитесь об этом заявить. Люди любят открытость, поэтому, приток новых клиентов вам будет обеспечен!
		.Container.Container-pricing
			.Plans
				.Plans_header
					h2.Plans_title Сколько это стоит?
					.Plans_subTitle Мы создали предложения, которые подойдут каждому
					.Plans_currency.hidden-smPlus
						span.Plans_currencyLabel Валюта
						.DropdownSelect.DropdownSelect-plansTable.PlansTable_currencyDropdown
							select(name="currency").DropdownSelect_select
								option(value="uah") UAH
								option(value="usd") USD
				table.PlansTable.hidden-xs
					thead
						tr.PlansTable_row
							th.PlansTable_th.PlansTable_th-currency Валюта
								.DropdownSelect.DropdownSelect-plansTable.PlansTable_currencyDropdown
									select(name="currency").DropdownSelect_select
										option(value="uah") UAH
										option(value="usd") USD
							th.PlansTable_th Start #[br]#[span.PlansTable_headerPrice #[span.PlansTable_sum 1350] UAH]
							th.PlansTable_th Silver #[br]#[span.PlansTable_headerPrice #[span.PlansTable_sum 1500] UAH]
							th.PlansTable_th Gold #[br]#[span.PlansTable_headerPrice #[span.PlansTable_sum 1800] UAH]
							th.PlansTable_th Platinum #[br]#[span.PlansTable_headerPrice #[span.PlansTable_sum 2000] UAH]
							th.PlansTable_th MEGA #[br]#[span.PlansTable_headerPrice #[span.PlansTable_sum 2500] UAH]
					tbody
						tr.PlansTable_row
							td.PlansTable_data.PlansTable_data-title Арбитраж
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data 1
							td.PlansTable_data 2
							td.PlansTable_data 3
							td.PlansTable_data 4
							td.PlansTable_data 5
						tr.PlanlsTable_row
							td.PlansTable_data.PlansTable_data-title Дополнительный арбитраж
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
								.PlansTable_price + 2000 UAH / ед.
							td.PlansTable_data
								img(src="/img/checkmark.svg")
								.PlansTable_price + 1000 UAH / ед.
							td.PlansTable_data
								img(src="/img/checkmark.svg")
								.PlansTable_price Бесплатно
						tr.PlanlsTable_row
							td.PlansTable_data.PlansTable_data-title Статистика посещаемости
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
						tr.PlanlsTable_row
							td.PlansTable_data.PlansTable_data-title Приоритетная поддержка
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
						tr.PlanlsTable_row
							td.PlansTable_data.PlansTable_data-title Личный менеджер
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
						tr.PlanlsTable_row
							td.PlansTable_data.PlansTable_data-title Поддержка 24/7
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
						tr.PlanlsTable_row
							td.PlansTable_data.PlansTable_data-title Просмотр отклонённых отзывов
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
						tr.PlanlsTable_row
							td.PlansTable_data.PlansTable_data-title Кол-во администраторов
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data 1
							td.PlansTable_data 2
							td.PlansTable_data 3
							td.PlansTable_data 4
							td.PlansTable_data 5
						tr.PlanlsTable_row
							td.PlansTable_data.PlansTable_data-title Возможность отвечать в темах от имени страницы компании
								.Hint.PlansTable_hint
									a(href="javascript:;").Hint_icon
									.Hint_wrapper
										.Hint_text
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/dash.svg")
							td.PlansTable_data
								img(src="/img/checkmark.svg")
				.PlansSwiper.swiper-container.hidden-smPlus.Plans_slider
					.swiper-wrapper
						.swiper-slide.PlansSwiper_slide
							.Plan
								h2.Plan_title Ferrum
								.Plan_content
									.Plan_price 1350
										span.Plan_priceSuffix UAH/мес.
									ul.BenefitsList
										li.BenefitsList_item
											span.BenefitsList_itemTitle Арбитраж
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
											span.BenefitsList_suffix 1 шт.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Статистика посещаемости
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 3
										li.BenefitsList_item
											span.BenefitsList_itemTitle Приоритетная поддержка
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Администраторы
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
											span.BenefitsList_suffix 1 шт.
						.swiper-slide.PlansSwiper_slide
							.Plan
								h2.Plan_title Aluminum
								.Plan_content
									.Plan_price 1500
										span.Plan_priceSuffix UAH/мес.
									ul.BenefitsList
										li.BenefitsList_item
											span.BenefitsList_itemTitle Арбитраж
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
											span.BenefitsList_suffix 2 шт.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Статистика посещаемости
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 3
										li.BenefitsList_item
											span.BenefitsList_itemTitle Приоритетная поддержка
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Личный менеджер
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Администраторы
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
											span.BenefitsList_suffix 2 шт.
						.swiper-slide.PlansSwiper_slide
							.Plan
								h2.Plan_title Silver
								.Plan_content
									.Plan_price 1800
										span.Plan_priceSuffix UAH/мес.
									ul.BenefitsList
										li.BenefitsList_item
											span.BenefitsList_itemTitle Арбитраж #[span.BenefitsList_suffix 3 запроса]
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
											.BenefitsList_note свыше 3х – 2000 UAH/запрос
										li.BenefitsList_item
											span.BenefitsList_itemTitle Дополнительный арбитраж + 2000 UAH / ед.
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 2
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 2
										li.BenefitsList_item
											span.BenefitsList_itemTitle Статистика посещаемости
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 3
										li.BenefitsList_item
											span.BenefitsList_itemTitle Приоритетная поддержка
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Личный менеджер
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Поддержка 24/7
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Просмотр отклонённых отзывов
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Администраторы
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
											span.BenefitsList_suffix 3 шт.
						.swiper-slide.PlansSwiper_slide
							.Plan
								h2.Plan_title Gold
								.Plan_content
									.Plan_price 2000
										span.Plan_priceSuffix UAH/мес.
									ul.BenefitsList
										li.BenefitsList_item
											span.BenefitsList_itemTitle Арбитраж
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
											span.BenefitsList_suffix 4 шт.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Дополнительный арбитраж + 1000 UAH / ед.
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 2
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 2
										li.BenefitsList_item
											span.BenefitsList_itemTitle Статистика посещаемости
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 3
										li.BenefitsList_item
											span.BenefitsList_itemTitle Приоритетная поддержка
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Личный менеджер
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Поддержка 24/7
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Просмотр отклонённых отзывов
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Администраторы
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
											span.BenefitsList_suffix 4 шт.
						.swiper-slide.PlansSwiper_slide
							.Plan
								h2.Plan_title Platinum
								.Plan_content
									.Plan_price 2500
										span.Plan_priceSuffix UAH/мес.
									ul.BenefitsList
										li.BenefitsList_item
											span.BenefitsList_itemTitle Арбитраж
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 1
											span.BenefitsList_suffix 5 шт.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Бесплатно
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 2
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 2
										li.BenefitsList_item
											span.BenefitsList_itemTitle Статистика посещаемости
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex. 3
										li.BenefitsList_item
											span.BenefitsList_itemTitle Приоритетная поддержка
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Личный менеджер
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Поддержка 24/7
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Просмотр отклонённых отзывов
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Администраторы
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
											span.BenefitsList_suffix 5 шт.
										li.BenefitsList_item
											span.BenefitsList_itemTitle Возможность отвечать в темах от имени страницы компании
											.Hint.BenefitsList_hint
												a(href="javascript:;" data-fancybox data-src="#HintPopup").Hint_icon
												.Hint_text
													p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.
		.WriteUs.WriteUs-pricing
			.Container.Container-pricing.WriteUs_container
				h2.WriteUs_title Остались вопросы? Напишите нам!
				.Soclinks.Soclinks-pricing.hidden-xs
					ul.Soclinks_list
						li.Soclinks_item
							a(href="tg://resolve?domain=infoza.top").Soclink
								include /includes/svg/SvgIco/soclinks/telegram
								span.Soclink_text @infoza.top
						li.Soclinks_item
							a(href="viber://chat?number=+380680220201").Soclink
								include /includes/svg/SvgIco/soclinks/viber
								span.Soclink_text +38 068 022 02 01
						li.Soclinks_item
							a(href="mailto:info@infoza.top").Soclink
								include /includes/svg/SvgIco/soclinks/email
								span.Soclink_text info@infoza.top
				.SocIcons.hidden-smPlus
					ul.SocIcons_list
						li.SocIcons_item
							a(href="tg://resolve?domain=infoza.top").SocIcon
								include /includes/svg/contacts/socicons/telegram
						li.SocIcons_item
							a(href="viber://chat?number=+380680220201").SocIcon
								include /includes/svg/contacts/socicons/viber
						li.SocIcons_item
							a(href="mailto:info@infoza.top").SocIcon
								include /includes/svg/contacts/socicons/email
	.HintPopup#HintPopup(style="display: none;")
		h2.HintPopup_title Просмотр отклонённых отзывов
		.HintPopup_text
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
			p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
			p Аccusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
		button(type="button" data-fancybox-close).BtnGrey.BtnGrey-mobilePopup.BtnGrey-fullWidth Закрыть окно
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	script(src="/js/pricing.js")