extends /layouts/main_layout_profile
block vars
	- var title = "Кнопки связи";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companySettings Main-contactBtns";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.MobileHeader-noBorder.hidden-smPlus
					a(href="#").BtnBack.MobileHeader_btnBack
						include /includes/svg/SvgIco/arrow_left
					h1.MobileHeader_title Sony Corporation
					a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
						include /includes/svg/SvgIco/dots
				include /includes/blocks/MenuSectionCompanySettings
				form(action="#", name="contact_buttons").CompanySettings.CompanySettings-contactBtns#CompanySettingsForm
					.Remark.Remark-contactBtns.CompanySettings_remark#WriteBtnRemark
						a(href="javascript:;", data-action="hideBlockWithCookie").Remark_close
							include /includes/svg/icon_close_remark
						.Remark_text Кнопки #[span.Semibold Написать], #[span.Semibold Позвонить] и #[span.Semibold Заказать звонок] появятся автоматически на странице вашей компании после их заполнения.
					h2.CompanySettings_title Кнопка написать
					.CompanySettings_fields.CompanySettings_fields-writeBtn
						.CompanySettings_field.CompanySettings_field-writeBtn
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem.CompanySettings_fieldItem-writeBtn.CompanySettings_fieldItem-verticalCenter(data-field-item-key="0")
										.DropdownSelect.DropdownSelect-writeBtn.DropdownSelect-mobile.DropdownSelect-companySettings.CompanySettings_dropdownSelect.CompanySettings_dropdownSelect-contactBtn
											select(name="write[0][messenger]").DropdownSelect_select
												option(value="") Мессенджер
												option(value="viber") Viber
												option(value="telegram", selected) Telegram
												option(value="whatsapp") Whatsapp
										input(type="text", name="write[0][value]", placeholder="Телефон", data-src="messengerValue").CompanySettings_formText.CompanySettings_formText-gutter.CompanySettings_formText-contactBtn
										.CompanySettings_checkboxWrapper
											.Checkbox.Checkbox-isPublic.Checkbox-largeCheck
												input(type="checkbox", name="write[0][is_public]", value="1", id="is_public0", data-action="isPublic", checked).Checkbox_input
												label(for="is_public0").Checkbox_label паблик-аккаунт
											.Checkbox.Checkbox-isLogin.Checkbox-largeCheck
												input(type="checkbox", name="write[0][is_login]", value="1", id="is_login0", data-action="isLogin", checked).Checkbox_input
												label(for="is_login0").Checkbox_label использовать логин
								.Remark.Remark-explanation.CompanySettings_remark.CompanySettings_remark-explanation.hidden#URIExplanation
									a(href="javascript:;", data-action="hideBlockWithCookie").Remark_close
										include /includes/svg/icon_close_remark
									.Remark_text URI - название (идентификатор) вашего вашего public-аккаунта в системе Viber. Может состоять только из латиницы, цифр, тере и нижнего подчеркивания.
								.Remark.Remark-explanation.CompanySettings_remark.CompanySettings_remark-explanation.hidden#LoginExplanation
									a(href="javascript:;", data-action="hideBlockWithCookie").Remark_close
										include /includes/svg/icon_close_remark
									.Remark_text Логин - название вашего вашего public-аккаунта в системе Viber. Может состоять только из латиницы, цифр, тере и нижнего подчеркивания.
								a(href="javascript:;").AddFieldItem.AddFieldItem-writeBtn
									include /includes/svg/icon_add
									.
										Добавить ещё телефон
					h2.CompanySettings_title Кнопка позвонить
					.CompanySettings_fields
						.CompanySettings_field.CompanySettings_field-callBtn
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem.CompanySettings_fieldItem-verticalCenter
										input(type="tel", name="call[0][phone]", placeholder="Телефон").CompanySettings_formText.CompanySettings_formText-contactBtn
								a(href="javascript:;").AddFieldItem.AddFieldItem-callBtn
									include /includes/svg/icon_add
									.
										Добавить ещё телефон
					h2.CompanySettings_title Кнопка обратного звонка
					.CompanySettings_fields
						.CompanySettings_field.CompanySettings_field-emailBtn
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem.CompanySettings_fieldItem-verticalCenter
										input(type="email", name="call[0][back_call]", placeholder="E-mail").CompanySettings_formText.CompanySettings_formText-contactBtn
								a(href="javascript:;").AddFieldItem.AddFieldItem-emailBtn
									include /includes/svg/icon_add
									.
										Добавить ещё E-mail
					.CompanySettings_actions
						button(type="submit").BtnOutline.BtnOutline-blue.BtnOutline-companySettings.hidden-xs Сохранить
						button(type="submit").BtnBlue.BtnBlue-companySettings.hidden-smPlus Сохранить
			.Aside.Main_aside.hidden-smMinus
				a(href="/company.html", title="Sony Corporation").CompanyLink.Aside_companyLink
					img(src="img/sony2.png", alt="Sony Corporation").CompanyLink_img
					.CompanyLink_textWrap
						.CompanyLink_title Sony Corporation
						.CompanyLink_text на страницу компании
				include /includes/blocks/SettingsMenu
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	script(src="/js/company_settings.js")