extends /layouts/main_layout_profile
block vars
	- var title = "Настройки профиля компании";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-companySettings";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.MobileHeader-noBorder.hidden-smPlus
					a(href="#").BtnBack.MobileHeader_btnBack
						include /includes/svg/SvgIco/arrow_left
					h1.MobileHeader_title Sony Corporation
				.MenuSection.MenuSection-companySettings.Main_menuSection.hidden-smPlus
					.CategoryMenu.CategoryMenu-companySettings
						ul.CategoryMenu_menu
							li.CategoryMenu_item
								a(href="/basic_company_settings.html").CategoryMenu_link Информация
							li.CategoryMenu_item
								a(href="/profile_company_settings.html").CategoryMenu_link.active О компании
							li.CategoryMenu_item
								a(href="/company_verification.html").CategoryMenu_link Верификация
				form(action="#", name="company_settings", novalidate).CompanySettings#CompanySettingsForm
					h2.CompanySettings_title.hidden-xs О компании
					.CompanySettings_fields
						.CompanySettings_field
							label.CompanySettings_label Страна
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.CompanySettings_dropdownSelect.HasError
											select(name="country", id="country").DropdownSelect_select
												option(value="uk") Украина
												option(value="ru") Россия
												option(value="by") Беларусь
												option(value="pl") Польша
												option(value="kz") Казахстан
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно #[br]Введите адрес
						.CompanySettings_field
							label.CompanySettings_label Главный офис
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.CompanySettings_dropdownSelect.HasError
											select(name="main_office[]").DropdownSelect_select
												option(value="varshava") Варшава
												option(value="moscow") Москва
												option(value="spb") Санкт-Петербург
												option(value="kiev") Киев
												option(value="almaata") Алма-ата
										input(type="text", name="office_address[]", placeholder="адрес").CompanySettings_formText.HasError
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
								a(href="javascript:;").AddFieldItem.AddFieldItem-office
									include /includes/svg/icon_add
									.
										Добавить ещё офис
						.CompanySettings_field
							label.CompanySettings_label График работы:
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.DropdownSelect-daysWeek.CompanySettings_dropdownSelect
											select(name="days_week[]", multiple="multiple").DropdownSelect_select
												option(value="monday", selected) Понедельник
												option(value="tuesday", selected) Вторник
												option(value="wednesday", selected) Среда
												option(value="thursday", selected) Четверг
												option(value="friday", selected) Пятница
												option(value="saturday") Суббота
												option(value="sunday") Воскресенье
										.TimeRangeDropdown.CompanySettings_timeRangeDropdown.CompanySettings_timeRangeDropdown-workingHours.HasError
											.TimeRangeDropdown_label(data-label="Время работы") Время работы
											.TimeRangeDropdown_dropdown
												.TimeRangeDropdown_wrapper
													input(type="time", name="working_hours_from", min="08:00", max="10:00", data-placeholder="с", value="10:00").TimeRangeDropdown_time.TimeRangeDropdown_time-from
													input(type="time", name="working_hours_to", min="07:00" max="20:00", data-placeholder="до", value="18:00").TimeRangeDropdown_time.TimeRangeDropdown_time-to
												.Checkbox.Checkbox-square.Checkbox-timeRangeDropdown.Checkbox-aroundClock
													input(type="checkbox", name="around_clock", value="yes", id="around_clock").Checkbox_input
													label(for="around_clock").Checkbox_label Круглосуточно
										.TimeRangeDropdown.CompanySettings_timeRangeDropdown.CompanySettings_timeRangeDropdown-noMargin.HasError
											.TimeRangeDropdown_label(data-label="Перерыв") Перерыв
											.TimeRangeDropdown_dropdown
												.TimeRangeDropdown_wrapper
													input(type="time", name="break_from", min="08:00", max="10:00", data-placeholder="с", value="10:00").TimeRangeDropdown_time.TimeRangeDropdown_time-from
													input(type="time", name="break_to", min="07:00" max="20:00", data-placeholder="до", value="16:00").TimeRangeDropdown_time.TimeRangeDropdown_time-to
												.Checkbox.Checkbox-square.Checkbox-timeRangeDropdown.Checkbox-nonStop
													input(type="checkbox", name="break", value="yes", id="break").Checkbox_input
													label(for="break").Checkbox_label Без перерыва
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
									.CompanySettings_fieldItem.CompanySettings_fieldItem-additional
										.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.DropdownSelect-daysWeek.CompanySettings_dropdownSelect
											select(name="days_week2[]", multiple="multiple").DropdownSelect_select
												option(value="monday") Понедельник
												option(value="tuesday") Вторник
												option(value="wednesday") Среда
												option(value="thursday") Четверг
												option(value="friday") Пятница
												option(value="saturday", selected) Суббота
												option(value="sunday", selected) Воскресенье
										.TimeRangeDropdown.CompanySettings_timeRangeDropdown.HasError.CompanySettings_timeRangeDropdown-workingHours
											.TimeRangeDropdown_label(data-label="Время работы") Время работы
											.TimeRangeDropdown_dropdown
												.TimeRangeDropdown_wrapper
													input(type="time", name="working_hours_from_2", min="08:00", max="10:00", data-placeholder="с", value="11:00").TimeRangeDropdown_time.TimeRangeDropdown_time-from
													input(type="time", name="working_hours_to_2", min="07:00" max="20:00", data-placeholder="до", value="15:30").TimeRangeDropdown_time.TimeRangeDropdown_time-to
												.Checkbox.Checkbox-square.Checkbox-timeRangeDropdown.Checkbox-aroundClock
													input(type="checkbox", name="around_clock_2", value="yes", id="around_clock_2").Checkbox_input
													label(for="around_clock_2").Checkbox_label Круглосуточно
										.TimeRangeDropdown.CompanySettings_timeRangeDropdown.HasError.CompanySettings_timeRangeDropdown-noMargin
											.TimeRangeDropdown_label(data-label="Перерыв") Перерыв
											.TimeRangeDropdown_dropdown
												.TimeRangeDropdown_wrapper
													input(type="time", name="break_from_2", min="08:00", max="10:00", data-placeholder="с", value="09:00").TimeRangeDropdown_time.TimeRangeDropdown_time-from
													input(type="time", name="break_to_2", min="07:00" max="20:00", data-placeholder="до", value="09:00").TimeRangeDropdown_time.TimeRangeDropdown_time-to
												.Checkbox.Checkbox-square.Checkbox-timeRangeDropdown.Checkbox-nonStop
													input(type="checkbox", name="break_2", value="yes", id="break_2").Checkbox_input
													label(for="break_2").Checkbox_label Без перерыва
										a(href="javascript:;").CompanySettings_removeFieldItem
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
								a(href="javascript:;").AddFieldItem.AddFieldItem-daysWeek
									include /includes/svg/icon_add
									.
										Добавить ещё дни
						.CompanySettings_field
							label.CompanySettings_label Контактный телефон:
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										input(type="tel", name="contact_phone[]").CompanySettings_formText
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
								a(href="javascript:;").AddFieldItem.AddFieldItem-phone
									include /includes/svg/icon_add
									.
										Добавить ещё телефон
						.CompanySettings_field
							label.CompanySettings_label Год основания:
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.CompanySettings_dropdownSelect
											select(name="foundation_year").DropdownSelect_select
												option(value="none") Выберите
												option(value="2020") 2020
												option(value="2019") 2019
												option(value="2018") 2018
												option(value="2017") 2017
												option(value="2016") 2016
												option(value="2015") 2015
												option(value="2014") 2014
												option(value="2013") 2013
												option(value="2012") 2012
												option(value="2011") 2011
												option(value="2010") 2010
												option(value="2009") 2009
												option(value="2008") 2008
												option(value="2007") 2007
												option(value="2006") 2006
												option(value="2005") 2005
												option(value="2004") 2004
												option(value="2003") 2003
												option(value="2002") 2002
												option(value="2001") 2001
												option(value="2000") 2000
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
						.CompanySettings_field
							label(for="license").CompanySettings_label Лицензия:
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										input(type="text", name="license", id="license", placeholder="ссылка на лицензию").CompanySettings_formText.CompanySettings_formText-fullWidth
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
						.CompanySettings_field
							label.CompanySettings_label Форма регистрации:
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.CompanySettings_dropdownSelect
											select(name="registration_form").DropdownSelect_select
												option(value="none") Выберите
												option(value="form1") Форма 1
												option(value="form2") Форма 2
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
						.CompanySettings_field.CompanySettings_field-ownerAdditionDesktop.hidden-xs
							label.CompanySettings_label Владелец:
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										input(type="text", name="owner[last_name]", placeholder="Фамилия", value="Иванов").CompanySettings_formText.CompanySettings_formText-col3.CompanySettings_formText-gutter
										input(type="text", name="owner[first_name]", placeholder="Имя", value="Иван").CompanySettings_formText.CompanySettings_formText-col3.CompanySettings_formText-gutter
										input(type="text", name="owner[patronymic]", placeholder="Отчество", value="Иванович").CompanySettings_formText.CompanySettings_formText-col3
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
						.CompanySettings_field.CompanySettings_field-ownerAddition.hidden-smPlus
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										.CompanySettings_ownerWrapper.hidden-smPlus
										a(href="#OwnerAddition", data-fancybox="owner_add").AddFieldItem.AddFieldItem-ownerMobile.hidden-smPlus
											include /includes/svg/icon_add
											span.AddFieldItem_text Добавить владельца
						.CompanySettings_field.CompanySettings_field-post.hidden-xs
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem.CompanySettings_fieldItem-post
										input(type="text", name="person[0][post]", placeholder="должность", value="Должность 1").CompanySettings_formText.CompanySettings_formText-col4.CompanySettings_formText-gutter
										input(type="text", name="person[0][last_name]", placeholder="Фамилия", value="Демченко").CompanySettings_formText.CompanySettings_formText-col4.CompanySettings_formText-gutter
										input(type="text", name="person[0][first_name]", placeholder="Имя", value="Юрий").CompanySettings_formText.CompanySettings_formText-col4.CompanySettings_formText-gutter
										input(type="text", name="person[0][patronymic]", placeholder="Отчество", value="Юрьевич").CompanySettings_formText.CompanySettings_formText-col4
						.CompanySettings_field.CompanySettings_field-postAddition
							.CompanySettings_fieldContent.CompanySettings_fieldContent-postAddition
								.CompanySettings_posts.hidden-smPlus
								a(href="javascript:;").AddFieldItem.AddFieldItem-post.hidden-xs
									include /includes/svg/icon_add
									span.AddFieldItem_text Добавить должность
								a(href="javascript:;", data-src="#PostAddition" data-fancybox="post_addition").AddFieldItem.AddFieldItem-postMobile.hidden-smPlus
									include /includes/svg/icon_add
									span.AddFieldItem_text Добавить должность
						.CompanySettings_field
							label(for="short_description").CompanySettings_label Краткое описание:
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										textarea(name="short_description", id="short_description").FormTextarea.FormTextarea-companySettings
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
						.CompanySettings_field
							label(for="full_description").CompanySettings_label Полное описание:
							.CompanySettings_fieldContent
								.CompanySettings_fieldItems
									.CompanySettings_fieldItem
										textarea(name="full_description", id="full_description").FormTextarea.FormTextarea-companySettings
									.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно
					.CompanySettings_actions
						button(type="submit").BtnOutline.BtnOutline-blue.BtnOutline-companySettings.hidden-xs Сохранить
						button(type="submit").BtnBlue.BtnBlue-companySettings.hidden-smPlus Сохранить
			.Aside.Main_aside.hidden-smMinus
				a(href="/company.html", title="Sony Corporation").CompanyLink.Aside_companyLink
					img(src="img/sony2.png", alt="Sony Corporation").CompanyLink_img
					.CompanyLink_textWrap
						.CompanyLink_title Sony Corporation
						.CompanyLink_text на страницу компании
				.SettingsMenu
					ul.SettingsMenu_menu
						li.SettingsMenu_item
							a(href="/profile_company_settings.html").SettingsMenu_link.SettingsMenu_link-active Настройки
							ul.SettingsMenu_subMenu
								li.SettingsMenu_subMenuItem
									a(href="/basic_company_settings.html").SettingsMenu_subMenuLink Основная информация
								li.SettingsMenu_subMenuItem
									a(href="/profile_company_settings.html").SettingsMenu_subMenuLink.SettingsMenu_subMenuLink-active О компании
								li.SettingsMenu_subMenuItem
									a(href="/company_verification.html").SettingsMenu_subMenuLink Верификация
						li.SettingsMenu_item
							a(href="/profile_messages.html").SettingsMenu_link Сообщения
block page_bottom
	include /includes/blocks/OwnerAddition
	include /includes/blocks/PostAddition
	script(src="/js/company_settings.js")