extends /layouts/main_layout_profile
block vars
	- var title = "Мои сообщения";
	- var wrapperModifiers = "Wrapper-noMobileHeader Wrapper-profileMessages";
	- var mainModifiers = "Main-profileMessages";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.MobileHeader-profileMessages.hidden-smPlus
					a(href="#").BtnBack.MobileHeader_btnBack
						include /includes/svg/SvgIco/arrow_left
					.MobileHeader_titleWrapper
						a(href="#PopupMessagesFilter").MobileHeader_title.MobileHeader_title-popupMenuLink.PopupMenuLink Все сообщения
					a(href="#").MobileHeader_searchLink
						include /includes/svg/SvgIco/search2
					form.Search.Search-mobileHeader.MobileHeader_search.hidden
						a(href="javascript:;").BtnBack.BtnBack-noBack.Search_btnBack
							include /includes/svg/SvgIco/arrow_left
						input(type="text", name="search_query", placeholder="Поиск").Search_text
						a(href="javascript:;").Search_closeBtn.hidden
							include /includes/svg/SvgIco/close
				.ProfileMessages
					.ProfileMessages_left
						form(action="#", name="search_all").Search.Search-messages.hidden-xs
							input(type="text", name="search_all_query", placeholder="Поиск по контактам и сообщениям").Search_text
							a(href="javascript:;").Search_closeBtn.hidden
								include /includes/svg/SvgIco/close
						.Messages.ProfileMessages_dialogueList
							.Messages_items
								a(href="#show_dialog", data-message-filter="unread").Message.Message-short.Messages_item
									.UserPhoto.UserPhoto-online.UserPhoto-shortMessage.Message_userPhoto
										img(src="/img/kirill_fomichev.png", alt="Кирилл Фомичёв").UserPhoto_img
									.Message_mainWrapper
										.Message_header
											.Message_nameWrapper
												.Message_name Кирилл Фомичёв
												.Message_statusIcon
													include /includes/svg/checkmarks
											.Message_dateTime 7:05
										.Message_body
											//- .Message_text Плазма обнаружима кристаллы чего-то там, и ещё кучу интересного текста
											.Message_text Возмущение плотности казалось ему чем-то необыкновенным
											.Quantity.Quantity-message.Message_quantity 10
								a(href="#show_dialog").Message.Message-short.Messages_item
									.UserPhoto.UserPhoto-online.UserPhoto-shortMessage.Message_userPhoto
										img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
									.Message_mainWrapper
										.Message_header
											.Message_nameWrapper
												.Message_name Геннадий Трофимов
												.Message_statusIcon
													include /includes/svg/checkmarks
											.Message_dateTime вчера
										.Message_body
											.Message_text Привет
								a(href="#show_dialog", data-message-filter="unread").Message.Message-short.Messages_item
									.UserPhoto.UserPhoto-shortMessage.Message_userPhoto
										img(src="/img/konstantin_konstantinovich2.png", alt="Константин Константинович").UserPhoto_img
									.Message_mainWrapper
										.Message_header
											.Message_nameWrapper
												.Message_name Константин Константинович
												.Message_statusIcon
													include /includes/svg/checkmarks
											.Message_dateTime 30 апр 2019
										.Message_body
											.Message_text Закон сохранения энергии
											.Quantity.Quantity-message.Message_quantity.hidden-xs 9
								a(href="#show_dialog").Message.Message-short.Messages_item
									.UserPhoto.UserPhoto-shortMessage.Message_userPhoto
										img(src="/img/kirill_fomichev.png", alt="Кирилл Фомичёв").UserPhoto_img
									.Message_mainWrapper
										.Message_header
											.Message_nameWrapper
												.Message_name Кирилл Фомичёв
												.Message_statusIcon
													include /includes/svg/checkmarks
											.Message_dateTime 28 фев 2019
										.Message_body
											//- .Message_text Нет
											.Message_text Возмущение плотности казалось ему чем-то необыкновенным
								a(href="#show_dialog").Message.Message-short.Messages_item
									.UserPhoto.UserPhoto-shortMessage.Message_userPhoto
										img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
									.Message_mainWrapper
										.Message_header
											.Message_nameWrapper
												.Message_name Геннадий Трофимов
												.Message_statusIcon
													include /includes/svg/checkmarks
											.Message_dateTime 22 фев 2019
										.Message_body
											//- .Message_text Осциллятор устойчив в магнитном поле, и дальше по тексту
											.Message_text Привет
								//- a(href="#show_dialog", data-message-filter="unread").Message.Message-short.Messages_item
								//- 	.UserPhoto.UserPhoto-shortMessage.Message_userPhoto
								//- 		img(src="/img/konstantin_konstantinovich2.png", alt="Константин Константинович").UserPhoto_img
								//- 	.Message_mainWrapper
								//- 		.Message_header
								//- 			.Message_nameWrapper
								//- 				.Message_name Константин Константинович
								//- 				.Message_statusIcon
								//- 					include /includes/svg/checkmarks
								//- 			.Message_dateTime 20 фев 2019
								//- 		.Message_body
								//- 			.Message_text Закон сохранения энергии
								//- 			.Quantity.Quantity-message.Message_quantity 9
						a(href="javascript:;").ProfileMessages_link.ProfileMessages_link-showUnread.hidden-xs Показать непрочитанные
						//- .Messages.ProfileMessages_messages.hidden
						//- 	h3.Messages_title Сообщения
						//- 	.Messages_items
						//- 		a(href="javascript:;").Message.Message-short.Messages_item
						//- 			.UserPhoto.UserPhoto-online.UserPhoto-shortMessage.Message_userPhoto
						//- 				img(src="/img/kirill_fomichev.png", alt="Кирилл Фомичёв").UserPhoto_img
						//- 			.Message_mainWrapper
						//- 				.Message_header
						//- 					.Message_nameWrapper
						//- 						.Message_name Кирилл Фомичёв
						//- 					.Message_dateTime 7:05
						//- 				.Message_body
						//- 					.Message_text.Message_text-twoLines Луч устойчиво трансформирует межядерный экситон. Удар по всему остальному и много текста очень много текста
						//- 		a(href="javascript:;").Message.Message-short.Messages_item
						//- 			.UserPhoto.UserPhoto-online.UserPhoto-shortMessage.Message_userPhoto
						//- 				img(src="/img/kirill_fomichev.png", alt="Кирилл Фомичёв").UserPhoto_img
						//- 			.Message_mainWrapper
						//- 				.Message_header
						//- 					.Message_nameWrapper
						//- 						.Message_name Кирилл Фомичёв
						//- 					.Message_dateTime 7:05
						//- 				.Message_body
						//- 					.Message_text.Message_text-twoLines Луч устойчиво трансформирует межядерный экситон. Удар по всему остальному и много текста очень много текста
						.Messages.ProfileMessages_messages.hidden
							h3.Messages_title Сообщения
							.Messages_items
								a(href="javascript:;").Message.Message-short.Messages_item
									.UserPhoto.UserPhoto-shortMessage.Message_userPhoto
										img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
									.Message_mainWrapper
										.Message_header
											.Message_nameWrapper
												.Message_name Геннадий Трофимов
												.Message_statusIcon.hidden-smPlus
													include /includes/svg/checkmarks
											.Message_dateTime 22 фев 2019
										.Message_body
											.Message_text.Message_text-twoLines Квант искажает фотон при любом агрегатном состоянии среды взаимодействия
								a(href="javascript:;").Message.Message-short.Messages_item
									.UserPhoto.UserPhoto-shortMessage.Message_userPhoto
										img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
									.Message_mainWrapper
										.Message_header
											.Message_nameWrapper
												.Message_name Геннадий Трофимов
												.Message_statusIcon.hidden-smPlus
													include /includes/svg/checkmarks
											.Message_dateTime 22 фев 2019
										.Message_body
											.Message_text.Message_text-twoLines Квант искажает фотон при любом агрегатном состоянии среды взаимодействия
					.ProfileMessages_right.hidden-xs
						.Dialogue.ProfileMessages_dialogue
							.Dialogue_header.hidden
								.Dialogue_headerWrapper
									.Dialogue_headerLeft
										a(href="#").BtnBack.Dialogue_btnBack.hidden-smPlus
											include /includes/svg/SvgIco/arrow_left
										.UserInfo
											.UserPhoto.UserPhoto-fullMessage.UserPhoto-online.UserInfo_photo
												img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
											.UserInfo_main
												.UserInfo_nameWrapper
													.UserInfo_name Геннадий Трофимов
													.UserInfo_verification
														include /includes/svg/SvgIco/verification_icon
													a(href="javascript:;").Rating.Rating-userInfo.UserInfo_rating.hidden-xs
														span.Rating_icon
															include /includes/svg/SvgIco/icon_star
														span.Rating_number 12,4k
												.UserInfo_status.hidden онлайн
												.UserInfo_status был в сети 14 июня в 17:47
									.Dialogue_headerRight
										.Dialogue_actionIcons
											a(href="javascript:;").Dialogue_actionIcon.Dialogue_actionIcon-search.hidden-xs
												include /includes/svg/messages_search_icon
											.DotsMenu.DotsMenu-dialogue.Dialogue_dotsMenu.hidden-xs
												a(href="javascript:;").DotsIcon.DotsMenu_icon
													include /includes/svg/SvgIco/dots
												.DotsMenu_wrapper
													a(href="javascript:;", data-src="#ComplaintFormPopup").DotsMenu_link
														include /includes/svg/SvgIco/warning
														.
															Пожаловаться
													a(href="javascript:;", data-src="#ComplaintFormPopup").DotsMenu_link
														include /includes/svg/SvgIco/ban
														.
															Запретить сообщения
											//- a(href="javascript:;").Dialogue_actionIcon.Dialogue_actionIcon-dots.hidden-xs
											//- 	include /includes/svg/SvgIco/dots
											a(href="#PopupMessageActions").Dialogue_actionIcon.Dialogue_actionIcon-dots.PopupMenuLink.hidden-smPlus
												include /includes/svg/SvgIco/dots
								form(action="#", name="dialogue_search").Search.Search-messages.hidden
									input(type="text", name="dialogue_search_query", placeholder="Поиск по истории сообщений").Search_text
									a(href="javascript:;").Search_closeBtn.Search_closeBtn-dialogueSearch
										include /includes/svg/SvgIco/close
							.Dialogue_footer
								.ConversationChoice.ConversationChoice-profileMessages.Dialogue_conversationChoice
									.ConversationChoice_icon
										include /includes/svg/messages_icon
									.ConversationChoice_text Пожалуйста, выберите беседу
								.Dialogue_messages.hidden
									//- .Message.Message-interlocutor.Message-full.Dialogue_message
									//- 	a(href="javascript:;").UserPhoto.UserPhoto-online.UserPhoto-fullMessage.Message_userPhoto
									//- 		img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
									//- 	.Message_body
									//- 		.Message_text Нестандартный подход, анализируя результаты рекламной кампании
									//- 		.Message_text Нестандартный подход, анализируя результаты рекламной кампании
									//- 		.Message_info
									//- 			.Message_dateTime 7:05
									.Message.Message-you.Message-full.Dialogue_message
										.Message_body
											//- .Message_text диверсификация бизнеса ускоряет фирменный процесс стратегического планирования. Потребительский рынок искажает анализ зарубежного опыта, работая над проектом
											.Message_text Приветствую
											.Message_info
												.Message_dateTime 7:05
												.Message_statusIcon
													include /includes/svg/checkmarks
									.Message.Message-interlocutor.Message-full.Dialogue_message
										a(href="javascript:;").UserPhoto.UserPhoto-online.UserPhoto-fullMessage.Message_userPhoto.hidden-xs
											img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
										.Message_wrapper
											.Message_body
												//- .Message_text Нестандартный подход, анализируя результаты рекламной кампании, изменяет рекламный блок, используя опыт
												.Message_text Управление брендом конструктивно
												.Message_info
													.Message_dateTime 7:05
											//- .Message_body
											//- 	.Message_text реклама актаульна как никогда
											//- 	.Message_info
											//- 		.Message_dateTime 7:05
									.Message.Message-you.Message-full.Dialogue_message
										.Message_body
											//- .Message_text Не меняя концепции
											.Message_text пул лояльных изданий версифицирован
											.Message_info
												.Message_dateTime 7:05
												.Message_statusIcon
													include /includes/svg/checkmarks
									.Message.Message-interlocutor.Message-full.Dialogue_message
										a(href="javascript:;").UserPhoto.UserPhoto-online.UserPhoto-fullMessage.Message_userPhoto.hidden-xs
											img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
										.Message_body
											//- .Message_text статус экономит маркетинг
											.Message_text Системный анализ
											.Message_info
												.Message_dateTime 7:05
									.Dialogue_date 12 июня 2019
									.Message.Message-you.Message-full.Dialogue_message
										.Message_wrapper
											.Message_body
												//- .Message_text диверсификация бизнеса ускоряет фирменный процесс стратегического планирования. Потребительский рынок искажает анализ зарубежного опыта, работая над проектом
												.Message_text Приветствую
												.Message_info
													.Message_dateTime 7:05
													.Message_statusIcon
														include /includes/svg/checkmarks
									.Message.Message-interlocutor.Message-full.Dialogue_message
										a(href="javascript:;").UserPhoto.UserPhoto-online.UserPhoto-fullMessage.Message_userPhoto.hidden-xs
											img(src="/img/gennadiy_trofimov.png", alt="Геннадий Трофимов").UserPhoto_img
										.Message_body
											//- .Message_text Нестандартный подход, анализируя результаты рекламной кампании, изменяет рекламный блок, используя опыт
											.Message_text Управление брендом конструктивно
											.Message_info
												.Message_dateTime 7:05
									.Message.Message-you.Message-full.Dialogue_message
										.Message_body
											//- .Message_text Не меняя концепции
											.Message_text пул лояльных изданий версифицирован
											.Message_info
												.Message_dateTime 7:05
												.Message_statusIcon
													include /includes/svg/checkmark
								form(action="#", name="send_message").SendMessage.Dialogue_sendMessage.hidden
									.UploadFile.SendMessage_uploadFile
										input(type="file", name="file", id="file").UploadFile_input.hidden
										label(for="file").UploadFile_label
											include /includes/svg/icon_add
									textarea(name="message_text", placeholder="Сообщение", rows="1").FormTextarea.FormTextarea-sendMessage.SendMessage_textArea
									button(type="submit").SendMessage_submit
										include /includes/svg/send_icon
			.Aside.Main_aside.hidden-smMinus
				.SidebarMenu.SidebarMenu-profileMenu#SidebarMenu
					h3.SidebarMenu_title Профиль
					ul.SidebarMenu_menu
						li.SidebarMenu_item
							a(href="/my_topics.html").SidebarMenu_link Мои темы
						li.SidebarMenu_item
							a(href="/profile_messages.html").SidebarMenu_link Мои сообщения
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Мои ответы
							span.Quantity.SidebarMenu_number 10
						li.SidebarMenu_item
							a(href="/profile_invite.html").SidebarMenu_link Мои приглашения
						li.SidebarMenu_item
							a(href="/profile_rating.html").SidebarMenu_link Мои рейтинг
						li.SidebarMenu_item
							a(href="/my_notifications.html").SidebarMenu_link Мои уведомления
						li.SidebarMenu_item
							a(href="/profile_settings.html").SidebarMenu_link Мои настройки
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Выход
	.PopupMenu.PopupMenu-profileMessages.PopupMenu-paddingTop#PopupMessagesFilter
		.PopupMenu_overlay
		.PopupMenu_wrapper
			ul.PopupMenu_menu
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link.PopupMenu_link-showAll.active Все сообщения
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link.PopupMenu_link-showUnread Непрочитанные
	.PopupMenu.PopupMenu-profileMessages.PopupMenu-topRight.PopupMenu-fixedText#PopupMessageActions
		.PopupMenu_overlay
		.PopupMenu_wrapper
			ul.PopupMenu_menu
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Пожаловаться
				li.PopupMenu_item
					a(href="javascript:;").PopupMenu_link Запретить сообщения
	include /includes/blocks/ComplaintFormPopup
block page_bottom
	script(src="/js/profile_messages.js")