extends /layouts/main_layout
block vars
	- var title = "Мои приглашения (нет результатов)";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-profileInvite";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.hidden-smPlus
					a(href="#").BtnBack.MobileHeader_btnBack
						include /includes/svg/SvgIco/arrow_left
					h1.MobileHeader_title Мои приглашения
					a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
						include /includes/svg/SvgIco/dots
				.ProfileContent
					h2.ProfileContent_title Как это работает
					.ProfileContent_text
						p Используя вашу уникальную бонусную ссылку, которая размещена ниже, вы можете приглашать неограниченное количество пользователей. Всё, что вам необходимо сделать – скопировать её и отправить своим друзьям и знакомым. После того, как они пройдут по ней и зарегистрируются на сервисе – вы мгновенно увидите их у себя в команде (таблица размещена ниже).
						.ProfileContent_moreText
							p За каждого пользователя, которого вы пригласили – вы постоянно будете получать #[span.Semibold 35%] от заработанного им рейтинга. Все начисления будут происходить мгновенно и в автоматическом режиме. Кроме того, ваши друзья так же не останутся без подарка, ведь за то что они зарегистрировались по вашей ссылке – они автоматически получат +100 баллов рейтинга. Таким образом, и вам и вашим друзьям будет выгодно зарегистрироваться именно по партнерской ссылке, а не напрямую.
							h3 Система начислений
							p Создавайте темы, общайтесь, отвечайте на вопросы других пользователей и получайте за это рейтинг.
							p За написание комментария вы получите #[span.Semibold +1] к рейтингу #[br]За создание темы вы получите #[span.Semibold +3] к рейтингу
							p Соответственно, от всех действий каждого друга, по условиям партнерской программы, вы всегда будете получать:
							p #[span.Semibold +0.35] к рейтингу за написание им комментария #[br]#[span.Semibold +1.05] к рейтингу за создание им темы
							h3 О рейтинге. Почему он важнее денег
							p Самое ценное, что существует в нашем мире – это информация. И, если FaceBook, Instagram и другие площадки уже не дают возможности делиться информацией с широкой аудиторией, то на Infoza – каждый будет услышан!
							p Благодаря умной ленте каждую вашу тему сразу же увидят десятки тысяч людей, а если у вас будет высокий рейтинг – система дополнительно покажет созданную вами информацию даже тем людям, которым она не подходит по интересам, но может оказаться полезной.
							p Высокий рейтинг на портале Infoza – это возможность общаться с огромным количеством людей и делится с ними своей информацией. Это то, что гораздо ценнее денег, и то, что можно конвертировать в дополнительный заработок. Поэтому, проявляйте активность, увеличивайте рейтинг, а с ним и свою популярность.
							p Помните, что никаких ограничений на Инфозе не существует и всё только в ваших руках! К тому же, о всём хорошем люди узнают очень быстро, а это значит, что если вы сейчас не расскажите своим друзьям и знакомым об Инфозе, то, возможно, завтра они узнают о портале самостоятельно, или от кого-то другого. Поэтому, действуйте прямо сейчас!
					.ProfileContent_moreLinkWrapper
						a(href="#").ToggleLink.ProfileContent_moreLink Показать больше
					form(action="").BonusForm.ProfileContent_bonusForm
						h3.BonusForm_title Ваша бонус ссылка:
						.BonusForm_item
							input(type="text", name="bonus_link", value="http://infoza.fun/referralq4toz780ix", readonly).BonusForm_input#BonusLink
							button(type="button").BonusForm_btnCopy
								include /includes/svg/SvgIco/copy
					table.TeamTable.ProfileContent_teamTable
						thead
							tr
								th Ваша команда
								th
									.Earnings
										include /includes/svg/SvgIco/star
										span.Earnings_number 0
						tbody
							tr
								td(colspan="2")
									.NoResults.NoResults-teamTable
										.NoResults_text У вас ещё не было уведомлений
			.Aside.Main_aside
				.SidebarMenu.SidebarMenu-profileMenu#SidebarMenu.hidden-smMinus
					h3.SidebarMenu_title Профиль
					ul.SidebarMenu_menu
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Мои темы
						li.SidebarMenu_item
							a(href="/profile_invite.html").SidebarMenu_link Мои приглашения
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Уведомления
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Настройки
						li.SidebarMenu_item
							a(href="#").SidebarMenu_link Выход
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	script(src="/js/profile_invite.js")