extends /layouts/main_layout_profile
block vars
	- var title = "Мои сохранения";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-save";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.MobileHeader-noBorder.hidden-smPlus
					a(href="#").BtnBack.MobileHeader_btnBack
						include /includes/svg/SvgIco/arrow_left
					h1.MobileHeader_title #{title}
					a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
						include /includes/svg/SvgIco/dots
				include /includes/blocks/MenuSectionSave
				.ArticlesFeed
					.NewsBlocks.NewsBlocks-column.ArticlesFeed_blocks
						.NewsBlock.NewsBlock-twoCol.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="/article.html")
									img(src="/img/article1.jpg", alt="Sed do eiusmod tempor incididunt ut labore et dolore magna").NewsBlock_img
							.NewsBlock_textContent
								span.Date.NewsBlock_date.hidden-xs Сегодня в 7:05
								h3.NewsBlock_title
									a(href="/article.html").NewsBlock_titleLink Sed do eiusmod tempor incididunt ut labore et dolore magna
								.NewsBlock_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
									.StatIcons_left
										ul.StatIcons_list
											li.StatIcon.StatIcons_item
												a(href="javascript:;").Like.Like-news
													include /includes/svg/SvgIco/like
													span.Like_count 0
									.StatIcons_right
										ul.StatIcons_list
											li.StatIcon.StatIcon-bordered.StatIcons_item.hidden-smPlus
												span.Date Сегодня в 7:05
											li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
												include /includes/svg/SvgIco/eye
												span.StatIcon_count 110
						.NewsBlock.NewsBlock-twoCol.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="/article.html")
									img(src="/img/article2.jpg", alt="Sed do eiusmod tempor incididunt").NewsBlock_img
							.NewsBlock_textContent
								span.Date.NewsBlock_date.hidden-xs Сегодня в 7:05
								h3.NewsBlock_title
									a(href="/article.html").NewsBlock_titleLink Sed do eiusmod tempor incididunt
								.NewsBlock_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
									.StatIcons_left
										ul.StatIcons_list
											li.StatIcon.StatIcons_item
												a(href="javascript:;").Like.Like-news
													include /includes/svg/SvgIco/like
													span.Like_count 0
									.StatIcons_right
										ul.StatIcons_list
											li.StatIcon.StatIcon-bordered.StatIcons_item.hidden-smPlus
												span.Date Сегодня в 7:05
											li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
												include /includes/svg/SvgIco/eye
												span.StatIcon_count 110
						.NewsBlock.NewsBlock-twoCol.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="/article.html")
									img(src="/img/article3.jpg", alt="Sed do eiusmod tempor incididunt ut labore et dolore magna").NewsBlock_img
							.NewsBlock_textContent
								span.Date.NewsBlock_date.hidden-xs Сегодня в 7:05
								h3.NewsBlock_title
									a(href="/article.html").NewsBlock_titleLink Sed do eiusmod tempor incididunt ut labore et dolore magna
								.NewsBlock_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
									.StatIcons_left
										ul.StatIcons_list
											li.StatIcon.StatIcons_item
												a(href="javascript:;").Like.Like-news
													include /includes/svg/SvgIco/like
													span.Like_count 0
									.StatIcons_right
										ul.StatIcons_list
											li.StatIcon.StatIcon-bordered.StatIcons_item.hidden-smPlus
												span.Date Сегодня в 7:05
											li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
												include /includes/svg/SvgIco/eye
												span.StatIcon_count 110
						.NewsBlock.NewsBlock-twoCol.NewsBlocks_item
							.NewsBlock_imgWrap
								a(href="/article.html")
									img(src="/img/article4.jpg", alt="Sed do eiusmod tempor incididunt ut labore et dolore magna").NewsBlock_img
							.NewsBlock_textContent
								span.Date.NewsBlock_date.hidden-xs Сегодня в 7:05
								h3.NewsBlock_title
									a(href="/article.html").NewsBlock_titleLink Sed do eiusmod tempor incididunt ut labore et dolore magna
								.NewsBlock_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								.StatIcons.StatIcons-newsBlock.NewsBlock_statIcons
									.StatIcons_left
										ul.StatIcons_list
											li.StatIcon.StatIcons_item
												a(href="javascript:;").Like.Like-news
													include /includes/svg/SvgIco/like
													span.Like_count 0
									.StatIcons_right
										ul.StatIcons_list
											li.StatIcon.StatIcon-bordered.StatIcons_item.hidden-smPlus
												span.Date Сегодня в 7:05
											li.StatIcon.StatIcon-views.StatIcons_item.StatIcons_item-views
												include /includes/svg/SvgIco/eye
												span.StatIcon_count 110
			.Aside.Main_aside.hidden-xs
				include /includes/blocks/ProfileMenu
	include /includes/blocks/LikePopup
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification