extends /layouts/main_layout
block vars
	- var title = "Страница вопроса";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
block content
	.Container.Main_container
		.Main_columns
			.Main_left
				.MobileHeader.hidden-smPlus
					a(href="#").BtnBack.MobileHeader_btnBack
						include /includes/svg/SvgIco/arrow_left
					h1.MobileHeader_title Просмотр темы
					a(href="#PopupShare", data-action="openMobilePopup", data-mobile-popup-title="Просмотр темы").DotsIcon.MobileHeader_dotsIcon
						include /includes/svg/SvgIco/dots
				.TopicDetails
					.QuestionBlock.QuestionBlock-full.TopicDetails_questionBlock
						.QuestionBlock_header
							.QuestionBlock_headerLeft
								.UserPhoto.QuestionBlock_userPhoto
									img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
								.QuestionBlock_info
									.QuestionBlock_nameAndRating
										span.QuestionBlock_userName Иван Иванов
										.UserIcons.QuestionBlock_userIcons
											ul.UserIcons_list
												li.UserIcons_item.UserIcons_item-check
													include /includes/svg/user_icons/check
												li.UserIcons_item.UserIcons_item-cup
													include /includes/svg/user_icons/cup
												li.UserIcons_item.UserIcons_item-lightning
													include /includes/svg/user_icons/lightning
												li.UserIcons_item.UserIcons_item-shield
													include /includes/svg/user_icons/shield
										a(href="javascript:;").Rating.QuestionBlock_rating
											span.Rating_icon
												include /includes/svg/user_icons/lightning_fill
											span.Rating_number 17
									.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_headerRight.hidden-xs
								.DotsMenu.DotsMenu-questionBlock
									a(href="javascript:;").DotsIcon.DotsMenu_icon
										include /includes/svg/SvgIco/dots
									.DotsMenu_wrapper
										a(href="javascript:;", data-src="#ComplaintFormPopup").DotsMenu_link
											include /includes/svg/SvgIco/icon_flag
											.
												Пожаловаться
						h2.QuestionBlock_title Lorem ipsum dolor sit amet
						.QuestionBlock_text
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
							.VideoContainer.QuestionBlock_videoContainer
								iframe(width="560", height="315", src="https://www.youtube.com/embed/6ddO3jPUFpg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
							.VideoContainer.QuestionBlock_videoContainer
								iframe(width="560", height="315", src="https://www.youtube.com/embed/6ddO3jPUFpg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						.Images.QuestionBlock_images
							ul.Images_list
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item
									a(href="#").Images_link
										img(src="/img/post_img.jpg", alt="Картинка записи").Images_img
								li.Images_item.Images_item-other
									a(href="#").Images_link.Images_link-other
										span.Images_number +12
							a(href="#").Images_hideLink скрыть
						.StatIcons.QuestionBlock_statIcons
							.StatIcons_left
								.ContextBlock.StatIcons_contextBlock
									h3.ContextBlock_title
										include /includes/svg/SvgIco/like
										span.ContextBlock_titleText Понравилось?
									.ContextBlock_content Чтобы поставить отметку, #[a(href="javascript:;", data-src="#LoginPopup").OpenPopupLink.Link войдите] или #[a(href="javascript:;", data-src="#RegistrationPopup").OpenPopupLink.Link зарегистрируйтесь]
							.StatIcons_right
								ul.StatIcons_list
									li.StatIcon.StatIcons_item.StatIcons_item-views
										include /includes/svg/SvgIco/eye
										span.StatIcon_count 110
					.CommentsBlock
						.CommentsBlock_header
							h3.CommentsBlock_title 3 комментария
							.DropdownSelect.DropdownSelect-commentsSorting.CommentsBlock_dropdownSelect
								select(name="sorting").DropdownSelect_select
									option(value="new_first") Сначала новые
									option(value="first_old") Сначала старые
						.Notice.CommentsBlock_notice Писать комментарии могут только зарегистрированные пользователи. Пожалуйста, #[a(href="javascript:;", data-src="#LoginPopup").OpenPopupLink.Link войдите] или #[a(href="javascript:;", data-src="#RegistrationPopup").OpenPopupLink.Link зарегистрируйтесь]
						.CommentsBlock_items
							.Comment.CommentsBlock_item
								.Comment_wrapper
									.Comment_header
										.Comment_headerLeft
											.UserPhoto.UserPhoto-parentComment.Comment_userPhoto
												img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
											.Comment_info
												.Comment_nameAndRating
													.Comment_userName Анна Сергеевна
													.UserIcons.Comment_userIcons
														ul.UserIcons_list
															li.UserIcons_item.UserIcons_item-check
																include /includes/svg/user_icons/check
															li.UserIcons_item.UserIcons_item-cup
																include /includes/svg/user_icons/cup
															li.UserIcons_item.UserIcons_item-lightning
																include /includes/svg/user_icons/lightning
															li.UserIcons_item.UserIcons_item-shield
																include /includes/svg/user_icons/shield
													a(href="javascript:;").Rating.Comment_rating
														span.Rating_icon
															include /includes/svg/user_icons/lightning_fill
														span.Rating_number 17
												.Comment_date сегодня в 7:05
									.Comment_text
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utа labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcorati laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volup velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
									.Comment_footer
										.Comment_actionLinks
											a(href="#").Comment_actionLink Ответить
											a(href="#").Comment_actionLink.Comment_actionLink-toggleAnswers Показать 10 ответов
										a(href="javascript:;").Like.Like-comment
											include /includes/svg/SvgIco/like
											span.Like_count 42
			.Aside.Main_aside
				include /includes/blocks/TopicCreationBlock
				include /includes/blocks/PopularTopics
	include /includes/blocks/ComplaintFormPopup
	include /includes/blocks/PopupShareExtended
	include /includes/blocks/LinkCopiedNotification
	include /includes/blocks/SubmitComplaint
	include /includes/blocks/ComplaintPopup
block page_bottom
	script(src="/js/topic_details.js")