extends /layouts/main_layout_profile
block vars
	- var title = "Вакансии компаний";
	- var wrapperModifiers = "Wrapper-noMobileHeader";
	- var mainModifiers = "Main-vacancies";
block content
	.MobileHeader.MobileHeader-search.hidden-smPlus
		a(href="#PopupMenu").SelectionLink.PopupMenuLink.hidden-smPlus Роботодавці
		a(href="#PopupShare", data-action="openMobilePopup").DotsIcon.MobileHeader_dotsIcon
			include /includes/svg/SvgIco/dots
	.Container.Main_container
		.Main_columns
			.Main_left
				.Companies.Companies-vacancies
					form(action="", name="topics_filter")#TopicsFilter.Filter.Filter-vacancies
						.Filter_main.hidden-xs
							.Filter_left
								a(href="javascript:;").FilterIcon.FilterIcon-zero.Filter_toggleLink.hidden-smPlus
									include /includes/svg/SvgIco/filter
									span.FilterIcon_number
								.Filter_wrapper
									.MobileHeader.MobileHeader-filter.Filter_mobileHeader.hidden-smPlus
										a(href="javascript:;", data-action="closeFilter").BtnBack.BtnBack-noBack.MobileHeader_btnBack.Filter_closeLink
											include /includes/svg/SvgIco/arrow_left
										h1.MobileHeader_title Фильтр
									.Filter_items
										.Filter_item.Filter_item-staticDropdownxs
											select.Select.Select-filterBlock(name="country")
												option(value="all") Польша
												option(value="country1", hidden) Страна 1
												option(value="country2", hidden) Страна 2
												option(value="country3").hidden Страна 3
												option(value="country4").hidden Страна 4
												option(value="country5").hidden Страна 5
												option(value="country6", hidden) Страна 6
												option(value="country7", hidden) Страна 7
												option(value="country8") Страна 8
												option(value="country9") Страна 9
												option(value="country10") Страна 10
												option(value="country8") Страна 8
												option(value="country9") Страна 9
												option(value="country10") Страна 10
												option(value="country8") Страна 8
												option(value="country9") Страна 9
												option(value="country10") Страна 10
										.Filter_item.Filter_item-staticDropdownxs
											select.Select.Select-filterBlock(name="city")
												option(value="all") Город
												option(value="city1") Город 1
												option(value="city2") Город 2
												option(value="city3", hidden) Город 3
												option(value="city4") Город 4
												option(value="city5") Город 5
										.Filter_item.Filter_item-staticDropdownxs
											select.Select.Select-filterBlock(name="company")
												option(value="all") Компания
												option(value="company1", hidden) Компания 2
												option(value="company2") Компания 3
												option(value="company3") Компания 4
												option(value="company4") Компания 5
										.Filter_item.Filter_item-staticDropdownxs
											select.Select.Select-filterBlock(name="enterprise")
												option(value="all") Предприятие
												option(value="enterprise1") Предприятие 1
												option(value="enterprise2") Предприятие 2
												option(value="enterprise3") Предприятие 3
												option(value="enterprise4") Предприятие 4
												option(value="enterprise5") Предприятие 5
												option(value="enterprise6") Предприятие 6
												option(value="enterprise7") Предприятие 7
										.Filter_item.Filter_item-apply
											button(type="submit", data-action="closeFilter").BtnOrange.BtnOrange-applySelected.Filter_applyBtn.hidden-smPlus Показать результаты #[span.Filter_resultsCount (18)]
										.Filter_item.Filter_item-clearBtn
											a(href="javascript:;", hidden).ClearBtn.Filter_clearBtn
												span.ClearBtn_text Очистить
												include /includes/svg/SvgIco/icon_close
							.Filter_right
								.Filter_item.Filter_item-mobile
									select.Select.Select-filterBlock(name="city")
										option(value="all") Популярные
										option(value="city1") Город 1
										option(value="city2") Город 2
										option(value="city3") Город 3
										option(value="city4") Город 4
										option(value="city5") Город 5
						.Search.Search-results.Filter_search
							.Search_item
								input(type="text", name="search_query2", placeholder="Поиск").Search_text
								a(href="javascript:;").Search_closeBtn.hidden-smPlus.hidden
									include /includes/svg/SvgIco/close
							button(type="submit").Search_icon.hidden-smPlus
								include /includes/svg/SvgIco/search
					.Companies_filterLinks.hidden-smPlus
						a(href="javascript:;").SelectionLink.SelectionLink-small Параметры
						a(href="javascript:;").SelectionLink.SelectionLink-small Новые
					.Companies_items
						.CompanyBlock.CompanyBlock-vacancy.Companies_item
							.CompanyBlock_photoWrapper.hidden-xs
								a(href="/vacancy.html")
									img(src="/img/vacancy/vacancy_image2.png").CompanyBlock_photo
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_headerLeft
										h3.CompanyBlock_name
											a(href="/vacancy.html") Inpost
										h4.CompanyBlock_subtitle Почтовый склад
									.CompanyBlock_headerRight
										.Rating.Rating-vacancy.Rating-dropdown.CompanyBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
										.CompanyBlock_mark 182 оценки
								.Swiper.swiper-container.CompanyBlock_swiper#Swiper1.hidden-smPlus
									.Swiper_wrapper.swiper-wrapper
										a(href="/vacancy.html").Swiper_slide.swiper-slide
											img(src="/img/vacancy_new1.png" alt="Vacancy image 1")
										a(href="/vacancy.html").Swiper_slide.Swiper_slide-video.swiper-slide
											img(src="/img/vacancy_new2.png" alt="Vacancy image 2")
								.CompanyBlock_country.hidden-smPlus
									img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
									.
										Польша, Варшава Nowowiejska 5-147
								.CompanyBlock_activities
									.Activity.CompanyBlock_activity
										.Activity_name Разнорабочие
										.Activity_salary 26 400 – 28 000 CZK
									.Activity.CompanyBlock_activity
										.Activity_name Специалисты
										.Activity_salary 26 400 – 28 000 CZK
								.CompanyBlock_footer
									.CompanyBlock_country.hidden-xs
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Варшава Nowowiejska 5-147
									.StatIcons.CompanyBlock_statIcons
										.StatIcons_left
											ul.StatIcons_list
												li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
													a(href="javascript:;").Like.hidden-smMinus
														include /includes/svg/SvgIco/like
														span.Like_count 10
													a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
														include /includes/svg/SvgIco/like
														span.Like_count 10
												li.StatIcon.StatIcon-answer.StatIcons_item
													a(href="/topic_details.html").StatIcon_link
														include /includes/svg/SvgIco/answer
														span.StatIcon_count 0
						.CompanyBlock.CompanyBlock-vacancy.Companies_item
							.CompanyBlock_photoWrapper.hidden-xs
								a(href="/vacancy.html")
									img(src="/img/vacancy/vacancy_image2.png").CompanyBlock_photo
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_headerLeft
										h3.CompanyBlock_name
											a(href="/vacancy.html") Inpost
										h4.CompanyBlock_subtitle Почтовый склад
									.CompanyBlock_headerRight
										.Rating.Rating-vacancy.Rating-dropdown.CompanyBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
										.CompanyBlock_mark 182 оценки
								.Swiper.swiper-container.CompanyBlock_swiper#Swiper2.hidden-smPlus
									.Swiper_wrapper.swiper-wrapper
										a(href="/vacancy.html").Swiper_slide.swiper-slide
											img(src="/img/vacancy_new1.png" alt="Vacancy image 1")
										a(href="/vacancy.html").Swiper_slide.Swiper_slide-video.swiper-slide
											img(src="/img/vacancy_new2.png" alt="Vacancy image 2")
								.CompanyBlock_country.hidden-smPlus
									img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
									.
										Польша, Варшава Nowowiejska 5-147
								.CompanyBlock_activities
									.Activity.CompanyBlock_activity
										.Activity_name Разнорабочие
										.Activity_salary 26 400 – 28 000 CZK
									.Activity.CompanyBlock_activity
										.Activity_name Специалисты
										.Activity_salary 26 400 – 28 000 CZK
								.CompanyBlock_footer
									.CompanyBlock_country.hidden-xs
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Варшава Nowowiejska 5-147
									.StatIcons.CompanyBlock_statIcons
										.StatIcons_left
											ul.StatIcons_list
												li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
													a(href="javascript:;").Like.hidden-smMinus
														include /includes/svg/SvgIco/like
														span.Like_count 10
													a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
														include /includes/svg/SvgIco/like
														span.Like_count 10
												li.StatIcon.StatIcon-answer.StatIcons_item
													a(href="/topic_details.html").StatIcon_link
														include /includes/svg/SvgIco/answer
														span.StatIcon_count 0
						.CompanyBlock.CompanyBlock-vacancy.Companies_item
							.CompanyBlock_photoWrapper.hidden-xs
								a(href="/vacancy.html")
									img(src="/img/vacancy/vacancy_image2.png").CompanyBlock_photo
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_headerLeft
										h3.CompanyBlock_name
											a(href="/vacancy.html") Inpost
										h4.CompanyBlock_subtitle Почтовый склад
									.CompanyBlock_headerRight
										.Rating.Rating-vacancy.Rating-dropdown.CompanyBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
										.CompanyBlock_mark 182 оценки
								.Swiper.swiper-container.CompanyBlock_swiper#Swiper3.hidden-smPlus
									.Swiper_wrapper.swiper-wrapper
										a(href="/vacancy.html").Swiper_slide.swiper-slide
											img(src="/img/vacancy_new1.png" alt="Vacancy image 1")
										a(href="/vacancy.html").Swiper_slide.Swiper_slide-video.swiper-slide
											img(src="/img/vacancy_new2.png" alt="Vacancy image 2")
								.CompanyBlock_country.hidden-smPlus
									img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
									.
										Польша, Варшава Nowowiejska 5-147
								.CompanyBlock_activities
									.Activity.CompanyBlock_activity
										.Activity_name Разнорабочие
										.Activity_salary 26 400 – 28 000 CZK
									.Activity.CompanyBlock_activity
										.Activity_name Специалисты
										.Activity_salary 26 400 – 28 000 CZK
								.CompanyBlock_footer
									.CompanyBlock_country.hidden-xs
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Варшава Nowowiejska 5-147
									.StatIcons.CompanyBlock_statIcons
										.StatIcons_left
											ul.StatIcons_list
												li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
													a(href="javascript:;").Like.hidden-smMinus
														include /includes/svg/SvgIco/like
														span.Like_count 10
													a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
														include /includes/svg/SvgIco/like
														span.Like_count 10
												li.StatIcon.StatIcon-answer.StatIcons_item
													a(href="/topic_details.html").StatIcon_link
														include /includes/svg/SvgIco/answer
														span.StatIcon_count 0
						.CompanyBlock.CompanyBlock-vacancy.Companies_item
							.CompanyBlock_photoWrapper.hidden-xs
								a(href="/vacancy.html")
									img(src="/img/vacancy/vacancy_image2.png").CompanyBlock_photo
							.CompanyBlock_mainWrapper
								.CompanyBlock_header
									.CompanyBlock_headerLeft
										h3.CompanyBlock_name
											a(href="/vacancy.html") Inpost
										h4.CompanyBlock_subtitle Почтовый склад
									.CompanyBlock_headerRight
										.Rating.Rating-vacancy.Rating-dropdown.CompanyBlock_rating
											span.Rating_icon
												include /includes/svg/SvgIco/icon_star
											span.Rating_number 7,3
											span.Rating_max / 10
										.CompanyBlock_mark 182 оценки
								.Swiper.swiper-container.CompanyBlock_swiper#Swiper4.hidden-smPlus
									.Swiper_wrapper.swiper-wrapper
										a(href="/vacancy.html").Swiper_slide.swiper-slide
											img(src="/img/vacancy_new1.png" alt="Vacancy image 1")
										a(href="/vacancy.html").Swiper_slide.Swiper_slide-video.swiper-slide
											img(src="/img/vacancy_new2.png" alt="Vacancy image 2")
								.CompanyBlock_country.hidden-smPlus
									img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
									.
										Польша, Варшава Nowowiejska 5-147
								.CompanyBlock_activities
									.Activity.CompanyBlock_activity
										.Activity_name Разнорабочие
										.Activity_salary 26 400 – 28 000 CZK
									.Activity.CompanyBlock_activity
										.Activity_name Специалисты
										.Activity_salary 26 400 – 28 000 CZK
								.CompanyBlock_footer
									.CompanyBlock_country.hidden-xs
										img(src="/img/icon_poland.png", alt="Poland").CompanyBlock_countryIcon
										.
											Польша, Варшава Nowowiejska 5-147
									.StatIcons.CompanyBlock_statIcons
										.StatIcons_left
											ul.StatIcons_list
												li.StatIcon.StatIcons_item.StatIcons_item-smallMargin
													a(href="javascript:;").Like.hidden-smMinus
														include /includes/svg/SvgIco/like
														span.Like_count 10
													a(href="#LikePopup", data-action="openMobilePopup").Like.hidden-md
														include /includes/svg/SvgIco/like
														span.Like_count 10
												li.StatIcon.StatIcon-answer.StatIcons_item
													a(href="/topic_details.html").StatIcon_link
														include /includes/svg/SvgIco/answer
														span.StatIcon_count 0
			.Aside.Main_aside
				.Application#Application.hidden-xs
					a(href="javascript:;").Application_close
						include /includes/svg/SvgIco/close
					h3.Application_title В приложении удобнее
					.Application_text Проверяйте компании в любое время благодаря бесплатному приложению!
					.Application_links
						a(href="https://play.google.com/store/apps/details?id=application.infoza&hl=ru", target="_blank").Application_link
							img(src="/img/google_play_transparent.png", alt="Google Play")
						a(href="#", target="_blank").Application_link.hidden
							img(src="/img/apple_store_grey.png", alt="App Store")
				.CompanyReviews.hidden-smMinus
					h3.CompanyReviews_title Последние комментарии
					.CompanyReviews_items
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
						.QuestionBlock.QuestionBlock-companyReviews.CompanyReviews_item
							.QuestionBlock_header
								.QuestionBlock_headerLeft
									.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
										img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
									.QuestionBlock_info
										.QuestionBlock_nameAndRating
											span.QuestionBlock_userName Анна Сергеевна
											a(href="javascript:;").Rating.QuestionBlock_rating
												span.Rating_icon
													include /includes/svg/user_icons/lightning_fill
												span.Rating_number 123
										.QuestionBlock_date сегодня в 7:05
							.QuestionBlock_companyInfo
								.Rating.Rating-companyReviews.QuestionBlock_companyRating
									span.Rating_icon
										include /includes/svg/SvgIco/icon_star
									span.Rating_number 7,3
									span.Rating_max / 10
								a(href="#").ReplyName.ReplyName-companyReviews.QuestionBlock_companyReply
									include /includes/svg/SvgIco/reply
									.
										Sony Corporation
							.QuestionBlock_text Концепцей развития традиционно притягивается и тактический имидж. Формат события невзирая на…
	.PopupMenu.PopupMenu-paddingTop.PopupMenu-paddingLeft#PopupMenu
		.PopupMenu_overlay
		.PopupMenu_wrapper
			ul.PopupMenu_menu
				li.PopupMenu_item
					a(href="/companies_dossiers.html").PopupMenu_link Роботодавці
				li.PopupMenu_item
					a(href="/vacancies.html").PopupMenu_link.active Вакансії
	include /includes/blocks/CompanyAdding
	include /includes/blocks/PopupShare
	include /includes/blocks/LinkCopiedNotification
block page_bottom
	script(src="/js/vacancies.js")