// START: layout vars
$xs = '(max-width: 767px)'
$xsPlus = '(min-width: 576px)'
$xxs = '(max-width: 575px)'
$smMinus = '(max-width: 1023px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$md = '(min-width: 1024px)'
$mdMinus = '(max-width: 1199px)'
$lg = '(min-width: 1200px)'

$smBoxWidth = 1044px
$mdBoxWidth = 1236px

$xsHeaderHeight = 48px
$smHeaderHeight = 98px
$mdHeaderHeight = 98px

$xsFooterHeight = 70px
$smFooterHeight = 66px
$mdFooterHeight = 100px
// END: layout vars

$black = #000
$white = #fff

$blue = #4B97F9
$blue2 = #647C97
$blue3 = #93A8BF

$orange = #F67800
$green = #81be1f

$grey = #EBEFF3
$grey3 = #E5E5E5

$brown = #e6922b

$lightBlue = #F5FBFD
$placeholder = #394E66

$baseFont = 'Montserrat', Arial, sans-serif
$decimaNovaPro = 'Decima Nova Pro', Arial, sans-serif
$roboto = 'Roboto', sans-serif