template#DaysWeekTmpl
	.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.DropdownSelect-daysWeek.CompanySettings_dropdownSelect
		select(name="schedule[]", multiple="multiple").DropdownSelect_select
			option(value="monday") Понедельник
			option(value="tuesday") Вторник
			option(value="wednesday") Среда
			option(value="thursday") Четверг
			option(value="friday") Пятница
			option(value="saturday") Суббота
			option(value="sunday") Воскресенье
	.TimeRangeDropdown.CompanySettings_timeRangeDropdown.CompanySettings_timeRangeDropdown-workingHours
		.TimeRangeDropdown_label(data-label="Время работы") Время работы
		.TimeRangeDropdown_dropdown
			.TimeRangeDropdown_wrapper
				input(type="time", name="schedule[0][working_hours_from]", min="08:00", max="10:00", data-placeholder="с", value="10:00").TimeRangeDropdown_time.TimeRangeDropdown_time-from
				input(type="time", name="schedule[0][working_hours_to]", min="07:00" max="20:00", data-placeholder="до", value="18:00").TimeRangeDropdown_time.TimeRangeDropdown_time-to
			.Checkbox.Checkbox-square.Checkbox-timeRangeDropdown.Checkbox-aroundClock
				input(type="checkbox", name="schedule[0][around_clock]", value="yes", id="schedule[0][around_clock]").Checkbox_input
				label(for="schedule[0][around_clock]").Checkbox_label Круглосуточно
	.TimeRangeDropdown.CompanySettings_timeRangeDropdown.CompanySettings_timeRangeDropdown-noMargin
		.TimeRangeDropdown_label(data-label="Перерыв") Перерыв
		.TimeRangeDropdown_dropdown
			.TimeRangeDropdown_wrapper
				input(type="time", name="schedule[0][break_from]", min="08:00", max="10:00", data-placeholder="с", value="10:00").TimeRangeDropdown_time.TimeRangeDropdown_time-from
				input(type="time", name="schedule[0][break_to]", min="07:00" max="20:00", data-placeholder="до", value="16:00").TimeRangeDropdown_time.TimeRangeDropdown_time-to
			.Checkbox.Checkbox-square.Checkbox-timeRangeDropdown.Checkbox-nonStop
				input(type="checkbox", name="schedule[0][nonstop]", value="yes", id="schedule[0][nonstop]").Checkbox_input
				label(for="schedule[0][nonstop]").Checkbox_label Без перерыва
	a(href="javascript:;").CompanySettings_removeFieldItem
template#PhoneTmpl
	input(type="tel", name="phone[0]").CompanySettings_formText
	a(href="javascript:;").CompanySettings_removeFieldItem
template#OfficeTmpl
	.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.CompanySettings_dropdownSelect
		select(name="location[0][country_id]").DropdownSelect_select
			option(value="varshava") Варшава
			option(value="moscow") Москва
			option(value="spb") Санкт-Петербург
			option(value="kiev") Киев
			option(value="almaata") Алма-ата
	input(type="text", name="location[0][address]", placeholder="адрес").CompanySettings_formText
	a(href="javascript:;").CompanySettings_removeFieldItem
template#FieldErrorTmpl
	.Error.Error-small.CompanySettings_fieldError.hidden Поле заполнено неправильно