template#daysWeek
	.CompanySettings_fieldItem
		.DropdownSelect.DropdownSelect-mobile.DropdownSelect-companySettings.DropdownSelect-daysWeek.CompanySettings_dropdownSelect
			select(name="days_week[]", multiple="multiple").DropdownSelect_select
				option(value="monday") Понедельник
				option(value="tuesday") Вторник
				option(value="wednesday") Среда
				option(value="thursday") Четверг
				option(value="friday") Пятница
				option(value="saturday") Суббота
				option(value="sunday") Воскресенье
		.TimeRangeDropdown.CompanySettings_timeRangeDropdown.CompanySettings_timeRangeDropdown-workingHours.HasError
			.TimeRangeDropdown_label(data-label="Время работы") Время работы
			.TimeRangeDropdown_dropdown
				.TimeRangeDropdown_wrapper
					input(type="time", name="working_hours_from", min="08:00", max="10:00", data-placeholder="с", value="10:00").TimeRangeDropdown_time.TimeRangeDropdown_time-from
					input(type="time", name="working_hours_to", min="07:00" max="20:00", data-placeholder="до", value="18:00").TimeRangeDropdown_time.TimeRangeDropdown_time-to
				.Checkbox.Checkbox-square.Checkbox-timeRangeDropdown.Checkbox-aroundClock
					input(type="checkbox", name="around_clock", value="yes", id="around_clock").Checkbox_input
					label(for="around_clock").Checkbox_label Круглосуточно
		.TimeRangeDropdown.CompanySettings_timeRangeDropdown.CompanySettings_timeRangeDropdown-noMargin.HasError
			.TimeRangeDropdown_label(data-label="Перерыв") Перерыв
			.TimeRangeDropdown_dropdown
				.TimeRangeDropdown_wrapper
					input(type="time", name="break_from", min="08:00", max="10:00", data-placeholder="с", value="10:00").TimeRangeDropdown_time.TimeRangeDropdown_time-from
					input(type="time", name="break_to", min="07:00" max="20:00", data-placeholder="до", value="16:00").TimeRangeDropdown_time.TimeRangeDropdown_time-to
				.Checkbox.Checkbox-square.Checkbox-timeRangeDropdown.Checkbox-nonStop
					input(type="checkbox", name="break", value="yes", id="break").Checkbox_input
					label(for="break").Checkbox_label Без перерыва
		a(href="javascript:;").CompanySettings_removeFieldItem
	.Error.Error-small.CompanySettings_fieldError Поле заполнено неправильно