.AdvantagesRating
	&_item
		display flex
		align-items flex-end
		font-weight 500
		line-height 25px
		
	&_icon
		width 10px
		margin-right 9px
		color $brown
	
	&_number
		width 10px
		margin-right 14px
		font-size 16px
		text-align right
	
	&_text
		font-size 13px
		color #404040