.ArrowLink
	display inline-block
	color $blue
	font-weight 600
	font-size 14px
	line-height 1.857
	
	&:after
		content ""
		display inline-block
		width 4px
		height 6px
		margin-left 4px
		background url('../img/arrow_blue.png') 0 0 no-repeat
		vertical-align middle