.ArrowLink
	display inline-block
	color $blue
	font-weight 600
	font-size 14px
	line-height 1.857
	white-space nowrap
	
	&:after
		content ""
		display inline-block
		width 4px
		height 6px
		margin-left 4px
		background url('../img/arrow_blue.png') 0 0 no-repeat
		vertical-align middle
	
	&-companyInfoName
		font-size 21px
		
		&:after
			margin-left 6px
			transform rotate(90deg)
	
	&-replenishment, &-remark
		font-size 15px
	
	&-remark
		line-height 1.5
	
	&-company
		font-weight 500
		font-size 15px
	
	&-coverSelection
		font-weight 500
		
		@media $xxs
			font-size 16px
		
		&:after
			transform rotate(90deg)
	
	&-left
		&:before
			content ""
			display inline-block
			margin-right 4px
			margin-left -5px
			border 4px solid transparent
			border-right-color $blue
			vertical-align middle
			
		&:after
			display none
	
	&-vacancies
		font-weight 500
		font-size 13px
		
		&:after
			content ""
			display inline-block
			border 3px solid transparent
			border-top-color $blue
			vertical-align middle
			background none
			margin-top 5px