.ContextBlock
	width 300px
	padding 17px 20px 29px
	box-shadow 0 0 5px 0 rgba(0, 0, 0, 0.1)
	background $white
	
	&_title
		display flex
		align-items center
		margin-bottom 15px
		
		& > .SvgIco
			width 22px
			margin-right 14px
			opacity 0.8
			color $blue2
		
	&_titleText
		font-weight 600
		font-size 16px
	
	&_content
		font-size 14px
		line-height 1.5714
	
	&-popup
		width 100%
		padding-top 21px
		padding-bottom 26px