.Bookmark
	&_icon
		display inline-block
		width 16px
		color #8396AC
		
		@media $xs
			width 17px
		
		&-small
			width 14px
	
	&-active
		.Bookmark_icon
			color $orange
			
			path
				fill $orange
	
	&-article, &-news
		.Bookmark_icon
			width 18px
	
	&-company
		.Bookmark_icon
			width 16px
	
	&-companyBellCheck
		.Bookmark_icon
			width auto
			color #8396ac
			
			.SvgIco-bellCheck
				width 20px
				
				.SvgIco_path
					fill #8396ac
					
					&-check
						fill $orange