.BtnGreen
	display inline-block
	padding 7px 28px
	border 1px solid #85be1f
	border-radius 16px
	color #85BE1F
	font-weight 500
	font-size 14px
	white-space nowrap
	@extend .transition
	
	@media $xs
		padding 9px 15px
		border-radius 20px
	
	&:hover
		background #85BE1F
		color $white