.BtnGreen
	display inline-block
	padding 7px 28px
	border 1px solid $green2
	border-radius 16px
	color $green2
	font-weight 500
	font-size 14px
	white-space nowrap
	@extend .transition
	
	@media $xs
		padding 9px 15px
		border-radius 20px
	
	&:hover
		background $green2
		color $white
	
	&-banner
		padding 11px 44px
		border none
		border-radius 20px
		background #49B874
		color $white
		
		&:hover
			background darken(#49B874, 10%)