.CommentsBlock
	padding-right 20px
	
	@media $xs
		padding-right 0
	
	&_header
		display flex
		justify-content space-between
		align-items center
		margin-bottom 29px
		padding-right 10px
		padding-bottom 6px
		padding-left 3px
		border-bottom 1px solid #ebf0f2
		
		@media $xs
			margin-bottom 28px
			padding-right 3px
			padding-left 6px
	
	&_title
		font-weight 600
		font-size 16px
		line-height normal
	
	&_dropdownSelect
		margin-top 5px
	
	&_notice
		margin -2px 10px 19px 3px
	
	&_commentForm
		margin 0 10px 20px 3px
		
		@media $xs
			margin 0 5px 13px 6px
	
	&_item
		margin-bottom 17px
	
	&_bottom
		padding 0 30px 30px
	
	&_expandLink
		color $blue
	
	&-company
		padding-right 0
		
		@media $xs
			padding-bottom 22px
			border-bottom 1px solid $grey
		
		.CommentsBlock_commentForm
			margin 0 0 20px 0
			
			@media $xs
				margin-bottom 10px
		
		.CommentsBlock_item
			margin-bottom 23px
			
			@media $xs
				margin-bottom 13px
		
		.CommentsBlock_footer
			padding-top 7px
			text-align right
			
			@media $xs
				text-align left