.CompanyInfo
	display flex
	align-items flex-start
	padding 17px
	background $white
	box-shadow 0 1px 5px 0 rgba(0, 0, 0, 0.12)
	@extend .transition
	
	&:hover
		background #f8f9fa
	
	&_logo
		width 40px
		margin-right 14px
	
	&_logoImg
		display block
	
	&_wrapper
		padding-top 2px
	
	&_name
		font-weight 500
		font-size 16px
		line-height 1.25