.CompanyPanel
  width 290px
  min-width 290px
  height 410px
  margin-right 50px
  padding 15px 15px 30px
  display flex
  flex-flow column nowrap
  justify-content space-between
  align-items center
  border-radius 5px
  box-shadow 0 0 3px 1px rgba(0, 0, 0, .1);

  &_img
    width 100%
    height 260px
    background #f8f9fa

  &_message
    width 210px
    height 35px
    color $white
    background $blue
    outline none 
    border none
    border-radius: 30px