.CompanyAdding
	width 500px
	padding 0
	
	&_title
		padding 23px 30px 23px 52px
		background $blue
		color $lightGrey
		font-weight 600
		font-size 18px
	
	&_main
		padding 35px 50px 40px 45px
		
		@media $xs
			padding 26px 20px 26px 16px
	
	&-popup
		@media $xs
			height 100%
			width 100%
			padding-top 51px

.fancybox-slide--html .CompanyAdding .fancybox-close-small
	top 9px
	right 9px
	color rgba(254, 254, 255, .5)
	
	&:hover
		opacity 1
		color $white