.CompanySettings
	padding-left 4px
	
	&_title
		margin-bottom 36px
		padding-top 6px
		padding-bottom 7px
		font-weight 600
		font-size 16px
		border-bottom 1px solid #ebf0f2
	
	&_fields
		margin-bottom 30px
		padding-right 50px
		padding-bottom 30px
		border-bottom 1px solid #ebf0f2
		
		&-mainInformation
			padding-right 180px
			padding-bottom 17px
	
	&_field
		display flex
		align-items flex-start
		margin-bottom 20px
		
		&:last-child
			margin-bottom 0
		
		&-pageAddress
			position relative
			margin-bottom 8px
	
	&_label
		margin-top 13px
		flex 170px 0 0
		font-weight 500
		color $blue2
	
	&_fieldContent
		flex auto 1 1
	
	&_fieldItems
		margin-bottom 30px
		
		&:last-child
			margin-bottom 0
	
	&_fieldItem
		display flex
		position relative
		margin-bottom 20px
		
		&:last-child
			margin-bottom 0
	
	&_dropdownSelect, &_timeRangeDropdown
		max-width 166px
		flex 166px 0 1
		margin-right 15px
		
		&:last-child, &-noMargin
			margin-right 0
	
	&_formText, &_textarea, &_dropdownSelect
		&-fullWidth
			width 100%
	
	&_dropdownSelect
		&-fullWidth
			max-width none
	
	&_formText
		flex 166px 1 1
		height 44px
		padding-right 12px
		padding-left 12px
		border 1px solid #EBF0F2
		border-radius 3px
		outline none
		font-size 15px
		color $black
		
		+placeholder()
			color #8396AC
		
		&:last-child
			margin-right 0
		
		&-inline
			flex 166px 0 1
			width 166px
		
		&-post
			margin-right 16px
	
	&_error
		position absolute
		top 12px
		right -146px
		width 133px
	
	&_timeRangeDropdown
		&-workingHours
			margin-right 15px
	
	&_textarea
		display block
		height 90px
		padding 10px 12px
		border-color $grey
		border-radius 3px
		outline none
		resize none
	
	&_pageAddress
		width 100%
	
	&_removeFieldItem
		position absolute
		top 14px
		right -21px
		width 10px
		height 10px
		background url('../img/icon_close.svg') 0 0 / cover no-repeat
	
	&_actions
		display flex
		align-items center
		padding-left 170px
	
	&_successfulSave
		margin-left 29px
	
	&-popup
		.CompanySettings_fields
			margin-bottom 9px
			padding-right 0
			
		.CompanySettings_field
			position relative
			flex-direction column
			align-items stretch
			margin-bottom 21px
			
			&:last-child
				margin-bottom 0
		
		.CompanySettings_label
			flex auto 1 1
			margin-top 0
			margin-bottom 5px
		
		.CompanySettings_autoComplete
			position absolute
			z-index 10
			top calc(100% + 1px)
			right 0
			left 0
		
		.CompanySettings_actions
			padding-left 0
		
		.CompanySettings_addButton
			margin-right 34px
		
		.CompanySettings_link
			color $blue
			
			&-cancel
				font-weight 500