.CompanyReview
  &_count
    padding-bottom 20px
    margin-bottom 30px
    border-bottom 1px solid #ebf0f2
    font-size 16px
    font-weight 900

  &Notif
    margin-bottom 70px
    padding 30px 45px 35px
    position relative
    border-radius 5px
    box-shadow 0 0 3px 1px rgba(0, 0, 0, .1);

    &_title
      margin-bottom 7px
      font-size 16px
      font-weight 900
    
    &_text
      font-size 15px

      &-link
        color $blue
        font-weight 500

    &_check
      position absolute
      top 33px
      left 26px

    &_close
      position absolute
      top 15px
      right 15px

    &_arrow
      margin-left 3px

  &_textarea
    display block
    width 100%
    max-width 100%
    min-height 55px
    padding 23px
    margin-bottom 30px
    border 1px solid #ebeff3
    border-radius 4px
    color #000
    font-size 15px
    outline none
    resize none
    overflow hidden

