.CompanyBlock
	display flex
	align-items flex-start
	padding-bottom 25px
	border-bottom 1px solid #ebf0f2
	
	&_logo
		flex auto 0 0
		width 100px
		margin-right 32px
		
		&-small
			width 50px
			margin-right 20px
	
	&_logoImg
		border-radius 2px
	
	&_mainWrapper
		flex auto 1 1
	
	&_name
		margin-top -9px
		margin-bottom 4px
		font-weight 500
		font-size 24px
		
		&:after
			content ""
			display inline-block
			width 14px
			height 14px
			margin-left 7px
			background url('../img/checkbox_green.svg') 0 0 / cover no-repeat
			vertical-align middle
		
		a
			&:hover
				text-decoration underline
	
	&_activity, &_description
		font-size 15px
		line-height 1.6
	
	&_activity
		margin-bottom 6px
		margin-left 2px
		font-weight 500
	
	&_description
		margin-bottom 16px
		color #404040
	
	&_footer
		display flex
		justify-content space-between
		align-items center
	
	&_country
		margin-top 2px
		margin-right -3px
		color #666
	
	&_countryIcon
		margin-right 8px
	
	&-dossiers
		@media $xs
			padding-bottom 18px
			
		.CompanyBlock_header
			display flex
			align-items flex-start
			
			@media $xs
				margin-bottom 4px
			
		.CompanyBlock_logo
			width 90px
			margin-right 28px
			
			@media $xs
				width 46px
				margin-right 15px
		
		.CompanyBlock_name
			margin-top -6px
			
			&:after
				@media $xs
					width 12px
					height 12px
					margin-left 6px
			
			@media $xs
				font-size 18px
				line-height 1.44
		
		.CompanyBlock_activity
			@media $xs
				width 320px
				margin-bottom 5px
				margin-left 0
				font-size 16px
				line-height 1.5
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
		
		.CompanyBlock_description
			margin-bottom 18px
			
			@media $xs
				margin-bottom 8px
				font-size 16px
				line-height 1.5
		
		.CompanyBlock_country
			@media $xs
				margin-right 0
				font-size 15px
		
		.CompanyBlock_countryIcon
			@media $xs
				margin-right 5px