.Companies
	padding-top 6px
	
	&_categories
		margin-bottom 14px
	
	&_searchForm
		margin-bottom 35px
	
	&_item
		margin-bottom 40px
		
		&:last-child
			margin-bottom 0
	
	&-dossiers
		max-width 722px
		
		@media $smMinus
			max-width 100%
		
		@media $xs
			padding-top 19px
		
		.Companies_item
			margin-bottom 35px
			
			@media $xs
				margin-bottom 27px
			
			&:last-child
				margin-bottom 0