.Dialogue
	display flex
	flex-direction column
	justify-content space-between
	height 100%
	
	&_headerWrapper, &_headerLeft, &_headerRight
		display flex
		align-items center
	
	&_header
		border-bottom 1px solid #ebf0f2
	
	&_headerWrapper
		justify-content space-between
		margin-bottom 6px
		padding-top 12px
		padding-bottom 5px
	
	&_userName
		margin-right 8px
		font-weight 600
		font-size 16px
	
	&_userIcons, &_actionIcons
		display flex
	
	&_userRating
		margin-left 11px
	
	&_actionIcon
		&-search
			margin-top 3px
			
		&-dots
			width 16px
			margin-left 13px
			color $blue2
	
	&_messages
		// display flex
		// flex-direction column
		// justify-content flex-end
		// min-height 410px
		margin-bottom 11px