.ExtendedRating
	display flex
	align-items flex-start
	
	&_mark
		font-size 16px
	
	&_wrapper
		flex-basis 497px
		margin-left 12px
	
	&_label, &_ratingsNumber
		color #8396AC
		font-weight 500
		font-size 13px
	
	&_label
		margin-bottom 8px
	
	&_line
		height 5px
		border-radius 2px
		background #EBF0F2
	
	&_lineFill
		width 0
		height inherit
		background-image -webkit-linear-gradient(to right, #f29624, #ffc20d)
		background-image -o-linear-gradient(to right, #f29624, #ffc20d)
		background-image linear-gradient(to right, #f29624, #ffc20d)
	
	&_ratingsNumber
		align-self flex-end
		margin-bottom -4px
		margin-left 21px