.MenuSection
	display flex
	justify-content space-between
	align-items center
	border-bottom 1px solid $grey
	overflow auto
	
	@media $xs
		padding-right 20px
		padding-bottom 14px
		padding-left 19px
	
	&_selectionLink
		margin-right 25px
		
		&:last-child
			margin-right 0
	
	&-fixed
		position fixed
		z-index 10
		top 67px
		right 0
		left 0
		height 34px
		padding-right 10px
		padding-left 10px
		background $white
		@extend .transition
	
	&-fixedTop
		top 0
	
	&-profile
		@media $xs
			padding-bottom 20px
	
	&-notifications
		overflow visible
	
	&-company, &-companySettings
		border-bottom none
		overflow hidden
		
		@media $xs
			position relative
			padding-right 0
			padding-bottom 0
			padding-left 0
			background-image -webkit-linear-gradient(to top, #f8f9fa, #fff)
			background-image -o-linear-gradient(to top, #f8f9fa, #fff)
			background-image linear-gradient(to top, #f8f9fa, #fff)
			
			&:after
				content ""
				position absolute
				top 20px
				right 0
				width 32px
				height 10px
				background url('../img/menu_section_blur.png') 0 0 / cover no-repeat
				pointer-events none
	
	&-company
		border-bottom 1px solid #ebeff3