.MobileHeader
	position fixed
	z-index 100
	top 0
	left 0
	width 100%
	padding 14px 15px
	border-bottom 1px solid $grey
	background $white
	
	&_btnBack
		position absolute
		top 16px
		left 20px
	
	&_title
		font-weight 600
		font-size 16px
		text-align center
	
	&-passwordRecovery
		padding-top 18px
		
		.MobileHeader_btnBack
			top 19px
	
	&-filter
		position relative
		padding-top 18px
		
		.MobileHeader_btnBack
			top 19px
	
	&-noBorder
		border-bottom-color transparent
	
	&-companiesDossiers
		display flex
		justify-content space-between
		align-items center
		padding-right 32px
		padding-left 21px