.MobilePopupMenu
	&_list
		list-style none
	
	&_link
		display block
		
		&-currency
			padding 10px 18px
			font-size 16px
			
			&.MobilePopupMenu_link-active
				font-weight 500
				color $blue
		
		&:hover,
		&-active
			background $lightGrey