.MobileHeader
	position fixed
	z-index 100
	top 0
	left 0
	width 100%
	padding 14px 15px
	border-bottom 1px solid $grey
	background $white
	
	&_btnBack
		position absolute
		top 16px
		left 20px
	
	&_titleWrapper
		padding-right 30px
		padding-left 30px
		text-align center
	
	&_title
		font-weight 600
		font-size 16px
		text-align center
		
		&-popupMenuLink
			display inline-block
			padding-right 14px
			background url('../img/arrow_black_bottom.png') right center no-repeat
		
		&-company
			display inline-flex
			align-items center
			
			&:after
				content ""
				width 12px
				height 12px
				margin-left 6px
				background url('../img/checkbox_green.svg') 0 0 / cover no-repeat
	
	&_searchLink
		position absolute
		top 16px
		right 20px
		width 18px
		color #444
	
	&_siteName
		position relative
		top 3px
	
	&_dotsMenu, &_dotsIcon
		position absolute
		top 15px
		right 20px
	
	&_phoneIcon
		position absolute
		top 14px
		right 45px
		color $blue
	
	&-passwordRecovery
		padding-top 18px
		
		.MobileHeader_btnBack
			top 19px
	
	&-filter
		position relative
		padding-top 18px
		
		.MobileHeader_btnBack
			top 19px
	
	&-noBorder
		border-bottom-color transparent
	
	&-companiesDossiers
		display flex
		justify-content space-between
		align-items center
		// padding-right 32px
		padding-right 47px
		padding-left 21px
	
	&-profileMessages
		.MobileHeader_title
			margin-top 2px
	
	&-withLogo
		display flex
		justify-content space-between
		align-items center
		padding-right 28px
		padding-left 60px
		
		.MobileHeader_btnBack
			top 15px