.MobilePopup
	z-index 101
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	@extend .transition
	visibility hidden
	opacity 0
	
	&_wrapper
		position absolute
		z-index 1000
		right 0
		bottom 0
		left 0
		padding 16px 19px
		border-top-right-radius 10px
		border-top-left-radius 10px
		background $white
		transform translateY(100%)
		transition all .3s ease-in-out
	
	&_header
		margin-bottom 21px
		
		&-center
			padding-right 30px
			padding-left 30px
			text-align center
	
	&_icon
		margin-bottom 14px
		
		&-like
			margin-bottom 19px
			
			& > .SvgIco
				width 40px
				color $blue
	
	&_title
		font-weight 600
		font-size 18px
	
	&_close
		position absolute
		top 10px
		right 10px
		width 34px
		height 34px
		padding 10px
		color $blue2
	
	&_contactsMenu
		// margin-bottom 28px
		margin-bottom 42px
	
	&_text
		margin-bottom 52px
		color #404040
		font-size 16px
		line-height 1.5
		text-align center
	
	&_btnWrapper
		text-align center
	
	&-opened
		visibility visible
		opacity 1
		
		.MobilePopup_wrapper
			transform translateY(0)
	
	&-contacts
		.MobilePopup_wrapper
			padding-bottom 24px
			
		.MobilePopup_header
			// margin-bottom 23px
			margin-bottom 34px
	
	&-callWaiting
		.MobilePopup_wrapper
			padding 35px 15px 16px 15px
		
		.MobilePopup_title
			margin-bottom 32px
	
	&-like
		.MobilePopup_wrapper
			padding-top 28px
			padding-bottom 24px
		
		.MobilePopup_header
			margin-bottom 10px
		
		.MobilePopup_text
			margin-bottom 26px
		
		.MobilePopup_btnWrapper
			display flex
			justify-content center
			align-items center
		
		.MobilePopup_btn
			&:first-child
				margin-right 10px