.NewsBlocks
	display flex
	flex-wrap wrap
	justify-content center
	align-items flex-start
	margin-right -15px
	margin-left -15px
	
	@media $xxs
		margin-right 0
		margin-left 0
	
	&_item
		flex 0 0 auto
		margin-right 15px
		margin-bottom 41px
		margin-left 14px
		
		@media $xs
			margin-bottom 25px
		
		@media $xxs
			margin-right 0
			margin-left 0
	
	&-column
		flex-direction column
		margin-right 0
		margin-left 0
		
		.NewsBlocks_item
			margin-right 0
			margin-bottom 35px
			margin-left 0
			
			@media $xs
				margin-right auto
				margin-bottom 25px
				margin-left auto
				
				&:last-child
					margin-bottom 0
			
			&:last-child
				margin-bottom 0