.NoResults
	padding 37px 86px 120px 0
	text-align center
	
	@media $smMinus
		padding-right 0
	
	@media $xs
		padding 75px 5px
	
	&_icon
		margin-bottom 20px
		
		svg
			@media $xs
				width 134px
	
	&_text
		margin-bottom 40px
		color $blue2
		font-weight 500
		font-size 21px
		line-height 1.23809
		
		@media $xs
			margin-bottom 23px
			font-size 18px
			line-height 1.34
	
	&-notifications
		padding-top 58px
		
		@media $xs
			padding-top 82px
		
		.NoResults_icon
			@media $xs
				margin-bottom 17px
				
				svg
					width 90px
	
	&-notificationsSmall
		padding 83px 6px 0 0
		
		.NoResults_icon
			margin-bottom 11px
			
			svg
				width 63px
		
		.NoResults_text
			margin-bottom 0
			font-size 12px
	
	&-teamTable
		padding 100px 20px
		
		.NoResults_text
			font-size 16px
	
	&-search
		padding-top 40px
		padding-right 27px
		
		.NoResults_icon
			margin-bottom 18px
		
		.NoResults_text
			font-size 15px
			line-height 1.42857
	
	&-companies
		padding 13px 0
		
		.NoResults_icon
			margin-bottom 12px
		
		.NoResults_text
			margin-bottom 20px
			font-size 16px
			line-height 1.875