.Notice
	padding 12px 21px 14px
	background #fef1e5
	font-size 13px
	line-height 1.5384
	
	a
		text-decoration underline
		
		&:hover
			text-decoration none
	
	&-lock
		padding 21px 15px 19px 45px
		border-radius 4px
		background #fef1e5 url('../img/lock.svg') 21px 21px no-repeat
		font-size 15px
		line-height 1.34
		
		@media $xs
			padding 21px 10px 17px 20px
			background-image none
			line-height 1.6