.OrderCallPopup
	width 560px
	padding 56px 40px 38px
	
	.fancybox-close-small
		top 5px
		right 5px
	
	&_header
		margin-bottom 22px
		text-align center
	
	&_btnBack
		position absolute
		top 25px
		left 25px
	
	&_iconWrapper
		margin-bottom 6px
		
		& > svg
			width 32px
	
	&_title
		font-weight 600
		font-size 21px
		line-height 24px
	
	&_text,
	&_btnWrapper
		text-align center
	
	&_text
		margin-bottom 32px
		font-size 16px
		line-height 1.75
		color #404040
	
	&_footer
		margin-top 30px
		text-align center
	
	&_closeBtn
		min-width 200px
	
	&-success
		padding-bottom 56px
		
		.OrderCallPopup_header
			margin-bottom 30px
	
	&-highlightedHeader
		padding 0
		
		.OrderCallPopup_header
			position relative
			margin-bottom 0
			padding 20px 40px
			background #F2F2F2
			text-align center
		
			.OrderCallPopup_title
				margin-bottom 15px
			
			.OrderCallPopup_text
				margin-bottom 0
		
		.OrderCallPopup_body
			padding 30px 40px
			
			.OrderCallPopup_title
				margin-bottom 30px
				text-align center
		
		.OrderCallPopup_footer
			margin-bottom 30px