.PageAddressField
	position relative
	display flex
	align-items center
	padding-left 3px
	
	&_label
		flex 141px 0 0
		font-weight 500
		color $blue2
	
	&_pageAddress
		flex 360px 0 0
	
	&_error
		position absolute
		top 14px
		right 20px