.Plans
	padding 24px 0
	
	@media $xs
		padding 15px 0
	
	&_header
		margin-bottom 28px
		
		@media $xs
			margin-bottom 23px
			text-align center
	
	&_title
		font-weight 600
		font-size 36px
		
		@media $xs
			margin-bottom -5px
			font-size 28px
			line-height 1.18
	
	&_currency
		margin-left 8px
	
	&_currencyLabel
		font-size 15px
	
	&_slider
		@media $xs
			margin-right -20px
			margin-left -5px