.PlansTable
	width 100%
	
	&_th,
	&_data
		border-bottom 1px solid #ebf0f2
	
	&_th
		width 160px
		padding-bottom 19px
		font-weight 600
		font-size 18px
		line-height 1.34
		
		@media $smMinus
			font-size 16px
		
		&-currency
			width 348px
			font-weight normal
			font-size 16px
			text-align left
	
	&_data
		height 72px
		padding-right 10px
		padding-left 10px
		vertical-align middle
		font-size 16px
		text-align center
		
		img
			vertical-align middle
		
		&-title
			padding-left 0
			text-align left
	
	&_currencyDropdown
		position relative
		top 9px
	
	&_hint
		position relative
		top 2px
		margin-left 3px
	
	&_price
		margin-top 8px
		font-size 13px