.ProfileMessages
	display flex
	
	&_left
		width 35.5%
		flex 35.5% 0 0
	
	&_dialogueList
		margin-bottom 15px
	
	&_link
		color $blue
		font-weight 500
		font-size 13px
		
		&-showUnread
			margin-left 3px
	
	&_right
		flex-grow 1
		padding-right 4px
		padding-left 41px