.Rating
	display flex
	align-items center
	
	&_icon
		width 12px
		margin-right 3px
		color $grey3
		
		@media $xs
			margin-top -3px
	
	&_number
		font-size 13px
		color $blue2
		
		&-profileSettings
			@media $xs
				font-size 14px
	
	&_max, &_label
		flex-shrink 0
		
	&_max
		margin-right 7px
	
	&_label
		color #8396AC
	
	&_dropdown
		position absolute
		z-index 10
		top calc(100% + 9px)
		left -21px
		width 412px
		padding 14px 22px
		border-radius 3px
		background $white
		box-shadow 0 0 5px 0 rgba($black, 0.12)
		visibility hidden
		opacity 0
		@extend .transition
		
		&:hover
			visibility visible
			opacity 1
	
	&-bordered
		padding 9px 13px
		border 1px solid #f0f3f6
		border-radius 18px
	
	&-blue
		.Rating_icon
			color $blue2
			
	&-green
		.Rating_icon
			color $green
			
	&-orange
		.Rating_icon
			color $orange
	
	&-mobNav
		.Rating_icon
			width 12px
			margin-right 1px
		
		.Rating_number
			font-size 12px
	
	&-center
		justify-content center
	
	&-company,
	&-companyComment,
	&-companyBlock
		.Rating_icon
			align-self center
			margin-right 5px
			color $brown
		
		.Rating_number
			margin-right 5px
			color $black
			line-height 1
	
	&-company
		align-items flex-end
		font-weight 500
		
		.Rating_number
			font-size 26px
			
			@media $xs
				font-size 36px
		
		.Rating_max
			@media $xs
				margin-right 10px
		
		.Rating_label
			@media $xs
				font-size 15px
	
	&-companyComment,
	&-companyBlock
		position relative
		display inline-flex
		
		&:after
			content ""
			position absolute
			right 0
			bottom 5px
			width 4px
			height 3px
			background url('../img/arrow_black_bottom.svg') 0 0 no-repeat
		
		.Rating_number
			font-size 18px
		
		.Rating_max
			font-size 13px
	
	&-companyBlock
		&:after
			bottom 7px
			right -7px
			
			@media $xs
				display none
			
		.Rating_icon
			margin-right 7px
			
			@media $xs
				margin-right 5px
		
		.Rating_number
			@media $xs
				font-size 16px
		
		.Rating_label
			margin-top 2px
			font-size 13px
			
			@media $xs
				margin-top 0
				font-size 13px
		
		.Rating_max
			@media $xs
				margin-right 5px
	
	&-dropdown
		position relative
		cursor pointer
			
		&:hover
			.Rating_dropdown
				visibility visible
				opacity 1
	
	&-companyInfo
		font-weight 500
		
		.Rating_icon
			color $brown
		
		.Rating_number
			margin-right 3px
			color $black
			font-size 15px
		
		.Rating_max
			margin-top 2px
			margin-right 0
			font-size 12px
	
	&-balance
		font-weight 500
		
		.Rating_icon
			color $brown
		
		.Rating_number
			margin-right 3px
			font-size 16px
			line-height 1.375
			color $black
		
		.Rating_max
			margin-right 3px
		
		.Rating_label
			margin-bottom 2px
			font-size 13px
	
	&-companyReviews
		font-weight 500
		
		.Rating_icon
			color $brown
		
		.Rating_number
			font-size 16px
			color $black
		
		.Rating_max
			margin-right 4px
			margin-left 3px
			font-size 13px
	
	&-companyHeader
		font-weight 500
		
		.Rating_icon
			margin-right 5px
			color $brown
		
		.Rating_number
			margin-right 4px
			font-size 16px
			color $black
		
		.Rating_max
			margin-right 2px
		
		.Rating_label
			font-size 13px