.TextSection
	display flex
	// align-items center
	// overflow hidden
	
	&_textWrap,
	&_imgWrap
		flex 50% 0 0
	
	&_textWrap
		padding-top 136px
	
	&_title
		margin-bottom 21px
		font-weight 600
		font-size 48px
		line-height 1.25
	
	&_text
		font-size 15px
		line-height 1.6
		
		&-large
			font-size 16px
			line-height 1.5625
	
	&_img
		max-width none