.Theses
	&_container
		padding-top 79px
		padding-bottom 76px
		
		@media $mdMinus
			padding-top 65px
			padding-bottom 65px
		
		@media $smMinus
			padding-top 50px
			padding-bottom 50px
		
		@media $xs
			padding-top 34px
			padding-bottom 15px
	
	&_item
		margin-bottom 33px
		padding-bottom 47px
		border-bottom 1px solid #dfe4e6
		
		@media $xs
			margin-bottom 18px
			padding-bottom 27px
		
		&:last-child
			margin-bottom 0
			padding-bottom 0
			border-bottom none