.UserInfo
	display flex
	align-items center
	
	&_photo
		margin-right 10px
	
	&_nameWrapper
		display flex
		margin-bottom -3px
	
	&_name
		margin-right 5px
		font-weight 600
		font-size 15px
		white-space nowrap
	
	&_status
		font-size 13px
		color $blue3
	
	&_verification
		width 14px
		margin-top 2px
		margin-right 9px
		color $blue