.UserIcons
	&_list
		display flex
		align-items center
		
		&:empty
			margin-left 30px
	
	&_item
		margin-right 7px
		
		&:last-child
			margin-right 0
		
		&-lightning, &-shield
			position relative
			top 1px
	
	&-companyComment
		.UserIcons_item
			margin-right 9px
			
			&:last-child
				margin-right 0