.VacancyBlock
	display flex
	justify-content space-between
	align-items center
	padding-top 12px
	padding-bottom 12px
	
	&_title
		margin-bottom 3px
		font-weight 500
		font-size 16px
	
	&_workplace
		font-size 13px
		line-height 1.53846
		color #999999