.WorkersBanner
	padding 36px 0
	background #399bca url("../img/bg_workers_banner.png") 83% 0 / 768px auto no-repeat
	color $white
	
	@media $smPlus
		padding 60px 0 80px
		background-position 93% 0
		background-size 1024px auto
	
	@media $md
		padding 121px 0 224px
		background-position center 0
		background-size cover
	
	&_title
		margin-bottom 155px
		font-weight 600
		font-size 22px
		line-height 1.37
		
		@media $smMinus
			text-align center
		
		@media $smPlus
			font-size 38px
		
		@media $md
			width 590px
			margin-bottom 23px
			font-size 56px
			line-height 64px
	
	&_text
		font-size 15px
		line-height 24px
		
		@media $md
			width 460px