.WriteUs
	background #F7F9FA
	
	@media $xs
		background $white
	
	@media $smPlus
		display flex
		align-items center
		padding-top 20px
		padding-bottom 20px
	
	&_container
		// padding-top 92px
		// padding-bottom 79px
		
		@media $xs
			padding-top 46px
			padding-bottom 49px
	
	&_title
		margin-bottom 0.8611em
		font-weight 600
		font-size 36px
		line-height 1.278
		text-align center
		
		@media $mdMinus
			font-size 32px
		
		@media $smMinus
			font-size 28px
		
		@media $xs
			margin-bottom 27px
			font-size 24px