.ActionLinks.ActionLinks-twocol
	ul.ActionLinks_list
		li.ActionLinks_item
			a(href="#").ActionLinks_link.ActionLinks_link-btn.ActionLinks_link-blue
				//- include /includes/svg/SvgIco/icon_question
				span.ActionsLinks_linkText Спросить
		li.ActionLinks_item
			a(href="#").ActionLinks_link.ActionLinks_link-btn.ActionLinks_link-green
				//- include /includes/svg/SvgIco/icon_advice
				span.ActionsLinks_linkText Посоветовать
		li.ActionLinks_item
			a(href="#").ActionLinks_link.ActionLinks_link-btn
				//- include /includes/svg/SvgIco/icon_tell
				span.ActionsLinks_linkText Рассказать
		li.ActionLinks_item
			a(href="#").ActionLinks_link.ActionLinks_link-btn.ActionLinks_link-orange
				//- include /includes/svg/SvgIco/icon_warning
				span.ActionsLinks_linkText Предупредить