.AdvantagesRating
	.AdvantagesRating_header.hidden-smPlus
		.AdvantagesRating_photoWrapper
			img(src="img/companyblock_logo.png", alt="Sony Corporation").AdvantagesRating_photo
		.AdvantagesRating_headerRight
			h3.AdvantagesRating_title Sony Corporation
			.AdvantagesRating_subTitle детальная оценка
	ul.AdvantagesRating_list
		li.AdvantagesRating_item
			span.AdvantagesRating_icon
				include /includes/svg/SvgIco/icon_star
			span.AdvantagesRating_mark.AdvantagesRating_mark-single 8.7
			span.AdvantagesRating_text качество обслуживания и поддержки
		li.AdvantagesRating_item
			span.AdvantagesRating_icon
				include /includes/svg/SvgIco/icon_star
			span.AdvantagesRating_mark.AdvantagesRating_mark-single 8.8
			span.AdvantagesRating_text достоверность информации о работе
		li.AdvantagesRating_item
			span.AdvantagesRating_icon
				include /includes/svg/SvgIco/icon_star
			span.AdvantagesRating_mark.AdvantagesRating_mark-single 4.2
			span.AdvantagesRating_text достоверность информации о жилье
		li.AdvantagesRating_item
			span.AdvantagesRating_icon
				include /includes/svg/SvgIco/icon_star
			span.AdvantagesRating_mark.AdvantagesRating_mark-single 8.0
			span.AdvantagesRating_text соблюдение сроков изготовления документов
		li.AdvantagesRating_item
			span.AdvantagesRating_icon
				include /includes/svg/SvgIco/icon_star
			span.AdvantagesRating_mark.AdvantagesRating_mark-single 9.9
			span.AdvantagesRating_text качество полученных документов или услуг