.ArticleMenu
	ul.ArticleMenu_menu
		li.ArticleMenu_item.ArticleMenu_item-expanded
			a(href="#").ArticleMenu_link Польша
			ul.ArticleMenu_subMenu
				li.ArticleMenu_subItem
					a(href="#").ArticleMenu_subLink.ArticleMenu_subLink-active Список объектов
				li.ArticleMenu_subItem
					a(href="#").ArticleMenu_subLink.ArticleMenu_subLink-active JSON-схема
				li.ArticleMenu_subItem
					a(href="#").ArticleMenu_subLink.ArticleMenu_subLink-active Компьютерная техника
				li.ArticleMenu_subItem
					a(href="#").ArticleMenu_subLink.ArticleMenu_subLink-active Одежда, обувь и аксессуары
				li.ArticleMenu_subItem
					a(href="#").ArticleMenu_subLink.ArticleMenu_subLink-active Спорт и отдых
		li.ArticleMenu_item
			a(href="#").ArticleMenu_link Чехия
		li.ArticleMenu_item
			a(href="#").ArticleMenu_link Германия