.MobilePopup.MobilePopup-largeIndent#BookmarkSettingsPopup
	.Overlay
	.MobilePopup_wrapper
		.MobilePopup_header
			h3.MobilePopup_title Настройки закладки
			a(href="javascript:;", data-action="closeMobilePopup").MobilePopup_close
				include /includes/svg/icon_close
		.MobilePopup_notificationSettings
			.NotificationSettingsItem.NotificationSettingsItem-company.MobilePopup_notificationSettingsItem
				.NotificationSettingsItem_info
					.NotificationSettingsItem_infoWrapper
						.NotificationSettingsItem_description Уведомления о записях
						label.Switch.NotificationSettingsItem_switch
							input(type="checkbox" name="company_notifications" id="on" value="on", data-action="bookmarkNotificationSwitch").Switch_checkbox
							span.Switch_slider
			a(href="javascript:;", data-action="removeBookmark").NotificationSettingsItem.NotificationSettingsItem-company.MobilePopup_notificationSettingsItem
				.NotificationSettingsItem_description Удалить из закладок
		.MobilePopup_btnWrapper
			a(href="javascript:;", data-action="closeMobilePopup").BtnGrey.BtnGrey-mobilePopupWrite.MobilePopup_btn Закрыть