.MobilePopup.MobilePopup-largeIndent.MobilePopup-changeInfo#BookVacancyPopup
	.Overlay
	.MobilePopup_wrapper
		.MobilePopup_header
			h3.MobilePopup_title Забронировать вакансию
			a(href="javascript:;", data-action="closeMobilePopup").MobilePopup_close
				include /includes/svg/icon_close
		.MobilePopup_text.MobilePopup_text-smallIndent Для бесплатного бронирования вакансии Работа на INPOST свяжитесь с нами удобным для вас способом.
		.MobilePopup_btnWrapper
			a(href="#WriteMessagePopup", data-action="openMobilePopup").BtnBlue.BtnBlue-mobilePopupLogin.MobilePopup_btn Написать
			a(href="#CallPopup", data-action="openMobilePopup").BtnGrey.BtnGrey-mobilePopup.MobilePopup_btn Позвонить