.CompanyAdding.CompanyAdding-default#CompanyAdding(style="display: none;")
	.MobileHeader.hidden-smPlus
		a(href="javascript:;", data-fancybox-close).BtnBack.BtnBack-noBack.MobileHeader_btnBack
			include /includes/svg/SvgIco/arrow_left
		h2.MobileHeader_title Кого вы хотите добавить?
	h2.CompanyAdding_title.hidden-xs Кого вы хотите добавить?
	.CompanyAdding_main
		form(action="#").CompanySettings.CompanySettings-addingCompany.CompanySettings-addingCompanyDefault
			.ProfileTypes.CompanyAdding_profileTypes
				a(href="javascript:;" data-profile-type="agency").ProfileType.ProfileTypes_item
					.ProfileType_icon
						include /includes/svg/SvgIco/profile_types/agency
					.ProfileType_title Агенцию
				a(href="javascript:;" data-profile-type="flp").ProfileType.ProfileType-flp.ProfileTypes_item
					.ProfileType_icon
						include /includes/svg/SvgIco/profile_types/flp
					.ProfileType_title ФЛП
			input(type="hidden" name="profile_type")
			.CompanySettings_fields
				.CompanySettings_field
					label(for="company_name").CompanySettings_label Название
					.CompanySettings_fieldContent
						input(type="text", name="company_name", id="company_name", value="Sony Corporation", minlength="2", maxlength="45", required).CompanySettings_formText.CompanySettings_formText-fullWidth
					a(href="javascript:;").CompanyInfo.CompanySettings_autoComplete.hidden
						.CompanyInfo_logo
							img(src="/img/companyblock_logo.png", alt="Sony Corporation").CompanyInfo_logoImg
						.CompanyInfo_wrapper
							h4.CompanyInfo_name Sony Corporation
							.Rating.Rating-companyInfo
								span.Rating_icon
									include /includes/svg/SvgIco/icon_star
								span.Rating_number 7,5
								span.Rating_max / 10
				.CompanySettings_field
					label.CompanySettings_label Страна
					.CompanySettings_fieldContent
						.DropdownSelect.DropdownSelect-companySettings.DropdownSelect-companyAdding.CompanySettings_dropdownSelect.CompanySettings_dropdownSelect-fullWidth
							select(name="country_id").DropdownSelect_select
								option(value="none") Выберите
								option(value="uk") Украина
								option(value="ru") Россия
								option(value="by") Беларусь
								option(value="kz") Казахстан
				.CompanySettings_field
					label(for="company_website").CompanySettings_label Веб-сайт
					.CompanySettings_fieldContent
						input(type="text", name="company_website", id="company_website").CompanySettings_formText.CompanySettings_formText-fullWidth
			.CompanySettings_actions
				button(type="submit").BtnBlue.BtnBlue-addCompanyPopup.CompanySettings_addButton Добавить
				a(href="javascript:;", data-fancybox-close).CompanySettings_link.CompanySettings_link-cancel.hidden-xs Отмена