.PopupMenu.PopupMenu-fixedText.PopupMenu-topRight.PopupMenu-contact#ContactPopupMenu
	.PopupMenu_overlay
	.PopupMenu_wrapper
		ul.PopupMenu_menu
			li.PopupMenu_item
				a(href="#CallPopup", data-action="openMobilePopup").PopupMenu_link.PopupMenu_link-iconWrapper Позвонить
					span.PopupMenu_icon
						include /includes/svg/contacts/phone
			li.PopupMenu_item
				a(href="#WriteMessagePopup", data-action="openMobilePopup").PopupMenu_link.PopupMenu_link-iconWrapper Написать
					span.PopupMenu_icon
						include /includes/svg/contacts/message