.Contacts.Company_contacts
	h3.Contacts_title.hidden Контакты
	ul.Contacts_list
		li.Contacts_item
			span.Contacts_icon
				include /includes/svg/contacts/flag_ua
			span.Contacts_text Украина
		li.Contacts_item
			span.Contacts_icon
				include /includes/svg/contacts/location
			span.Contacts_text г. Киев, ул. Крещатик 117, оф. 17 Б #[br]г. Харьков, Харьковская наб., 16
		li.Contacts_item
			span.Contacts_icon
				include /includes/svg/contacts/clock
			span.Contacts_text Пн–Пт: 9:00–18:00, без перерыва #[br]Сб–Вс: 10:00–17:00, без перерыва
		li.Contacts_item
			span.Contacts_icon
				include /includes/svg/contacts/phone
			span.Contacts_text +38 098 765 43 21 #[br]+38 098 765 43 21
		li.Contacts_item
			span.Contacts_icon.Contacts_icon-link
				include /includes/svg/contacts/link
			span.Contacts_text
				a(href="http://www.sony.com", target="_blank").Contacts_link www.sony.com
		li.Contacts_item
			span.Contacts_icon
				include /includes/svg/contacts/info
			span.Contacts_text Сущность и концепция маркетинговой программы интегрирована – молодежная аудитория
		li.Contacts_item
			span.Contacts_icon
				include /includes/svg/SvgIco/icon_user
			span.Contacts_text Марисюк Андрий Миколайович
		li.Contacts_item
			span.Contacts_icon
				include /includes/svg/contacts/license
			span.Contacts_text
				a(href="http://google.com", target="_blank").Contacts_link лицензия