.PopupMenu.PopupMenu-paddingLeft#CountriesPopupMenu
	.PopupMenu_overlay
	.PopupMenu_wrapper
		ul.PopupMenu_menu
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link.active Все страны
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link Чехия
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link Польша