.DossierFilter
	h2.DossierFilter_title Фильтр
	.DossierFilter_group
		h3.DossierFilter_groupTitle Категории
		.CheckboxList
			.Checkbox.Checkbox-square.CheckboxList_item
				input(type="checkbox", name="categories", id="companies", value="companies").Checkbox_input
				label(for="companies").Checkbox_label компании
			.Checkbox.Checkbox-square.CheckboxList_item
				input(type="checkbox", name="categories", id="vacancies", value="vacancies").Checkbox_input
				label(for="vacancies").Checkbox_label вакансии
			.Checkbox.Checkbox-square.CheckboxList_item
				input(type="checkbox", name="categories", id="comments", value="comments").Checkbox_input
				label(for="comments").Checkbox_label комментарии