.MobilePopup#ExtraMenuPopup
	.Overlay
	.MobilePopup_wrapper
		.MobilePopup_header
			h3.MobilePopup_title Дополнительно
			a(href="javascript:;", data-action="closeMobilePopup").MobilePopup_close
				include /includes/svg/icon_close
		.ActionMenu
			ul.ActionMenu_menu
				li.ActionMenu_item
					a(href="javascript:;", data-action="share").ActionMenu_link
						include /includes/svg/SvgIco/share_mob
						span.ActionMenu_linkInner Поделиться с друзьями
				li.ActionMenu_item
					a(href="javascript:;").ActionMenu_link.ActionMenu_link-copy
						include /includes/svg/SvgIco/copy_reverse
						span.ActionMenu_linkInner Скопировать ссылку
				li.ActionMenu_item
					a(href="#ChangeInfoPopup", data-action="openMobilePopup").ActionMenu_link
						include /includes/svg/SvgIco/company_edit
						span.ActionMenu_linkInner Изменить информацию
				li.ActionMenu_item
					a(href="#ComplaintPopup", data-action="openMobilePopup").ActionMenu_link
						include /includes/svg/SvgIco/warning
						span.ActionMenu_linkInner Пожаловаться
		//- input(type="text", name="copy_link_mob").MobilePopup_pageUrl.hidden