.Popup.Popup-blockLike#LikePopup(style="display: none;")
	.BlockLike.BlockLike-popup
		h3.BlockLike_title
			include /includes/svg/SvgIco/like
			span.BlockLike_titleText Понравилось?
		.BlockLike_content Чтобы поставить отметку, #[a(href="/login").Link войдите] или #[a(href="/register").Link зарегистрируйтесь]