.Popup#LoginPopup(style="display: none;")
	h3.Popup_title Вход
	form(action="#").Form.Form-loginPopup
		.Form_item
			input(type="email", name="email2", id="email2", placeholder="Email").FormText.FormText-loginPopup
		.Form_item
			input(type="password", name="password2", id="password2", placeholder="Пароль").FormText.FormText-loginPopup
		.Form_actions
			button(type="submit").BtnOrange.BtnOrange-loginPopup Вход
	.Popup_fbLogin
		img(src="/img/facebook_login.jpg", alt="")
	.Popup_actionLinks
		a(href="javascript:;", data-src="#RegistrationPopup").Popup_actionLink.OpenPopupLink Регистрация
		a(href="/password_recovery.html").Popup_actionLink Забыли пароль?