.PopupMenu.PopupMenu-center#LoginPopupMenu
	.PopupMenu_overlay
	.PopupMenu_wrapper
		.LoginMenu
			ul.LoginMenu_menu
				li.LoginMenu_item
					a(href="/login").LoginMenu_link Войти
				li.LoginMenu_item
					a(href="/login").LoginMenu_link Зарегистрироваться
		//- ul.PopupMenu_menu
		//- 	li.PopupMenu_item
		//- 		a(href="javascript:;").PopupMenu_link.active Новое
		//- 	li.PopupMenu_item
		//- 		a(href="javascript:;").PopupMenu_link Популярное
		//- 	li.PopupMenu_item
		//- 		a(href="javascript:;").PopupMenu_link Вопросы
		//- 	li.PopupMenu_item
		//- 		a(href="javascript:;").PopupMenu_link Советы
		//- 	li.PopupMenu_item
		//- 		a(href="javascript:;").PopupMenu_link Рассказы
		//- 	li.PopupMenu_item
		//- 		a(href="javascript:;").PopupMenu_link Предупреждения
//- .Popup.Popup-loginMenu#LoginPopupMenu(style="display: none;")
//- 	.LoginMenu
//- 		ul.LoginMenu_menu
//- 			li.LoginMenu_item
//- 				a(href="/login").LoginMenu_link Войти
//- 			li.LoginMenu_item
//- 				a(href="/login").LoginMenu_link Зарегистрироваться