.MenuSection.MenuSection-save.Main_menuSection
	.MenuSection_left
		.CategoryMenu.CategoryMenu-save
			ul.CategoryMenu_menu
				li.CategoryMenu_item
					a(href="/my_save.html").CategoryMenu_link Темы
				li.CategoryMenu_item
					a(href="/saved_news.html").CategoryMenu_link Новости
				li.CategoryMenu_item
					a(href="/saved_articles.html").CategoryMenu_link Статьи
				li.CategoryMenu_item
					a(href="/saved_employers.html").CategoryMenu_link Работодатели
	.MenuSection_right.hidden-xs
		.MenuSection_selectWrapper
			select.Select.Select-filterBlock(name="sorting")
				option(value="new_first") Сначала новые
				option(value="first_old") Сначала старые
		.SaveFilter.MenuSection_saveFilter.hidden
			a(href="javascript:;").SaveFilter_icon
				include /includes/svg/SvgIco/flag
			.SaveFilter_menu
				li.SaveFilter_item
					a(href="#").SaveFilter_link.SaveFilter_link-active
						include /includes/svg/SvgIco/flag
						.
							Все темы
				li.SaveFilter_item
					a(href="#").SaveFilter_link.SaveFilter_link-notifications
						include /includes/svg/SvgIco/bell_check
						.
							С уведомлениями
.PopupMenuLinks.Main_popupMenuLinks.hidden-smPlus.hidden
	a(href="#PopupMenuSaveFilter").SelectionLink.PopupMenuLinks_link.PopupMenuLink Все темы
	a(href="#PopupMenuSorting").SelectionLink.PopupMenuLinks_link.PopupMenuLink Новые
.PopupMenu.PopupMenu-paddingLeft#PopupMenuSaveFilter
	.PopupMenu_overlay
	.PopupMenu_wrapper
		ul.PopupMenu_menu
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link.active Все темы
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link С уведомлениями
.PopupMenu#PopupMenuSorting
	.PopupMenu_overlay
	.PopupMenu_wrapper
		ul.PopupMenu_menu
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link.active Новые
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link Старые