.MenuSection.MenuSection-companySettings.Main_menuSection.hidden-smPlus
	.CategoryMenu.CategoryMenu-companySettings
		ul.CategoryMenu_menu
			li.CategoryMenu_item
				a(href="/basic_company_settings.html").CategoryMenu_link Информация
			li.CategoryMenu_item
				a(href="/profile_company_settings.html").CategoryMenu_link О компании
			li.CategoryMenu_item
				a(href="/company_verification.html").CategoryMenu_link Верификация