.MenuSection.MenuSection-company.Company_menuSection
	.CategoryMenu.CategoryMenu-company
		ul.CategoryMenu_menu
			li.CategoryMenu_item
				a(href="/company.html").CategoryMenu_link Общая информация
			li.CategoryMenu_item
				a(href="/company_about.html").CategoryMenu_link О компании
			li.CategoryMenu_item
				a(href="/company_reviews.html").CategoryMenu_link Отзывы (55)
			li.CategoryMenu_item
				a(href="/company_vacancies.html").CategoryMenu_link Вакансии (3)
			li.CategoryMenu_item
				a(href="/company_dossier.html").CategoryMenu_link Досье
			li.CategoryMenu_item
				a(href="/company_photos.html").CategoryMenu_link Фотографии (10)