//- .MenuSection.Main_menuSection
//- 	.MenuSection_left
//- 		.CategoryMenu#ActionsMenu
//- 			ul.CategoryMenu_menu
//- 				li.CategoryMenu_item
//- 					a(href="#").CategoryMenu_link Спросить
//- 				li.CategoryMenu_item
//- 					a(href="#").CategoryMenu_link Посоветовать
//- 				li.CategoryMenu_item
//- 					a(href="#").CategoryMenu_link Рассказать
//- 				li.CategoryMenu_item
//- 					a(href="#").CategoryMenu_link Предупредить
.MenuSection.Main_menuSection.hidden-xs
	.MenuSection_left
		.CategoryMenu
			ul.CategoryMenu_menu
				li.CategoryMenu_item
					a(href="#").CategoryMenu_link.active Новое
				li.CategoryMenu_item
					a(href="#").CategoryMenu_link Вопросы
				li.CategoryMenu_item
					a(href="#").CategoryMenu_link Советы
				li.CategoryMenu_item
					a(href="#").CategoryMenu_link Рассказы
				li.CategoryMenu_item
					a(href="#").CategoryMenu_link Предупреждения