.MenuSection.Company_menuSection
	.CategoryMenu.CategoryMenu-company
		ul.CategoryMenu_menu
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link.active Общая информация
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link О компании
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link Отзывы (55)
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link Вакансии (3)
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link Фотографии (10)