.MenuSection.MenuSection-company.Company_menuSection
	.CategoryMenu.CategoryMenu-company
		ul.CategoryMenu_menu
			li.CategoryMenu_item
				a(href="/company.html").CategoryMenu_link Общая информация
			li.CategoryMenu_item
				a(href="/company_about.html").CategoryMenu_link О компании
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link Отзывы
					span.CategoryMenu_count.hidden-xs  (55)
					span.CategoryMenu_count.hidden-smPlus  55
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link Вакансии
					span.CategoryMenu_count.hidden-xs  (3)
					span.CategoryMenu_count.hidden-smPlus  3
			li.CategoryMenu_item
				a(href="/company_dossier.html").CategoryMenu_link Досье
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link Фотографии
					span.CategoryMenu_count.hidden-xs  (10)
					span.CategoryMenu_count.hidden-smPlus  10