.FieldAddition.FieldAddition-popup#OwnerAddition(style="display: none;")
	.MobileHeader.hidden-smPlus
		a(href="javascript:;", data-fancybox-close).BtnBack.BtnBack-noBack.MobileHeader_btnBack
			include /includes/svg/SvgIco/arrow_left
		h2.MobileHeader_title Добавить владельца
	.FieldAddition_main
		.CompanySettings.CompanySettings-fieldAddition
			.CompanySettings_fields
			.CompanySettings_actions
				button(type="button").BtnBlue.BtnBlue-addCompanyPopup.CompanySettings_addButton.CompanySettings_addButton-owner Добавить владельца
				.CompanySettings_cancelLinkWrapper
					a(href="javascript:;", data-fancybox-close).CompanySettings_link.CompanySettings_link-cancel Отмена