.FieldAddition.FieldAddition-popup#OwnerEdit(style="display: none;")
	.MobileHeader.hidden-smPlus
		a(href="javascript:;", data-fancybox-close).BtnBack.BtnBack-noScript.MobileHeader_btnBack
			include /includes/svg/SvgIco/arrow_left
		h2.MobileHeader_title Редактировать владельца
	.FieldAddition_main
		form(action="#", name="owner_edit").CompanySettings.CompanySettings-fieldAddition
			.CompanySettings_fields
				.CompanySettings_field
					label(for="owner_surname3").CompanySettings_label Фамилия:
					.CompanySettings_fieldContent
						input(type="text", name="owner_surname3", id="owner_surname3", required).CompanySettings_formText.CompanySettings_formText-fullWidth
				.CompanySettings_field
					label(for="owner_name3").CompanySettings_label Имя:
					.CompanySettings_fieldContent
						input(type="text", name="owner_name3", id="owner_name3", required).CompanySettings_formText.CompanySettings_formText-fullWidth
				.CompanySettings_field
					label(for="owner_patronym3").CompanySettings_label Отчество:
					.CompanySettings_fieldContent
						input(type="text", name="owner_patronym3", id="owner_patronym3").CompanySettings_formText.CompanySettings_formText-fullWidth
			.CompanySettings_actions
				button(type="submit").BtnBlue.BtnBlue-addCompanyPopup.CompanySettings_addButton Сохранить изменения
				.CompanySettings_cancelLinkWrapper
					a(href="javascript:;", data-fancybox-close).CompanySettings_link.CompanySettings_link-cancel Отмена