.MobilePopup#PopupShare
	.Overlay
	.MobilePopup_wrapper
		.MobilePopup_header
			h3.MobilePopup_title Поделиться
			a(href="javascript:;").MobilePopup_close
				include /includes/svg/icon_close
		.ActionMenu
			ul.ActionMenu_menu
				li.ActionMenu_item
					a(href="javascript:;", data-action="share").ActionMenu_link
						include /includes/svg/SvgIco/share_mob
						span.ActionMenu_linkInner Поделиться с друзьями
				li.ActionMenu_item
					a(href="javascript:;").ActionMenu_link.ActionMenu_link-copy
						include /includes/svg/SvgIco/copy_reverse
						span.ActionMenu_linkInner Скопировать ссылку