.QuestionsBlock.WhiteSection.Aside_block
	.WhiteSection_header
		h3.Heading3.QuestionsBlock_title Популярные вопросы
	.CategoryMenu.QuestionsBlock_categoryMenu
		ul.CategoryMenu_menu
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link.CategoryMenu_link-active Сегодня
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link Вчера
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link 7 дней
			li.CategoryMenu_item
				a(href="#").CategoryMenu_link 30 дней
	.QuestionsBlock_items
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)
	.QuestionsBlock_bottom
		a(href="#").MoreLink Ещё
.QuestionsBlock.WhiteSection
	.WhiteSection_header
		h3.Heading3.QuestionsBlock_title Популярные вопросы
	.QuestionsBlock_items
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)
		.Question.QuestionsBlock_item
			h4.Question_text Днепр практически мертвый 
			.Question_responses
				include /includes/svg/SvgIco/icon_answer
					.
						Ответов (119)