.PopularTopics.hidden-smMinus
	.PopularTopics_header
		h3.PopularTopics_title Популярные темы
		.DropdownSelect.PopularTopics_dropdownSelect
			select(name="period").DropdownSelect_select
				option(value="today") Сегодня
				option(value="tomorrow") Вчера
				option(value="week") Неделя
				option(value="month") Месяц
	.PopularTopics_body
		.QuestionBlock.QuestionBlock-small.PopularTopics_item
			.QuestionBlock_header
				.QuestionBlock_headerLeft
					.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
						img(src="/img/konstantin.png", alt="Константин Константинович").UserPhoto_img
					.QuestionBlock_info
						.QuestionBlock_nameAndRating
							span.QuestionBlock_userName Константин Константинович
							a(href="javascript:;").Rating.QuestionBlock_rating
								span.Rating_icon
									include /includes/svg/SvgIco/icon_star
								span.Rating_number 17
						.QuestionBlock_date сегодня в 7:05
			h2.QuestionBlock_title.QuestionBlock_title-small
				a(href="/topic_details_authorization.html") Nemo enim ipsam voluptatem, quia voluptas sit aspernatur aut odit aut fugit sed quia magni
			.StatIcons.StatIcons-sidebarBlock
				.StatIcons_left
					ul.StatIcons_list
						li.StatIcon.StatIcons_item
							a(href="javascript:;").Like
								include /includes/svg/SvgIco/like
								span.Like_count 423
						li.StatIcon.StatIcon-answer.StatIcons_item
							a(href="/topic_details.html").StatIcon_link
								include /includes/svg/SvgIco/answer
								span.StatIcon_count 15
		.QuestionBlock.QuestionBlock-small.PopularTopics_item
			.QuestionBlock_header
				.QuestionBlock_headerLeft
					.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
						img(src="/img/anna_sergeevna.png", alt="Анна Сергеевна").UserPhoto_img
					.QuestionBlock_info
						.QuestionBlock_nameAndRating
							span.QuestionBlock_userName Анна Сергеевна
							a(href="javascript:;").Rating.QuestionBlock_rating
								span.Rating_icon
									include /includes/svg/SvgIco/icon_star
								span.Rating_number 17
						.QuestionBlock_date сегодня в 7:05
			h2.QuestionBlock_title.QuestionBlock_title-small
				a(href="/topic_details_authorization.html") Ut enim ad minim veniam, quis nostrud ullamco
			.StatIcons.StatIcons-sidebarBlock
				.StatIcons_left
					ul.StatIcons_list
						li.StatIcon.StatIcons_item
							a(href="javascript:;").Like
								include /includes/svg/SvgIco/like
								span.Like_count 423
						li.StatIcon.StatIcon-answer.StatIcons_item
							a(href="/topic_details.html").StatIcon_link
								include /includes/svg/SvgIco/answer
								span.StatIcon_count 15
		.QuestionBlock.QuestionBlock-small.PopularTopics_item
			.QuestionBlock_header
				.QuestionBlock_headerLeft
					.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
						img(src="/img/ivan_ivanov.png", alt="Иван Иванов").UserPhoto_img
					.QuestionBlock_info
						.QuestionBlock_nameAndRating
							span.QuestionBlock_userName Иван Иванов
							a(href="javascript:;").Rating.QuestionBlock_rating
								span.Rating_icon
									include /includes/svg/SvgIco/icon_star
								span.Rating_number 17
						.QuestionBlock_date сегодня в 7:05
			h2.QuestionBlock_title.QuestionBlock_title-small
				a(href="/topic_details_authorization.html") Duis aute irure dolor in reprehenderit volu tate veli esse cillum dolore pariatur
			.StatIcons.StatIcons-sidebarBlock
				.StatIcons_left
					ul.StatIcons_list
						li.StatIcon.StatIcons_item
							a(href="javascript:;").Like
								include /includes/svg/SvgIco/like
								span.Like_count 423
						li.StatIcon.StatIcon-answer.StatIcons_item
							a(href="/topic_details.html").StatIcon_link
								include /includes/svg/SvgIco/answer
								span.StatIcon_count 15
		.QuestionBlock.QuestionBlock-small.PopularTopics_item
			.QuestionBlock_header
				.QuestionBlock_headerLeft
					.UserPhoto.UserPhoto-sidebarBlock.QuestionBlock_userPhoto
						img(src="/img/vasilisa_andreevna.png", alt="Василиса Андреевна").UserPhoto_img
					.QuestionBlock_info
						.QuestionBlock_nameAndRating
							span.QuestionBlock_userName Василиса Андреевна
							a(href="javascript:;").Rating.QuestionBlock_rating
								span.Rating_icon
									include /includes/svg/SvgIco/icon_star
								span.Rating_number 17
						.QuestionBlock_date сегодня в 7:05
			h2.QuestionBlock_title.QuestionBlock_title-small
				a(href="/topic_details_authorization.html") Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
			.StatIcons.StatIcons-sidebarBlock
				.StatIcons_left
					ul.StatIcons_list
						li.StatIcon.StatIcons_item
							a(href="javascript:;").Like
								include /includes/svg/SvgIco/like
								span.Like_count 423
						li.StatIcon.StatIcon-answer.StatIcons_item
							a(href="/topic_details.html").StatIcon_link
								include /includes/svg/SvgIco/answer
								span.StatIcon_count 15