.PopupMenu.PopupMenu-paddingLeft#PopupChangeCover
	.PopupMenu_overlay
	.PopupMenu_wrapper
		h3.PopupMenu_title Изменить обложку
		ul.PopupMenu_menu
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link Загрузить фото
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link Удалить фото
			li.PopupMenu_item
				a(href="javascript:;").PopupMenu_link Отменить