.PostAddition.PostAddition-popup#PostAddition(style="display: none;")
	.MobileHeader.hidden-smPlus
		a(href="javascript:;", data-fancybox-close).BtnBack.BtnBack-noScript.MobileHeader_btnBack
			include /includes/svg/SvgIco/arrow_left
		h2.MobileHeader_title Добавление
	.PostAddition_main
		form(action="#", name="post_addition").CompanySettings.CompanySettings-postAddition
			.CompanySettings_fields
				.CompanySettings_field
					label(for="post2").CompanySettings_label Название должности:
					.CompanySettings_fieldContent
						input(type="text", name="post2", id="post2", required).CompanySettings_formText.CompanySettings_formText-fullWidth
				.CompanySettings_field
					label(for="name2").CompanySettings_label Имя:
					.CompanySettings_fieldContent
						input(type="text", name="name2", id="name2", required).CompanySettings_formText.CompanySettings_formText-fullWidth
				.CompanySettings_field
					label(for="surname2").CompanySettings_label Фамилия:
					.CompanySettings_fieldContent
						input(type="text", name="surname2", id="surname2", required).CompanySettings_formText.CompanySettings_formText-fullWidth
				.CompanySettings_field
					label(for="patronym2").CompanySettings_label Отчество:
					.CompanySettings_fieldContent
						input(type="text", name="patronym2", id="patronym2", required).CompanySettings_formText.CompanySettings_formText-fullWidth
			.CompanySettings_actions
				button(type="submit").BtnBlue.BtnBlue-addCompanyPopup.CompanySettings_addButton Добавить должность
				.CompanySettings_cancelLinkWrapper
					a(href="javascript:;", data-fancybox-close).CompanySettings_link.CompanySettings_link-cancel Отмена