.FieldAddition.FieldAddition-popup#PostAddition(style="display: none;")
	.MobileHeader.hidden-smPlus
		a(href="javascript:;", data-fancybox-close).BtnBack.BtnBack-noBack.MobileHeader_btnBack
			include /includes/svg/SvgIco/arrow_left
		h2.MobileHeader_title Добавить должность
	.FieldAddition_main
		.CompanySettings.CompanySettings-fieldAddition
			.CompanySettings_fields
				.CompanySettings_field
					label(for="personPost").CompanySettings_label Название должности:
					.CompanySettings_fieldContent
						input(type="text", name="person[][post]", id="personPost", required, form="CompanySettingsForm").CompanySettings_formText.CompanySettings_formText-fullWidth
				.CompanySettings_field
					label(for="personLastName").CompanySettings_label Фамилия:
					.CompanySettings_fieldContent
						input(type="text", name="person[][last_name]", id="personLastName", required, form="CompanySettingsForm").CompanySettings_formText.CompanySettings_formText-fullWidth
				.CompanySettings_field
					label(for="personFirstName").CompanySettings_label Имя:
					.CompanySettings_fieldContent
						input(type="text", name="person[][first_name]", id="personFirstName", required, form="CompanySettingsForm").CompanySettings_formText.CompanySettings_formText-fullWidth
				.CompanySettings_field
					label(for="personPatronymic").CompanySettings_label Отчество:
					.CompanySettings_fieldContent
						input(type="text", name="person[][patronymic]", id="personPatronymic", form="CompanySettingsForm").CompanySettings_formText.CompanySettings_formText-fullWidth
			.CompanySettings_actions
				button(type="button").BtnBlue.BtnBlue-addCompanyPopup.CompanySettings_addButton.CompanySettings_addButton-post Добавить должность
				.CompanySettings_cancelLinkWrapper
					a(href="javascript:;", data-fancybox-close).CompanySettings_link.CompanySettings_link-cancel Отмена