.ProfileVerification
	.ProfileVerification_icon
		include /includes/svg/SvgIco/ok
	.ProfileVerification_text
		p Верификация - необязательная процедура, которая выполняется для повышения доверия к вашему аккаунту среди пользователей INFOZA, получения дополнительной защиты профиля, а так же для увеличения личного рейтинга.
		p Прохождение верификации полностью бесплатное.
		p Для получения статуса верифицированного аккаунта вам необходимо подтвердить контактный телефон и свою личность, предоставив соответствующие документы.
		p После завершения верификации все пользователи увидят специальный значок возле вашего имени, который будет обозначать, что вы подтвердили свою личность. Так же, весь последующий получаемый рейтинг для верифицированных пользователей всегда начисляется с двукратным увеличением.
		p Для прохождения верификации напишите на почту #[a(href="mailto:verify@infoza.top") verify@infoza.top]