.Tabs.Tabs-profileMenu
	ul.Tabs_list
		li.Tabs_item.Tabs_item-gutterRight.Tabs_item-active Пользователь
		li.Tabs_item.Tabs_item-gutterLeft Работодатель
	.Tabs_container
		.Tabs_content(style="display: block;")
			.SidebarMenu.SidebarMenu-profileMenu.hidden-smMinus
				ul.SidebarMenu_menu
					li.SidebarMenu_item
						a(href="/my_topics.html").SidebarMenu_link Мои темы
					li.SidebarMenu_item
						a(href="/profile_messages.html").SidebarMenu_link Мои сообщения
					li.SidebarMenu_item
						a(href="#").SidebarMenu_link Мои ответы
						//- span.Quantity.SidebarMenu_number 10
					li.SidebarMenu_item
						a(href="/profile_invite.html").SidebarMenu_link Мои приглашения
					li.SidebarMenu_item
						a(href="/profile_rating.html").SidebarMenu_link Мои рейтинг
					li.SidebarMenu_item
						a(href="/my_notifications.html").SidebarMenu_link Мои уведомления
					li.SidebarMenu_item
						a(href="/my_save.html").SidebarMenu_link Мои сохранения
					li.SidebarMenu_item
						a(href="/profile_settings.html").SidebarMenu_link Мои настройки
					li.SidebarMenu_item
						a(href="#").SidebarMenu_link Выход
		.Tabs_content
			.SidebarMenu.SidebarMenu-profileMenu.hidden-smMinus
				ul.SidebarMenu_menu
					li.SidebarMenu_item
						a(href="/companies.html").SidebarMenu_link Мои компании
					li.SidebarMenu_item
						a(href="#").SidebarMenu_link Статистика
					li.SidebarMenu_item
						a(href="/profile_balance.html").SidebarMenu_link Баланс и операции
					li.SidebarMenu_item
						a(href="/profile_rating.html").SidebarMenu_link Premium функции
					li.SidebarMenu_item
						a(href="#").SidebarMenu_link Выход