.QuestionTags
	.QuestionTags_title.hidden-smPlus Теги
	ul.QuestionTags_list
		li.QuestionTags_item
			span.QuestionTags_itemText польша работа
			a(href="#").QuestionTags_removeLink
				include /includes/svg/SvgIco/icon_close
		li.QuestionTags_item
			span.QuestionTags_itemText новости
			a(href="#").QuestionTags_removeLink
				include /includes/svg/SvgIco/icon_close
		li.QuestionTags_item
			span.QuestionTags_itemText польше
			a(href="#").QuestionTags_removeLink
				include /includes/svg/SvgIco/icon_close