.SettingsMenu
	ul.SettingsMenu_menu
		li.SettingsMenu_item
			a(href="/profile_company_settings.html").SettingsMenu_link.SettingsMenu_link-expanded Настройки
			ul.SettingsMenu_subMenu
				li.SettingsMenu_subMenuItem
					a(href="/basic_company_settings.html").SettingsMenu_subMenuLink Основная информация
				li.SettingsMenu_subMenuItem
					a(href="/profile_company_settings.html").SettingsMenu_subMenuLink О компании
				li.SettingsMenu_subMenuItem
					a(href="#").SettingsMenu_subMenuLink Верификация
				li.SettingsMenu_subMenuItem
					a(href="/company_profile_cover.html").SettingsMenu_subMenuLink Обложка
				li.SettingsMenu_subMenuItem
					a(href="/profile_contact_buttons.html").SettingsMenu_subMenuLink Кнопка связи
		li.SettingsMenu_item
			a(href="/my_vacancies.html").SettingsMenu_link.SettingsMenu_link-expanded Вакансии
			ul.SettingsMenu_subMenu
				li.SettingsMenu_subMenuItem
					a(href="/my_vacancies.html").SettingsMenu_subMenuLink Все вакансии
				li.SettingsMenu_subMenuItem
					a(href="/add_vacancy.html").SettingsMenu_subMenuLink Добавить вакансию
		li.SettingsMenu_item
			a(href="/my_services.html").SettingsMenu_link.SettingsMenu_link-expanded Услуги
			ul.SettingsMenu_subMenu
				li.SettingsMenu_subMenuItem
					a(href="/my_services.html").SettingsMenu_subMenuLink Все услуги
				li.SettingsMenu_subMenuItem
					a(href="/add_service.html").SettingsMenu_subMenuLink Добавить услугу
		li.SettingsMenu_item
			a(href="/participants.html").SettingsMenu_link Участники
		li.SettingsMenu_item
			a(href="/profile_messages.html").SettingsMenu_link Сообщения