.SettingsMenu
	ul.SettingsMenu_menu
		li.SettingsMenu_item
			a(href="/profile_company_settings.html").SettingsMenu_link.SettingsMenu_link-expanded Настройки
			ul.SettingsMenu_subMenu
				li.SettingsMenu_subMenuItem
					a(href="/basic_company_settings.html").SettingsMenu_subMenuLink Основная информация
				li.SettingsMenu_subMenuItem
					a(href="/profile_company_settings.html").SettingsMenu_subMenuLink О компании
				li.SettingsMenu_subMenuItem
					a(href="#").SettingsMenu_subMenuLink Верификация
				li.SettingsMenu_subMenuItem
					a(href="/company_profile_cover.html").SettingsMenu_subMenuLink Обложка
		li.SettingsMenu_item
			a(href="/profile_messages.html").SettingsMenu_link Сообщения