.SidebarMenu#SidebarMenu
	ul.SidebarMenu_menu
		li.SidebarMenu_item.SidebarMenu_item-hasSubMenu
			a(href="#").SidebarMenu_link Польша
			ul.SidebarMenu_subMenu
				li.SidebarMenu_subItem
					a(href="#").SidebarMenu_subLink Список объектов
				li.SidebarMenu_subItem
					a(href="#").SidebarMenu_subLink JSON-схема
				li.SidebarMenu_subItem
					a(href="#").SidebarMenu_subLink Товары для дома
				li.SidebarMenu_subItem
					a(href="#").SidebarMenu_subLink Компьютерная техника
				li.SidebarMenu_subItem
					a(href="#").SidebarMenu_subLink Одежда, обувь и аксессуары
				li.SidebarMenu_subItem
					a(href="#").SidebarMenu_subLink Спорт и отдых
		li.SidebarMenu_item
			a(href="#").SidebarMenu_link Чехия
		li.SidebarMenu_item
			a(href="#").SidebarMenu_link Германия