.SidebarMenu#SidebarMenu
	ul.SidebarMenu_menu
		li.SidebarMenu_item.SidebarMenu_item-hasSubMenu
			a(href="#").SidebarMenu_link Авто
			ul.SidebarMenu_subMenu
				li.SidebarMenu_subItem.SidebarMenu_subItem-active
					a(href="#").SidebarMenu_subLink Список объектов
					ul.SidebarMenu_subMenu
						li.SidebarMenu_subItem
							a(href="#").SidebarMenu_subLink Возвращаемые ошибки
							ul.SidebarMenu_subMenu
								li.SidebarMenu_subItem
									a(href="#").SidebarMenu_subLink Возвращаемые ошибки
				li.SidebarMenu_subItem
					a(href="#").SidebarMenu_subLink JSON-схема
		li.SidebarMenu_item
			a(href="#").SidebarMenu_link Товары для дома
		li.SidebarMenu_item
			a(href="#").SidebarMenu_link Компьютерная техника
		li.SidebarMenu_item
			a(href="#").SidebarMenu_link Одежда, обувь и аксессуары
		li.SidebarMenu_item
			a(href="#").SidebarMenu_link Спорт и отдых