.Timer(data-datetime="2020/01/12")
	.Timer_item.Timer_item-days
		.Timer_itemNumber
			span.Timer_digit.Timer_digit-tens
			span.Timer_digit.Timer_digit-units
		.Timer_itemLabel Дні
	.Timer_item.Timer_item-hours
		.Timer_itemNumber
			span.Timer_digit.Timer_digit-tens
			span.Timer_digit.Timer_digit-units
		.Timer_itemLabel Години
	.Timer_item.Timer_item-minutes
		.Timer_itemNumber
			span.Timer_digit.Timer_digit-tens
			span.Timer_digit.Timer_digit-units
		.Timer_itemLabel Хвилини
	.Timer_item.Timer_item-seconds
		.Timer_itemNumber
			span.Timer_digit.Timer_digit-tens
			span.Timer_digit.Timer_digit-units
		.Timer_itemLabel Секунди