form(action="#").TopicCreationForm
	.TopicCreationForm_item
		label(for="topic_title").TopicCreationForm_label.hidden-smPlus О чём вы хотите спросить?
		input(type="text", name="topic_title", id="topic_title" placeholder="О чём хотите спросить?").FormText.FormText-topicCreationForm
	.TopicCreationForm_item
		label(for="answer").TopicCreationForm_label.hidden-smPlus Опишите подробно ваш вопрос
		textarea(name="answer", id="answer" placeholder="Опишите подробно ваш вопрос…").FormTextarea.FormTextarea-topicCreationForm
	.ImageUpload.ImageUpload-topicCreation
		input(type="file", name="attach_img", id="attach_img", multiple).ImageUpload_input
		label(for="attach_img").ImageUpload_label
			span.hidden-xs
				include /includes/svg/SvgIco/icon_camera
			span.hidden-smPlus
				include /includes/svg/SvgIco/icon_image
		label(for="attach_img").ImageUpload_text.hidden-xs Добавить фото
		label(for="attach_img").ImageUpload_text.hidden-smPlus Добавьте изображение
	include /includes/blocks/QuestionTags
	.TopicCreationForm_actions
		button(type="submit").BtnOutline.hidden-xs Опубликовать вопрос
		button(type="submit").BtnOrange.BtnOrange-topicCreationForm.hidden-smPlus Опубликовать вопрос