.TopicsHeader.TopicsHeader-myTopics
	.TopicsHeader_left.hidden-xs
		h3.Heading3 Темы, которые вы создали
	.TopicsHeader_right
		a(href="javascript:;").BtnOutline.BtnOutline-blue Создать тему
	//- 	a(href="javascript:;").FilterButton#topics_filter