.TopMenu
	ul.TopMenu_menu
		li.TopMenu_item
			a(href="#").TopMenu_link Общение
		li.TopMenu_item
			a(href="/dossier.html").TopMenu_link Досье
		li.TopMenu_item
			a(href="/article_feed.html").TopMenu_link База знаний
		li.TopMenu_item
			a(href="/news_feed.html").TopMenu_link Новости
		li.TopMenu_item
			a(href="#").TopMenu_link О проекте