.UserMenu#UserMenu
	ul.UserMenu_list
		li.UserMenu_item
			a(href="/post_question.html").UserMenu_link
				include /includes/svg/SvgIco/icon_home
				span.UserMenu_linkText Главная
		li.UserMenu_item
			a(href="/my_topics.html").UserMenu_link
				include /includes/svg/SvgIco/icon_list
				span.UserMenu_linkText Мои темы
		li.UserMenu_item
			a(href="/my_notifications.html").UserMenu_link
				include /includes/svg/SvgIco/icon_bell2
				span.UserMenu_linkText Мои уведомления
		li.UserMenu_item
			a(href="/profile_settings.html").UserMenu_link
				include /includes/svg/SvgIco/icon_settings
				span.UserMenu_linkText Мои настройки